[2018-12-28 03:17] KFlash commented on #261
@cherow/cherow-team The beta will probably land earlier than expected. I'm now working on finalizing the code so I can push it :) In the upcoming beta. Don't expect everything to fail as it should, and I also know about a few bugs. But at least the beta will give a "taste" of what Cherow 2.0 will become.

[2018-12-28 12:13] #178 closed

[2018-12-28 12:48] #133 closed

[2018-12-28 12:49] #262 closed

[2018-12-28 12:49] #190 closed

[2018-12-28 18:18] coderaiser opened #273 "Using cherow with @babel/traverse"
Hi, thank you for a great parser :), I'm working on tool that [finds and removes unused variables](https://github.com/coderaiser/putout) and I'm interested on using parsers different from `@babel/parser` because I need to keep source code as untouched as possible and use `recast` for this purpose, but it has problem with `@babel/parser` and `strict mode` (https://github.com/benjamn/recast/issues/5

[2018-12-28 20:03] KFlash commented on #273
cc / @fkleuver Could you take over this one?

[2018-12-29 03:32] fkleuver commented on #273
@coderaiser Thanks for describing the issue in detail and providing a code sample. You are on point about Babel not knowing about `Property`.

Two issues with this code:
[code]

- Because `@babel/traverse` doesn't know about `Property`, it will never enter that method and thus the rename doesn't happen
- You would need to rename it to `ObjectProperty`, not `ObjectPattern`

Cherow is actually follo

[2018-12-29 03:41] fkleuver commented on #273
I just noticed that you already did. Okay, so I believe babel is at least aware of `Property` already as I've spotted several mappings from/to `ObjectProperty` in their code. Their babylon parser supports ESTree output which also supports this.

Which leads me to wonder: does the same problem/limitation occur if you tell babylon to parse as ESTree?

Also, have you seen this code? https://github.co

[2018-12-29 11:00] coderaiser commented on #273
@fkleuver, thank you for a quick response, about `ObjectPattern` it was a typo, correct code should be with `ObjectProperty`

You right, I fix it in a code bellow.

Yes, when `estree` plugin used, traverse doesn't define variables also, looks like it is totally a problem with `@babel/traverse`, I send a [pull request](https://github.com/babel/babel/pull/9253) which is fixes this situation partiall

[2018-12-29 14:46] fkleuver commented on #273
Hmm

That's an interesting thing to say when ESTree is a core feature in their own repo. But you already pointed that out.

@KFlash I kind of understand babel's stance because of the sheer size of their repo and existing ecosystem. To support non-babel stuff could exponentially increase their maintenance burden.

However lack of interoperability with an ecosystem like that of babel could likewise

[2018-12-29 18:33] coderaiser commented on #273
I totally agree with you :), I think this can be a good start: [estree-to-babel](https://github.com/coderaiser/estree-to-babel), it fixes cases we talked about, and new cases can go there to. Thank you for detailed explanation and support :).

[2018-12-29 19:43] fkleuver commented on #273
Excellent, thanks for taking that initiative :) Feel free to reach out in the future if you need help.

I think a reference to your new plugin would be a good addition to our docs as I am sure there are more people who need this kind of interoperability. Agree @KFlash ?

[2018-12-29 22:44] KFlash commented on #273
@fkleuver We may support alternative AST output in the future - something I was thinking of for 2..2. That will fix this issue? Btw. Can you look at the alternative lexer code?

[2019-01-01 00:18] KFlash opened #274 "No nightly builds on NPM"
cc / @fkleuver This nightly builds are never published to NPM ?

[2019-01-01 04:10] #268 closed

[2019-01-01 04:11] KFlash commented on #247
Closing as this will be explained and documented when the beta get released

[2019-01-01 04:11] #247 closed

[2019-01-01 04:12] KFlash commented on #248
Closing as the main readme will be updated when the beta releases

[2019-01-01 04:12] #248 closed

[2019-01-01 04:13] KFlash commented on #230
Closing as fixed in the upcoming 2.0

[2019-01-01 04:13] #230 closed

[2019-01-01 04:14] KFlash commented on #264
Closing as it will be fixed in the upcoming beta release of 2.0

[2019-01-01 04:14] #264 closed

[2019-01-01 04:30] fkleuver commented on #274
I've put it back on warning mode. It should succeed the next round if the build or tests dont fail

[2019-01-01 05:52] KFlash commented on #261
@cherow/cherow-team The beta code will be pushed in two stages - first the scanner and then the parser code. Both are not what you guys would expect, and I'm not pushing anything before things are finalized.

**Info** I went back to zero, and all "legacy" Cherow code is no longer. Everything is gone :)

At least the number scanner gained performance - up 20% from v. 1.6.x

[code]

[2019-01-02 01:04] KFlash commented on #274
@fkleuver Nightly build still failing. Can you try to fix this?

[2019-01-04 08:31] g-plane commented on #261
I think it's OK.

[2019-01-04 11:38] KFlash commented on #261
@g-plane To your information. When I very soon now push the finale lexer code for Cherow 2.0, please be aware that this parser now are AnnexB sensitive. So if you turn off the AnnexB support and try to run all regular expression tests in the Acorn repo, it will fail BIG TIME!!  I wasted 2 hours myself just now to track why the h*** all Acorn tests failed until I found out I was parsing without Ann

[2019-01-04 13:19] KFlash commented on #261
@cherow/cherow-team Let us do [everything right}(https://github.com/cherow/cherow/blob/beta/test/lexer/regExp.ts) with v. 2.0!!!

[2019-01-04 16:05] aladdin-add commented on #261
where I can see the latest code, or a nightly version?

[2019-01-04 16:17] KFlash commented on #261
@aladdin-add I haven't pushed anything yet, but the lexer code will be pushed within a few days. I was forced to push the regex tests now due to the huge size of that file and I don't want too have an accident with the tests :)

Night version is only on Master branch, but it's failing to push nightly builds. I asked @fkleuver a few days ago to try to fix it after his first attempt didn't work out.

[2019-01-04 17:00] aladdin-add commented on #261
https://github.com/cherow/cherow/blob/15d0e1e28e756e0c57d43f7c2789424f33d0a960/.circleci/config.yml#L110-L112
seems the nightly build failing when running these command, as git identity not configured. I've no idea where to config, but the most easy way would be adding something like
[code]

[2019-01-04 17:14] KFlash commented on #261
cc / @fkleuver Can you look into this?

[2019-01-04 17:49] fkleuver commented on #261
Whoops. I [adjusted it](https://github.com/cherow/cherow/commit/f1aedccd544c7e5b1bcdca14e14fa263d11a1b33)

[2019-01-05 05:17] KFlash commented on #261
@fkleuver Any thoughts about this code. Fast enough?

[code]

[2019-01-05 07:43] fkleuver commented on #261
Given how little regex the average code base actually contains, I think small code size ought to be a bigger concern than performance anyway. It is not worth your time to overdo it on the regex.

That said, would it help to eliminate the branching perhaps?
[code]

I don't know what the `Unicode` and `Plain` flags are, but let's say they're like so (next to each other):
[code]

Then you could rewri

[2019-01-05 08:03] KFlash commented on #261
@fkleuver Regarding regex I started out big so it was easier to keep track on failing / non-failing regex. I actually ended up with 72 KB :( Now I have my 7000 regex tests and are slowly reducing the code size and pack everything I can into bit masks. Current code size is 51 KB now.
So in the end I need to get rid of branching and optimize, but for now reducing the code size is first priority. I m

[2019-01-06 04:14] KFlash commented on #261
@cherow/cherow-team Some beta code have been pushed. Rest is coming soon.

@fkleuver Could you take over the regexp code now and optimize it? I need to finish the lexer code

[2019-01-06 07:07] KFlash commented on #261
@cherow/cherow-team I pushed the Cherow 2.0 lexer code. It's still early WIP because I'm experimenting with performance etc, but the code online now works and it's super fast :)

WS and comment issues from the past is all gone, and there are many tests to confirm it. Line and column now is set correctly.

[2019-01-06 09:51] fkleuver commented on #261
@KFlash You need to push your code..

[2019-01-06 10:08] KFlash commented on #261
@fkleuver I think I did that 3 hours ago. Maybe you should look at the beta branch?

[2019-01-06 10:18] fkleuver commented on #261
Ah, didn't know, thanks

[2019-01-06 10:30] fkleuver commented on #261
Lol. Why did you inline this everywhere? `(AsciiLookup[next] & CharType.IDStart) !== 0 && ((unicodeLookup[(next >>> 5) + 0] >>> next) & 31 & 1) === 0`
V8 can do that for you easily

[2019-01-06 10:34] KFlash commented on #261
Well. What else should I do? hehe  You optimize the regex now? I'm dealing with the lexer.

**Note:** So you don't get panic. I avoided a function wrapping for single tokens in the new design. That was a slow down. Therefor some crazy code. I also try to avoid member access for everything in the lexer coz that was an slow down as well. I'm still experimenting with this, so don't think so much abou

[2019-01-06 10:42] fkleuver commented on #261
The main thing that's crazy about it is you inlining bit twiddles as much as possible 😆 come on lol

[2019-01-06 10:54] KFlash commented on #261
I know, but the code is super un-optimized. I had to get it working first :) You fix it?

[2019-01-06 11:04] KFlash commented on #261
@fkleuver I plan to flatten the entire regex  to an infinite state machine. Want to do it? Then you just add `TopLevel` to `Type` and do `type |= Type.TopLevel` and you can increment the  `depth++`; like  `depth++` for each level; So the finale `depth` check would be `if (depth)`.
If flatten like this it is easy to swap out the switch statement with table lookup wich also is my plan.

[2019-01-06 12:07] KFlash commented on #261
@cherow/cherow-team In the upcoming beta both `onComment` and `onToken` have been added and the `onComment` works the same way as in Acorn. The line and column bug with comments known from 1.6.x is fixed. I added tests for this.

[2019-01-06 23:01] KFlash commented on #261
@fkleuver Did you optimize that file?

[2019-01-07 01:52] KFlash commented on #261
@cherow/cherow-team The beta lexer code is almost done. I have to think a little more about identifiers before open an PR. There are some design changes in the scanner - e.g. one char punctuator lookup and reduced use of member access.  In fact it should be faster.

@fkleuver Did you optimize anything, or do I need to fix it *before* I open an PR?

[2019-01-07 02:09] fkleuver commented on #261
@KFlash I did not have time today

[2019-01-07 02:35] KFlash commented on #261
No rush. I'm still focused on identifiers.
I noticed you got the nightly build working. Great work!!

On Mon, Jan 7, 2019, 10:09 AM Fred Kleuver <notifications@github.com wrote:

[2019-01-07 06:58] KFlash commented on #261
@fkleuver I'm now starting to implement the parser code for 2.0 Beta. I skipped the advance identifier code for now until parser code is done because I need to rethink how to implement escaped identifiers etc.

If you have time and feel to play around, can you try to benchmark the scanner and optimize the code?

[2019-01-07 09:36] axefrog opened #276 "Question regarding plans for 2.0"
I'm in the process of prototyping some analysis-related functionality over a limited subset of the ES2019 specification and was wondering what you're planning to have cherow 2.0 be capable of beyond simply producing an ESTree AST. I ask because in the issues list I keep seeing references to "scoping" and so forth, and, having only the current release (1.6.x) to compare to, I'm finding myself wonde

[2019-01-07 10:00] KFlash commented on #276
Hi. The main focus with 2.0 is to stay true to the ECMA specs, and in the specs you see things like block scoping and lexical bindings. Therefor the word "scoping". In comparison with Acorn - wich have only implemented lexical bindings and lexical scope - things like `function foo(bar, zoo) { let bar; }` will throw an error. And also block scoping where `{ function a() {} function a() {}} ` will t

[2019-01-07 10:13] axefrog commented on #276
Thanks for the fast response! My primary needs revolve around analysis-based inference and transformation of source code. Unlike something like TypeScript, I'm prototyping some experimental ideas surrounding the possible state of different code points based on all the possible ways a given code point might be reached, which ones are redundant, the way different values can possibly change over time

[2019-01-07 10:22] KFlash commented on #276
So issue solved?
By the way. I already have Cherow 2.0 working locale where everyting is implemented already, so I'm re-inventing the wheel atm to fix a few performance bottle necks.

[2019-01-07 14:16] KFlash opened #277 "Coverage stopped working on december 3 - 2018"
cc / @fkleuver Coverage doesn't work, and the coveralls.io haven't been updated since december 3 - 2018. You fix this?

[2019-01-07 21:30] #276 closed

[2019-01-07 22:35] KFlash commented on #261
Very soon I can merge to Master, but right now I'm not so happy with a few files. E.g the regex that need a clean up before moved to Master. Did you look at it?

[2019-01-07 22:46] axefrog opened #279 "VariableDeclarator.id -> MemberExpression?"
Not sure if this applies to 2.0, but was wondering why the type definitions for `VariableDeclarator` allow for `MemberExpression` as the type of the `id` property.

[code]

[2019-01-07 23:12] KFlash commented on #279
That's a very good question. I wasn't the one to add that code in the first place, but I can't see how MemberExpression can be a valid id in this context. I will fix this asap.

[2019-01-07 23:30] fkleuver commented on #261
Master is basically the development branch, you shouldn't apply "release" quality bars to it. If you wait for all code to be perfect then there will be one big merge to master in a couple weeks and only sporadic changes/fixes afterwards. It kind of beats the purpose of having a nightly.

I did look at it, but I prefer to do perf optimizations and such when you are done with the spec compliance sid

[2019-01-07 23:46] KFlash commented on #261
I work locale as of now and will merge to Master within a few days.
Regarding lexer and the regex stuff. As of now I'm done with that. It should now follow the ES specs and even TC39 tests pass for most of the lexer code. And you got around 10 200 tests to prove it as well.
Did I miss anything?  And the parser code is now build on top of the lexer as a dependency, and independent.
I'm now mainly f

[2019-01-08 00:13] KFlash commented on #279
I think I fixed this now. I also fixed it for function expr & decl plus for arrows as you mentioned before. I stay true to the specs so not Acorn & Esprima compat now.

[2019-01-08 00:57] fkleuver commented on #261
As you know I'm also actively working on Aurelia and an SPA framework is a bit more sensitive to timing, thus I put most of my free time into that right now. It is taking a longer time than expected though. But that's just how it goes. If I did not want to help out I would say so, but I do, and it's just not the right time.
I don't understand why everything suddenly has to happen in one month afte

[2019-01-08 01:55] KFlash commented on #261
@fkleuver I got it. And it also complicate things for me when I'm in the middle of development.
BTW. Could you solve [this issue](https://github.com/cherow/cherow/issues/277) and also convert token.ts back to binary?

[2019-01-08 02:34] KFlash commented on #277
@fkleuver Can you also add to your TODO to fix CircleCI? Is the tests running at all? Locale on my computer most of all tests are broken for the last 12h. Same files on CircleCI and they pass there,

Further. If you look at my latest commit, you see the assignment tests. The last test is a literal AST node. And it pass on CircleCI.

See my second last commit. Same test, but now there the literal A

[2019-01-08 03:02] fkleuver commented on #277
What version of NodeJS are you running on your computer?

[2019-01-08 03:10] fkleuver commented on #277
I get 10025 passing and 2 failing tests when I run locally. CircleCI for some reason only sees the 10025 ones that pass. Smells like a caching issue. I'll take a look tomorrow.

How many computers have you gone through in the last 5 years? 😆

[2019-01-08 03:12] axefrog opened #280 "Typings for AssignmentProperty could use improvement"
Automatic type inference is one the key benefits provided by type definitions, but currently the `AssignmentPattern` definition, while technically correct, isn't very useful with respect to what it should represent when narrowing types in the surrounding logic.

[code]

- `key` is only `Expression` if `computed` is `true`
- If `computed` is `false`, or `shorthand` is `true`, then `key` is always `

[2019-01-08 11:33] KFlash commented on #280
This make sense,but isn't this this how ESTree already do it?

[2019-01-08 12:32] peeyush31 opened #281 "super token going into infinite loop"
I am trying to bundle it useing target as ES5. The build is going into infinite loop on function `parseExpressionOrLabelledStatement`. I am using cherow.umd.js from the bundle for testing
**Code**

[code]

[2019-01-08 12:42] KFlash commented on #281
@peeyush31 this happen in v. 1.6.x ?  Any difference if you turn off the tolerant mode? I can't see how this can end up in infinity loop

[2019-01-08 14:10] peeyush31 commented on #281
I am using version `1.6.8`. I tried to turn off the tolerant mode but still it eneters into infinte loop

[2019-01-08 14:12] peeyush31 commented on #281
The universal module js that i use from the bundle

`(function (global, factory) {
  typeof exports === 'object' && typeof module !== 'undefined' ? factory(exports) :
  typeof define === 'function' && define.amd ? define(['exports'], factory) :
  (global = global || self, factory(global.cherow = {}));
}(this, function (exports) { 'use strict';

  var State = (function () {
      function State(sou

[2019-01-08 14:17] peeyush31 commented on #281
the error that is get. Hope this helps

<--- Last few GCs --->

[20491:0x2c99690]    28513 ms: Mark-sweep 1399.2 (1424.6) -> 1399.2 (1424.6) MB, 1290.2 / 0.0 ms  allocation failure GC in old space requested
[20491:0x2c99690]    30027 ms: Mark-sweep 1399.2 (1424.6) -> 1399.2 (1423.6) MB, 1513.6 / 0.0 ms  last resort GC in old space requested
[20491:0x2c99690]    31399 ms: Mark-sweep 1399.2 (1423.6)

[2019-01-08 16:52] fkleuver commented on #281
@peeyush31 Why are you targeting ES5? Do you need IE11 compatibility?

[2019-01-08 16:58] peeyush31 commented on #281
@fkleuver yes IE11 is the reason for ES5.

[2019-01-08 18:16] fkleuver commented on #281
I ran the 1.6.8 tests with `"target": "es5"` and everything passes, so it should be fine.

@KFlash This reminds me we need to get BrowserStack so we can run the tests in all browsers. It's free for open source as long as we put their logo in the readme. You okay with that?

@peeyush31 Are you using babel to transform it to es5? Some code seems to get removed during transformation to es5.

Looking

[2019-01-08 21:35] axefrog commented on #280
You are right. I misinterpreted `AssignmentProperty` as an internal typing that narrowed an ESTree-specified type. Do you think there is any potential to improve certain classes of typings (such as the one described by this issue) in a way that retains ESTree compliance but also improved the developer experience when using cherow?

[2019-01-08 23:01] KFlash commented on #280
@axefrog [this](parseAssignmentProperty) is how `AssignmentProperty` have been implemented in 2.0

[2019-01-09 01:41] KFlash commented on #261
@fkleuver You convert back to binary? And for the scope.ts.Should we use map or set instead?

[2019-01-09 02:41] fkleuver commented on #261
@KFlash pushed. Note that 12 tests fail, not sure if that's due to the change or if they were already failing. Also note that it created some typing errors since the tokens are now strongly typed and I had to explicitly cast a few to `<Token>` in `state.ts`. This is because typescript can't always infer the types correctly (either that or it actually indicates an error in the logic)

[2019-01-09 03:55] KFlash commented on #261
@fkleuver I have no failing tests locale, so the 12 failing tests was new to me. Can you verify that they was existing before you did you change? CircleCi didn't fail as far as I could see.

Why map or set? See the scope.ts file. I need to refactor that one for performance reasons. Guaranteed uniqueness / checking for existence is what needed in block scoping and lexicals

[2019-01-09 04:03] KFlash commented on #261
@fkleuver I tested your token.ts change against my locale copy. No errors except for this test `async: await`.
Are `await` seen as a contextual keyword and / or identifier?

[2019-01-09 05:52] fkleuver commented on #277
How is your new computer?

[2019-01-09 06:10] KFlash commented on #277
It works much better than the laptop  I used a few days ago. Bought a desktop computer now.

[2019-01-09 09:01] peeyush31 commented on #281
Thanks for pointing it out. Now will look into the build settings which is causing this issue.

[2019-01-09 10:48] #281 closed

[2019-01-09 10:56] peeyush31 opened #282 "Operator precedence not followed"
I am using v1.6.8 to parse
**Code**

[code]

**Actual behavior:**
[code]

**Expected behavior:**

The `in` operator should have higher precedence than `&&`

[2019-01-09 11:12] KFlash commented on #282
@peeyush31 Isn't this the same as in other parsers if you compare it in ASTExplorer?

[2019-01-09 12:41] peeyush31 commented on #282
No there is a difference

for esprima
[code]
The other parsers have a same AST subtree order. I have tested with `acorn`

[2019-01-09 12:46] KFlash commented on #282
Esprima isn't ESTree spec compat so their AST differ from the original specs. And they also add different properties on various nodes that doesn't exist in the specs - e.g. `each` in for - in iteration. So I wouldn't have looked at their AST.

[2019-01-09 12:58] peeyush31 commented on #282
the precedence from `cherow` says that first do `&&` and then operate `in`. This is not correct according to ES standard. the result expression can be rewritten as
[code]
according to cherow. This is the issue

[2019-01-09 13:05] KFlash commented on #282
cc/ @fkleuver Can you investigate the precedence order?

[2019-01-09 14:15] fkleuver commented on #282
[code]

I've always found those 2 lines a bit strange. I'm not sure why you are adding the precedence value of the exponentiation operator to the delta.

Anyway, the `InKeyword` token has a higher precedence value than the `LogicalAnd` token so they've got the correct values. Either the associativity is wrong in the expression parser logic or something else is going on, i'll take a look

[2019-01-09 14:40] peeyush31 commented on #282
oh sorry, that was the actual output. and the expected will be what you just mentioned

[2019-01-09 14:40] fkleuver commented on #282
@KFlash I can confirm cherow parses in the wrong precedence order in his example

[2019-01-09 14:40] fkleuver commented on #282
Talk about commenting at the exact same second.. :)

[2019-01-09 14:54] KFlash commented on #282
@fkleuver Ok. Is it enough you think to fix the precedence value in token.ts or what you suggest`?

[2019-01-09 15:10] fkleuver commented on #282
@KFlash Actually this is a 1.6 bug, you already seem to have fixed it in 2.0.

In 1.6 there's this code:
[code]

It does not "allow in" at that point, so it breaks out and that messes up the precedence. But this code is not present in 2.0. I'm not sure however if removing that particular line in 1.6 won't break other stuff. Did you write that code or was it someone else?

[2019-01-09 15:16] peeyush31 commented on #282
just for help
the test case with
[code]
is working correctly.

[2019-01-10 01:45] KFlash commented on #282
@fkleuver
Here is the basic ideas behind the precedence code. I can't look into that now, but can you take a look?
Main idea was to make the "precedence" conditionally higher without branching by having `Context.AllowIn` a higher bit than token precendence bits and doing `state.token & Token.Precedence & bit` instead, where `const bit = context & Context.AllowIn ^ Context.AllowIn`.
Then just compa

[2019-01-10 02:36] KFlash commented on #282
I'm aware of that and what you point out is causing a bug as we know. But fixing that in 1.6.x now will break too much I guess. So in 2.0 I'm allowing AllowIn by default and disallow it in a few places.
Howver. This `if ((prec | bit) + delta <= minPrec) break;` never worked as planned. It seems to be related to `token.ts`. Can you investigate that? I added precedence tests now so should be easy to

[2019-01-10 02:40] #280 closed

[2019-01-10 02:41] fkleuver commented on #282
Break what? Tests? Can't be that many..

Surely can't breaks apps.. (that's what it's doing right now because of the bug lol)

How do you intend it to work? It's supposed to accomplish right-to-left associativity for the exponentiation operator right?

[2019-01-10 02:51] KFlash commented on #282
Yes. Right to left. It should break the loop if the AllowIn bit get higher / lower than `Token.Precedence`.
As I wrote earlier. The "precedence"  has to be conditionally higher without branching by having Context.AllowIn a higher bit than token precendence bits. As it is now it seems like either the precedence tokens or the context masks are out of order.

Well. I fix it in 1.6x soon after I'm don

[2019-01-10 03:10] fkleuver commented on #282
Regarding this

[code]

The precedence for the tokens is fine, they correctly go in ascending order from `LogicalOr` to `Exponentiate`. The context is also fine. `AllowIn` is 5 bits higher than the highest possible precedence.

This is where the error seems to be:
[code]

The `bit` is on the left hand side of a less-than, meaning it accomplishes the exact opposite of what it needs to.

This would

[2019-01-10 03:48] fkleuver commented on #282
You remembered to remove the `^` right? :P

[2019-01-10 03:49] KFlash commented on #282
[this](https://github.com/cherow/cherow/blob/beta/src/state.ts#L1433) is the 2.0 solution and tests pass locale

[2019-01-10 04:16] fkleuver commented on #282
Why did you break the tests :(

[2019-01-10 04:35] fkleuver commented on #282
What do you think about this :) https://github.com/cherow/cherow/pull/275/commits/a8fc459e4eb2967afbbc777b670011e7c2591100

[2019-01-10 04:43] KFlash commented on #282
@fkleuver The tests pass so it's a good solution:)  And less code and branching! Well done 👍

[2019-01-10 07:05] fkleuver commented on #261
We're full on bit slots. Are there any we can safely overlap?

[2019-01-10 07:20] KFlash commented on #261
Context masks? You can still create a few.  `OptionsExperimental` needed?  I also think `TopLevel` and `Global` can become one in near future. It depends on the arrows and `new.target`.  `ExpressionStart` should be renamed I guess. It's only purpose is to allow regular expressions. So maybe `AllowPossibleRegEx`. Same thing with `InArguments` should be `InArgList` to match up `Type`.
`InMethod` cou

[2019-01-10 08:50] KFlash commented on #282
@fkleuver I guess this is solved in v. 2.0 and the beta will be out soon.  Do we still need to fix this in 1.6x ?

[2019-01-10 12:23] KFlash opened #283 "Refactor label tracking"
Need to re-think and refactor label tracking. A few edge cases not failing, plus try to avoid too much member access.

cc / @fkleuver You handle this?

[2019-01-10 16:21] aladdin-add opened #284 "migrating to cherow v2.0.0"
this is to track the changes in cherow v2.0.0:

+ new options have been introduced.
+ some bugfixes

[2019-01-10 16:38] KFlash commented on #284
@aladdin-add You should also add that the AST output for arrows and functions is true to the ESTree specs now and not compatible with others parsers.

[2019-01-10 16:45] KFlash opened #285 "CircleCi fails to run all tests"
On latest commit CircleCi only runs `10025 passing (3s)` tests. The real amount of tests should be  `11740 passing (3s)`. 1700 tests doesn't run!

@aladdin-add Ideas?

[2019-01-10 16:48] aladdin-add commented on #285
that's strange, I've got 3 failing tests, while the circleCI passed.

[code]

[2019-01-10 16:54] KFlash commented on #285
@aladdin-add Can you comment out the 3 tests that fails for you and push to the  repo?

[2019-01-10 17:15] aladdin-add commented on #285
pushed to the branch beta.

Did you forget to push some tests? seems circleCI were only getting 10025 tests, same result on my computer.

[2019-01-10 17:19] KFlash commented on #285
Everything is pushed to the beta branch. Over 11k tests. And no failing tests in my end.

[2019-01-10 17:22] KFlash commented on #285
11738 passing (2s) is what I have pushed to the repo

[2019-01-10 17:52] aladdin-add commented on #285
I see, I've make a PR (#286) to fix it.

[2019-01-10 17:59] KFlash commented on #285
Ok.I also now added more tests. You can  run them?

[2019-01-10 18:00] #285 closed

[2019-01-10 18:01] KFlash commented on #285
@aladdin-add You update beta branch  with same patch?

[2019-01-11 00:41] g-plane commented on #284
Do we need a documentation website?

[2019-01-11 00:54] KFlash commented on #284
I guess so. Too much changes in 2.0

[2019-01-11 01:05] KFlash commented on #261
@fkleuver Could you also update token.ts and create a token for this to reduce branching?
`state.token === Token.NumericLiteral || state.token  === Token.StringLiteral`

[2019-01-11 01:52] KFlash opened #287 "Rollup hooks deprecated warnings during bundling"
After upgrading to Rollup 1.x a lot of warnings when you try to bundle.

cc / @fkleuver

[2019-01-11 02:16] aladdin-add commented on #287
FYI: https://github.com/ezolenko/rollup-plugin-typescript2/issues/126

[2019-01-11 02:19] KFlash commented on #287
@aladdin-add You will try to fix it?

[2019-01-11 02:39] aladdin-add commented on #287
I can update when it was fixed in rpt2.

[2019-01-11 02:59] KFlash commented on #261
@fkleuver The reason you need to use `<Token>` is because - in my original `token.ts` that you converted  to binary literal - have metadata attached to the `enum` values.

[2019-01-11 04:55] axefrog commented on #261
With reference to being full on bit slots, if someone wanted to fork cherow and extend it with experimental language features, how difficult will this be? For instance, let's say I wanted to introduce experimental async-like syntax but for observables, and then have cherow parse my code and understand 2-3 new keywords, how much friction is to be expected in adapting the code? I know you have favou

[2019-01-11 05:15] KFlash commented on #261
Fork and extend Cherow with 2 -3 new keywords is easy enough. Just extend [this list](https://github.com/cherow/cherow/blob/beta/src/token.ts) and modify the lexer code - add your keyword to the [lookup table](https://github.com/cherow/cherow/blob/beta/src/scanner/scan.ts#L15) in the lexer code. That is easy and have nothing to say if Cherow is full on bit slots. The bitmasks used is internal and

[2019-01-11 06:47] axefrog commented on #261
Ah cool, good to know!

[2019-01-11 07:48] fkleuver commented on #261
@axefrog To further clarify, we have 8 bits slots reserved for types, 4 for precedence and the remaining 19 are standalone bit masks we use for simple `token & Token.SomeMask` checks. Those 19 are all in use (although we could probably clear up 3-4 slots by carefully analyzing where they do not overlap and merging those)
For the 8 bit slots used by the type we don't use a slot per type but we full

[2019-01-11 07:53] KFlash commented on #261
@fkleuver If still slots available, can you extend token.ts with this. Kind of urgent

- Eval and Arguments token as it was before
- One token for StringNumeric
- One token for IsComputed

plus the  other tokens I mentioned before

[2019-01-11 07:57] fkleuver commented on #261
Can you give me a complete list of all the tokens you need now and in likely near future with very brief clarification of what for? Then I can plan it better and not create a new problem

[2019-01-11 08:08] KFlash commented on #261
@fkleuver Here you go!

- Token.Eval and Token.Arguments  (*need to be identifier and also marked as reserved keyword*)
- Token.IsEOCO (*comma, semicolon, right brace, assign*)
- Token.IsGetSet (*Get, Set*)
- Token.IsStringOrNumeric (*NumericLiteral + StringLiteral*)
- Token.IsString (*StringLiteral*)
- Token.IsComputed (*Left bracket*)
- Token.IsIteration (*whilekeyword, dokeyword, forkeyword*)
-

[2019-01-11 08:33] fkleuver commented on #261
Well it's just a button, and I think the honor should be yours ;p

[2019-01-11 08:43] KFlash commented on #261
Ok. I will do it soon. Btw. you fix the tokens?

[2019-01-11 08:57] KFlash commented on #261
@fkleuver Whatever I do I can't get this program `class o {f(){ let x; var x; }}` to pass anymore. It did pass in 1.6.x. Should it be documented as a bug or a new feature?

[2019-01-11 09:00] fkleuver commented on #261
The tokens are not easy to fix. Some logic probably needs to change. There's always a couple tests that go bad

`class o {f(){ let x; var x; }}` is valid because it's in a function, so the `var` is hoisted to the top and technically comes before the `let`. It is only valid in a function

[2019-01-11 09:07] KFlash commented on #261
Read [this](https://tc39.github.io/ecma262/#sec-function-definitions-static-semantics-early-errors) It should fail, but V8 got it  wrong. Or I missed something? You can also check it with [this parser](https://astexplorer.net/#/gist/749818a5f75b69e0dd84854e441fd851/74ec08719a951f8d398d584e4089f0d3a285790a)

Is there any of the tokens that's possible to fix?

[2019-01-11 09:17] fkleuver commented on #261
Yeah, you missed this:

The LexicallyDeclaredNames of a FunctionBody does not include identifiers bound using var or function declaration

Possible, but tricky, and I don't know if I merge/remove something that might cause problems later down the road because currently you only have 11k tests. It seems like many more tests are needed before we can safely play around with the tokens.

[2019-01-11 09:36] KFlash commented on #261
hmm interesting...

Let tokens be for now then and save the list a secure place until we are ready for fixing tokens.

You have time to help cleanup and optimize? I'm opening PR  now for  every new change I do

[2019-01-11 09:53] fkleuver commented on #261
Don't we need more tests first?

[2019-01-11 09:56] KFlash commented on #261
We have 13k tests now and it covers around 95% of the code base.

[2019-01-11 09:57] fkleuver commented on #261
What about the 45k in 1.6?

[2019-01-11 10:05] KFlash commented on #261
The 45k tests include failing tests. Most of current code base doesn't fail yet after the spec. That's next to fix.
Anyway. I will try add some more tests now. Give me a few hours

Btw. Will this Master code end up as a nightly build?

[2019-01-11 10:06] fkleuver commented on #261
Yeah it should

[2019-01-11 10:07] KFlash commented on #261
Ok. Regarding browser stack. Will you add it and update the readme with a logo?

[2019-01-11 10:22] fkleuver commented on #261
Yeah I added the logo and filled in the request form. Now we wait.

[2019-01-11 10:31] KFlash commented on #261
I found one nasty lexer bug. I fixed it but now it doesn't fail on implicit octals in strict mode. Can you have a look?

[2019-01-11 10:42] fkleuver commented on #261
If you tell me what bug you fixed and what test fails. Lol :)

[2019-01-11 10:46] KFlash commented on #261
Line 76. It failed on `0` in strict mode. The scanner saw it as  an implicit octal. I added additonal code on line 76 - ` else if (index < state.length && (next >= Chars.Zero && next <= Chars.Nine)) {` so if it's a leading 0 like `01`, `0800`  etc it should be seen as implicit octal. For `0` it now falls through and works.

Line 1 in `scanImplicitOctalDigits` tell is should fail in strict mode, bu

[2019-01-11 11:08] KFlash commented on #261
@fkleuver Can you investigate why this goes into a infinity loop?

[code]

[2019-01-12 04:00] KFlash commented on #261
@cherow/cherow-team **Info** The code for class and object literal implementation is larger than in 1.6.x because we agreed early on that we prefer performance over code size.

Here is the performance difference between 2.0 Beta and 1.6.x:

![bench](https://user-images.githubusercontent.com/31855118/51069013-9b05d400-1661-11e9-8fdc-1a8fe9e68f9e.png)

[2019-01-12 09:54] KFlash opened #290 "Directive prologue is now an option"
In v. 1.6.x directive prologue on each literal node was on by default, but I changed it in 2.0 so you now need to set the `directives` option to true in 2.0. This was done because we have `raw` as an option. `Directives` need the `raw` property on the node to `slice` the directive correctly.

[2019-01-13 11:54] KFlash opened #291 "token.ts ends in infinity loop"
cc / @fkleuver `*` isn't set as an valid expression start in `token.ts` so this program `function *a(){yield*}` goes into a infinity loop before the parser dies. Can you confirm this?

[2019-01-13 15:14] KFlash commented on #261
This is the first official benchmark result for Cherow 2.0. It's  now twice as fast as Acorn.

![bench](https://user-images.githubusercontent.com/31855118/51087039-f1b9fd80-1788-11e9-81f7-fec897aeffb7.png)

[2019-01-14 05:51] KFlash commented on #291
@fkleuver You plan to fix this or I roll back to previous token.ts?

[2019-01-14 06:04] devsnek opened #292 "Extensibility"
Wow this parser looks fantastic. I'm super excited to see that its being tested against test262 unlike many of the other options.

I'm working on a js engine written in js (https://github.com/devsnek/engine262) and currently using acorn. I'd love to switch to cherow but I'm concerned about being able to extend the parser. This is very important to me because the engine is used to prototype and tes

[2019-01-14 06:36] KFlash commented on #291
Hmm how can it be then that it runs into infinity loop because it can't consume the `*`?

[2019-01-14 06:40] devsnek commented on #292
i'm not to concerned about performance being affected, as the bottleneck in the engine definitely isn't parsing.

With the current design i can't really come up with any good ideas for overriding that wouldn't hurt perf (for example stuff like checking in every function for an override on the state).

Maybe every parser could be put onto an exported object and referred to that way? `parsers.parseC

[2019-01-14 06:41] KFlash commented on #292
cc / @fkleuver You have any good ideas about this?

[2019-01-14 06:51] fkleuver commented on #291
I debugged locally but it's consuming the `*` just fine, and throws `"Line 1, column 21: Unexpected token"` in both `Context.Empty` and `Context.Strict | Context.Module` so how are you getting an infinite loop?

[2019-01-14 06:55] fkleuver commented on #291
Speaking of which, I pushed that config to master so you can use it as well if you need to debug tests.

Just go to debug in VS code and pick "Launch mocha tests":
![image](https://user-images.githubusercontent.com/9655331/51099512-7cbee600-17d1-11e9-99a4-fd48d5e3728b.png)

Comment out the tests you don't want it to loop into, put a breakpoint, wait a bit and voila:
(F11 to step in, F10 to step ov

[2019-01-14 07:13] KFlash commented on #291
Get it, and I think this issue is fixed. It now fails as expected, so I think my validation code last night fixed  it from running infinity loop without me knowing it :) Closing.

[2019-01-14 07:13] #291 closed

[2019-01-14 07:21] fkleuver commented on #292
We could distribute differently bundled versions of the parser where an optimized version only exports the main API entry point (meeting the speed and library size goal) and a full version could export everything as well as retain the const enums.

I imagine folks who build advanced tooling on top of this are far less concerned about library size and more with the parser simply being as correct, a

[2019-01-14 07:35] KFlash commented on #292
Sounds like a good solution, but it will not kill the performance? And is that something you can implement?

[2019-01-14 09:54] fkleuver commented on #292
It will not affect performance because the code is entirely removed during the bundling process for that particular output. It will of course affect performance for the output *with* the code included, but the user can choose for themselves whether to make that tradeoff.

I do not have time for that right now due to priorities as I explained earlier, but I've no doubt I can add it in at a later po

[2019-01-14 12:06] KFlash commented on #261
@cherow/cherow-team My crazy arrow and arrow async implementation in Cherow 2.0 had a reason. See benchmark  below. Over 100% faster than 1.6x plus fixed a few bugs in 1.6.x as well.

![arrows](https://user-images.githubusercontent.com/31855118/51111662-aa3e7a80-1837-11e9-876a-3e7eb993917b.png)

[2019-01-15 00:54] KFlash opened #293 "Roadmap - Cherow 2.0 finale"
Things needing finished before finale Cherow 2.0:

**RC1** - **completed!**

- Implement all Stage 3 features
- 100% test coverage for everything implemented

**RC2** - (*Work in progress*)

- Class decorators (*seems to be very popular so it will be added*)
- Location tracking
- Optimizing
- 100% failing acc. Test262
- Escaped identifiers

**RC3**

- Finish tokenization (*included edge cases*)
-

[2019-01-15 00:58] KFlash commented on #292
See #293

[2019-01-15 03:13] KFlash commented on #261
@fkleuver Would also need to add a `HashKeyword` token for `#` (*private names*)

[2019-01-15 04:16] KFlash commented on #261
@axefrog [Here](https://github.com/cherow/cherow/commit/d023b5d14a2eb0cf78ed83d95ed11b9a8092fefd) you can see how easy it is to extend the parser to accept new tokens and modify the scanner to accept it

[2019-01-16 06:01] #287 closed

[2019-01-16 21:42] KFlash commented on #290
@aladdin-add Can you make some documentation?

[2019-01-17 04:31] KFlash commented on #277
@fkleuver Any ideas when this issue will be solved?

[2019-01-17 06:06] fkleuver commented on #277
Any preference? Do you want coveralls back?
For some reason codecov can't get access

[2019-01-17 07:10] KFlash commented on #277
Coveralls we used before and access to that one

[2019-01-17 07:14] KFlash commented on #277
I tried to activate Codecov now

[2019-01-17 15:52] aladdin-add commented on #293
updating the docs before rc-releasing, so we can get more feedback earlier. thoughts?

[2019-01-17 16:05] KFlash commented on #293
The docs should be updated as early as possible. Huge changes so easier to keep track. Is that something you can do?

[2019-01-17 16:14] aladdin-add commented on #293
I'm not sure I can do it -- someone has a full knowledge of the changes would be better! (e.g. you 😄)

[2019-01-17 16:23] KFlash commented on #293
What knowledge are you lacking? I updated the readme already with the new options. Other than that is this

* Directive prologue no longer attached on literal node by default (*option: 'direvtive' to enable*)
* Block scoping
* Lexicals
* Exported binding restrictons. E.g `export {a}; is forbidden`.
* AnnexB on by default, but can be switched off so Cherow support both modes(*option*)
- OnComment (

[2019-01-17 16:36] aladdin-add commented on #293
hmmm, I missed you have updated readme. I will try.

[2019-01-17 17:47] KFlash commented on #293
@cherow/cherow-team I'm now in a process where I fixing bugs and make the parser fail where it should, so I'm playing around :) However it's easy to get it to fail as it should, but the result would be

1) Ugly looking code
2) Performance regression

So I need to come up with a performant and nice looking way !

[2019-01-18 00:38] KFlash commented on #293
Current Cherow 2.0 perf benchmark

![bench](https://user-images.githubusercontent.com/31855118/51358013-76e04200-1afc-11e9-8815-26faff84b036.png)

[2019-01-18 05:05] KFlash commented on #293
@aladdin-add You may as well document that Cherow 2.0 strictly follow the ESTree specs so not 100% compatible with the ESTree AST produced by other parsers. For arrows the `generator` property is gone and for functions the `expression`  property is gone.

[2019-01-18 05:08] g-plane commented on #293
I think we should open a new issue to discuss what should be documented.

[2019-01-18 05:12] KFlash commented on #293
You fix that @g-plane  ?

[2019-01-18 05:12] g-plane commented on #293
I mean just open an issue for discussion.

[2019-01-18 05:35] aladdin-add commented on #293
@g-plane I've opened an issue for this: https://github.com/cherow/cherow/issues/284

[2019-01-18 06:16] KFlash opened #297 "Grammar implementation"
This issue is to track the progress of cover grammar implementation. That's one of the last things to fix so until then some tests will not fail yet.

I'm not implementation this before very near to finalizing due to the fact that there always will be a bug or some cases that can't parse if done before 100% test coverage and everything is settled and implemented.

[2019-01-18 07:58] KFlash commented on #293
@cherow/cherow-team Cherow have now reached RC 1 stage. It's enough tests to confirm that "basic" parsing works. The TODO on RC 2 stage is a little more complex, so will make another branch for that.

[2019-01-18 16:36] aladdin-add opened #299 "remove some bundle output"
bundled output on my local computer:
![image](https://user-images.githubusercontent.com/13050025/51399368-bf414380-1b80-11e9-834e-90e6919e419a.png)

+ too many output files ( 6*2=12  `['amd' | 'cjs' | 'system' | 'es' | 'esm' | 'iife' | 'umd'] * ['normal', 'minified']`), but only one is needed for most users.
+ seems https://github.com/cherow/cherow/issues/255 still happened.

[2019-01-18 16:39] aladdin-add commented on #293
how can I run the benchmark in my local computer?

[2019-01-18 16:58] fkleuver commented on #299
Too many for what?
Which ones do you propose removing?

[2019-01-18 17:15] aladdin-add commented on #299
https://github.com/cherow/cherow/blob/7e9864413c9d46e1a1280e991e7dd8b1fbdb6ed2/package.json#L5-L8

I'm seeing `umd` and `esm` were in the `package.json`, others seems unnecessary to me. (just my 2c :(

[2019-01-18 18:38] fkleuver commented on #299
The ones specified in the package.json are just targeted at the majority of bundlers that use these standards. It's not a limiting factor in what you *can* use.

### IIFE
 `iife` allows you to include the package with an inline script tag, without the need for any bundler.
Look, a very simple REPL that consists of 1 html page, 2 html elements and 4 lines of javascript code: https://gist.run/?id=93

[2019-01-18 18:38] #299 closed

[2019-01-18 20:37] KFlash commented on #293
Use the benchmark in the root folder

[2019-01-18 21:10] KFlash commented on #284
@aladdin-add Can you somehow document this? Regarding location tracking. Cherow try to follow the standards, but for Template literals there is a **huge**difference between Acorn and Esprima. Try to parse this ``foo`` and compare the ranges for the `quasis`. Here Acorn start to count from `0`. Esprima starts to count from `1|. After manually countring Cherow ended up with the same location data as

[2019-01-19 07:10] KFlash commented on #261
Closing this as we now are on RC2

[2019-01-19 07:10] #261 closed

[2019-01-19 07:11] KFlash commented on #282
Fix is out on current Master branch. So closing.

[2019-01-19 07:11] #282 closed

[2019-01-19 07:11] KFlash commented on #290
Closing as @aladdin-add already works on this

[2019-01-19 07:11] #290 closed

[2019-01-19 07:13] KFlash commented on #293
@cherow/cherow-team I have until now spent some days to get Cherow parsing after the specs and wrote enough tests to avoid trouble when I'm now going to get the parser to fail after the specs. This will be done in a separate branch. But at this stage Cherow 2.0 can be used as a normal parser.

[2019-01-20 02:16] KFlash commented on #297
Closing as this have been implemented, but not yet pushed.

[2019-01-20 02:16] #297 closed

[2019-01-20 02:57] fkleuver commented on #293
@KFlash have you been able to run the Test262 suite yet?

[2019-01-20 03:32] KFlash commented on #293
I know. If you scroll up you will notice I'm working on RC 2 and one of the bullets
are `100% failing acc. Test262` and also notice the *Finale*

[2019-01-20 03:51] KFlash commented on #293
@fkleuver Did you try to parse anything with Cherow 2.0 RC1 ?

[2019-01-20 04:09] KFlash commented on #293
@cherow/cherow-team This is the benchmark results with the cover grammar implemented:

![coverg](https://user-images.githubusercontent.com/31855118/51435159-39bab200-1cac-11e9-8bbd-e09e1bab2d8c.png)

[2019-01-20 04:32] KFlash commented on #232
Cherow 2.0 soon to be shipped, and this issue have been confirmed solved in the upcoming v. 2.0.

[2019-01-20 06:02] KFlash commented on #293
@cherow/cherow-team Guys! Sorry to say this, but the performance dropped with 2% after I implemented the cover grammar. Cherow 2.0 is still in average 36% faster than v. 1.6.x.

I'm still scared to "*lock down*" the grammar code, but hopefully I can reduce the performance loss with only 1% soon.

[2019-01-20 22:52] KFlash opened #303 "Performance"
Cherow 2.0 is very close to finale and this is the sad reality when it comes to performance. It's almost equal to 1.6.x in performance, but slower due to the fact that v. 2.0 include some new features:

- Scoping
- Lexical
- Cover grammar

![reality](https://user-images.githubusercontent.com/31855118/51446148-e34f8100-1d48-11e9-8fe0-8da0804e33d3.png)

I will try to improve the performance in the e

[2019-01-20 23:16] axefrog commented on #303
Given the intent to investigate the potential for generating an optional runtime-extendable build as discussed in #292, perhaps any successes in that area would also make it possible for developers to opt out of certain unneeded features and achieve performance gains as a result?

[2019-01-20 23:43] KFlash commented on #303
Ok. I will focus on finalizing. @axefrog @fkleuver Can you try to run Cherow 2.0 on Grammar branch and see if I screwed up something?

[2019-01-21 04:41] KFlash commented on #237
This have just now been addressed and solved in the upcoming v. 2.0

[2019-01-21 05:47] KFlash commented on #293
@fkleuver @cherow/cherow-team I just pushed Cherow 2.0 to the finale stage. What's left to fix is some basic development again and the last non-failing tests. It's now much left :)

I only have 9 days left to finish Cherow 2.0 now. January 30 is the date I hope to log out for the very last time.

[2019-01-21 19:41] axefrog commented on #303
Hey, sorry which is the "Grammar" branch? I don't see it listed,

[2019-01-21 22:15] KFlash commented on #303
@axefrog It'sgone. Try the "finale_2_0" branch

[2019-01-22 22:02] axefrog commented on #293
Just playing around with 2.0 at the moment and seems to be working nicely, though my experiments are hardly comprehensive. I was wondering how `onToken` is supposed to work. The first argument is just a big number. I'm not sure what it relates to. The `onComment` option is great and seems to work well.

[2019-01-22 22:52] KFlash commented on #293
Good to know 2.0 finally starts to work as it should!
Regarding the `onToken` option is just me being lazy. The big number is actually the token you are parsing, and I have to finalize a wrapper around it so the output will be `Identifer`, `Keyword`, `Numericliteral` etc. It's a tokenization and the first argument is always the token you just parsed..

[2019-01-23 00:56] KFlash opened #307 "Out of memory"
cc/ @fkleuver

    0: ExitFrame [pc: 00000301B8DDC5C1]
Security context: 0x00e78d21e6e1 <JSObject>
    1: parseObjectLiteral(aka parseObjectLiteral) [00000169F73464A9] [D:\cherow_gh\cherow1\dist\cherow.umd.js:~7687] [pc=00000301B8DE9BAB](this=0x03101d1026f1 <undefined>,state=0x02d9d93b4729 <Object map = 0000027705B23151>,context=4096,scope=-1,type=0,objState=0)
    2: parsePrimaryExpression(aka pa

[2019-01-23 02:12] KFlash commented on #307
@fkleuver This issue is because of the token.ts
Replace [this line](https://github.com/cherow/cherow/blob/master/src/state.ts#L3629) with this code and everything works just fine
[code]

[2019-01-23 03:41] KFlash commented on #307
Closing this as it's solved for now, but token.ts need to be refactored it seems.

[2019-01-23 03:41] #307 closed

[2019-01-23 07:00] KFlash commented on #293
@fkleuver It's only 255 Test262 non-failing tests left to fix. Most of them are related to arrows & async arrows and need to be tracked with the mutual parser flag. It's an easy fix, but before I do that, do you have time to start to optimize the code?
After optimization easier to get the last non-failing cases fixed.

[2019-01-23 09:57] KFlash commented on #293
@cherow/cherow-team I'm getting closer now. Not so many non-failing left

[code]

[2019-01-23 23:58] KFlash commented on #293
@fkleuver I sent you a PM on Gitter. Try read it and respond.

[2019-01-24 16:40] KFlash commented on #293
@fkleuver It seems like we got a lot of token issues!? First I got `JavaScript heap out of memory` in `objlit` parsing, and without modifying anything it suddenly worked again.

Now the issue have moved to class decl / expr parsing. I thought it happen because I was removing a "stopper" that did throw an error. And because of that it ran out of memory.

But... I started to re-write class decl / ex

[2019-01-24 22:26] axefrog opened #308 "Question about directly parsing code snippets"
Is there any recommended approach for use cases where there is a need to directly parse an expression or something else more specific than just "script" or "module"? I've got a lot of places in code where I'm compiling, for example, just a string template literal expression on its own, or a function declaration, for instance. Obviously it's just a matter of parsing it as a script and then extracti

[2019-01-24 22:30] axefrog commented on #308
_By the way, as an off-topic aside, just want to offer a genuine thankyou for all the effort you put into this. It's a really fantastic tool, and I'm finding it absolutely indispensable._

[2019-01-24 23:08] axefrog opened #309 "Possible keyword tolerance issue with template literal parsing"
**Code**

The keywords `await` and `async` seem like they should throw errors when used as template literal tokens in strict mode.

[code]

As a side note, the error for using `yield` as a template token in strict mode is possibly less useful than it could be: `'undefined' may not be used as an identifier in this context`. I assume it's resulting from the fact that no argument follows the keyword,

[2019-01-24 23:22] KFlash commented on #309
Thanks for finding this :) I need to mention that `await` and `async` is not completed yet due to the complexity with async arrows, so it will be fixed soon as I find a performant way of tracking this.  And it's all on my TODO.

This is the current state according to the Test262 suite:

`✔ 163 invalid programs did not produce a parsing error (and allowed by the whitelist file)`

Regarding the erro

[2019-01-25 02:20] KFlash opened #310 "AnnexB disabled by default"
In v. 2.0 Web compability is disabled by default, but can be enabled with the `webcompat` option.

**Note:** This is a huge breaking from other parsers, but Cherow try to follow the ECMA specs, and AnnexB is part of the "annex", and so it has to be an option.

This changes doesn't affect the Master branch *yet*

[2019-01-25 04:20] axefrog commented on #309
Ah cool, got it. Not a bug then, just not done yet :)

[2019-01-25 04:20] #309 closed

[2019-01-25 04:36] axefrog opened #311 "Possible issue with FieldDefinition in estree.d.ts"
See:

- https://github.com/cherow/cherow/blob/dev/src/estree.ts#L25
- https://github.com/cherow/cherow/blob/dev/src/estree.ts#L376

[code]

Is the trailing space supposed to be there?

[2019-01-25 04:57] KFlash commented on #309
Yep, still work in progress. But I'm soon going to fix it.

`✔ 128 invalid programs did not produce a parsing error (and allowed by the whitelist file)`

[2019-01-25 04:59] KFlash commented on #311
I really doubt the trailing space should be there :) I will fix this in my next push to this repo!

[2019-01-25 05:07] KFlash commented on #311
Fixed in https://github.com/cherow/cherow/commit/adcf60f73e25c38834fcc55b1ebef16c697d94b9

[2019-01-25 05:47] #311 closed

[2019-01-25 07:31] KFlash commented on #293
@cherow/cherow-team @axefrog I finally managed to finalize the complexity of Cherow 2.0 and are in the process of finalizing.

To point out how complex I made Cherow 2.0, you can try it [here](https://cherow.github.io/cherow/?code=function%20a()%20%7B%7D%0A%0Afunction%20a()%20%7B%7D&method=parse&range=false&loc=undefined&next=false&module=true&raw=false&jsx=undefined&directives=undefined&attachCom

[2019-01-25 10:05] KFlash commented on #293
Guys! I reached my second last goal - to go alive with a demo and show off what you can expect from Cherow 2.0. From now on I will work offline and finalize it. And there will be a PR for the last stuff so we can agree about error messages and other basic stuff. Give or take a few days and I'm going to land this !!

[2019-01-25 14:54] KFlash commented on #309
I have fixed most of this issues now as seen [here](https://github.com/cherow/cherow/blob/75ee827590f928cbf9840d50467e30ee824e51ef/test/parser/expressions/template.ts#L98).

[2019-01-25 18:17] axefrog commented on #309
Cool. Out of curiosity, I notice you highlighted a line with the keyword `yield` in it, though that was a keyword I'd observed as working correctly already. Not sure if I'm just being dumb and missing what you're trying to point out :)

[2019-01-25 20:41] KFlash commented on #309
You mentioned `yield`, so just pointed it out because the error was fixed. For `async` and `await` they are both seen as an identifier in this context  and shouldn't throw at all. Not in module code or strict mode. Sounds strange to me because this happens outside an async function, but can't find any tests related to it *and* no parsers throws on it. And in V8 you only get this message `await is

[2019-01-28 03:14] axefrog opened #312 "Unexpected occurrence of property key name in property value literal"
I'm getting this problem on my local copy of cherow, which is the latest `cherow.esm.min.js` in the `dist` folder. It looks like it was last built about a day ago?

Test script for cherow to parse, centered on the line that causes the issue:
https://gist.github.com/axefrog/d9e746c5d5bd2feb1e5c8e159a634e0a#file-cherow-test-js-L35

Lines 32-42 in the code are:

[code]

The property initializer `supe

[2019-01-28 03:17] axefrog opened #313 "Missing ranges/loc - work in progress or bug?"
As per subject. Noticed that ranges and loc are not producing results throughout the AST. I'm guessing this is work in progress, but if not, consider this issue a bug report.

[2019-01-28 03:36] KFlash commented on #313
It's a work in progress. Need to get the code working first so it's easier to know where to pass the range data as function arg without a need to change the logic many times.

[2019-01-28 03:58] KFlash commented on #312
@axefrog This was an interesting find :) I never use the raw property myself and didn't test it very well it seems. A fix for this will land within 30 minutes. I already fixed it, but need to finalize something else here first.

[2019-01-28 04:10] #312 closed

[2019-01-28 04:52] axefrog commented on #312
Thanks! :)

[2019-01-28 04:53] axefrog commented on #313
@KFlash Sounds reasonable to me!

[2019-01-28 07:36] KFlash commented on #313
@axefrog You can consider this to be implemented very soon now. I just started and will focus on finishing this before finishing non-failing cases for arrows. After that I push to NPM and cleanup and performance fixes will land in 2.01 if I'm around at that time.

[2019-01-28 08:57] axefrog commented on #313
No rush. Not urgent :)

[2019-01-28 23:10] KFlash commented on #293
@cherow/cherow-team Cherow 2.0 now exist on Master branch  and should fail / pass acc. Test262 suite plus / minus a few tests, but a PR is allowed ;)

Ranges have been added and I think I stop working on this project for now. Cherow should be stable enough and parse what you would expect.

I may not be so active anymore from now on, but I will keep working on improving things and add in the small

[2019-01-28 23:17] axefrog commented on #293
Wow, great work, much appreciated by myself and many others I'm sure! Enjoy winding down, you've definitely earned it :)

[2019-01-28 23:18] axefrog commented on #313
Excellent, thanks!

[2019-01-28 23:18] #313 closed

[2019-01-28 23:21] KFlash commented on #303
Current benchmark. Please note that we have full scoping and lexical checks running in the background. And this benchmark is with location tracking on.

![bench](https://user-images.githubusercontent.com/31855118/51873020-7b2b1b80-2396-11e9-8ce0-f8628f37ab57.png)

[2019-01-29 04:18] KFlash commented on #293
@axefrog I just want to inform you that there is an difference between Acorn and Cherow. Sometimes you can experience that you can parse code with Acorn that you can't parse with Cherow.
`(a=1)=2` is one of many examples. In Acorn you can parse it but throws in Cherow because it's actually an invalid LHS assignment.

[2019-01-29 20:17] KFlash commented on #303
@fkleuver Do you plan to optimize Cherow?

[2019-01-30 06:47] #308 closed

[2019-01-30 06:47] KFlash commented on #308
@axefrog Try `Cherow.parseExpressions('foo', { ranges: true }` and see if that helps you :)

[2019-01-30 12:19] KFlash commented on #293
I'm closing this now. 2.0 have been reached and the few things left I will take care of it when I get time except for the documentation that @aladdin-add should fix.

[2019-01-30 12:19] #293 closed

[2019-01-30 12:19] KFlash commented on #292
@devsnek 2.0 have been reached now, so waiting for @fkleuver to take care of this issue.

[2019-01-30 12:20] KFlash commented on #283
Closed as fixed

[2019-01-30 12:20] #283 closed

[2019-01-30 12:20] KFlash commented on #277
Closed as it seems that @fkleuver is on vacation.

[2019-01-30 12:20] #277 closed

[2019-01-30 12:21] #273 closed

[2019-01-30 12:22] KFlash commented on #284
@aladdin-add Waiting for the documentation

[2019-01-30 15:43] aladdin-add commented on #284
sorry to be late,  getting busy on some rl. stuff.

 I'll try to start it later in this weekend, but please feel free to take it if you have time. :(

[2019-01-30 16:43] KFlash commented on #284
@aladdin-add I understand your situation. I'm in airport now waiting for a airplane to take me to the Netherlands so I can't do much on Cherow the next days. But when and if you do the documentation. You can also play around with the online demo to test things.

[2019-01-31 13:55] KFlash commented on #277
@fkleuver We never used codecov before, and it doesn't seem to work. Anyway you got permission to access all Github apps to this repo.

[2019-02-01 00:03] KFlash commented on #303
Closing this as it seems like @fkleuver have no time to improve performance for now.

[2019-02-01 00:03] #303 closed

[2019-02-01 00:50] KFlash commented on #277
@fkleuver You was the one who fixed the workflow for v. 1.6x, remember? As seen [here](https://github.com/cherow/cherow/blob/1.x/package.json#L7) and [here](https://github.com/cherow/cherow/blob/1.x/.travis.yml#L32) and [here](https://github.com/cherow/cherow/blob/1.x/package-scripts.js#L27) we always used coveralls. **not** Codecov. And it was working. After the refactor of the workflow for v. 2.

[2019-02-01 03:46] KFlash opened #315 "Maintenance"
To all. The main developer @KFlash isn't around now, so the repo and this user account are used by his students to finish and clean up the Cherow code base.

The main dev himself is in the Netherlands on a very long vacation 👍

[2019-02-01 22:19] KFlash opened #316 "v. 2.0 release"
Awaiting @fkleuver to optimize the code before release of v. 2.0 to NPM.

[2019-02-01 23:17] fkleuver commented on #316
We can do minor/patch releases with optimizations afterwards. If 2.0 is done from a functional point of view I think it's good to go and release it to get some feedback as well. Makes it easier to compare perf too.

[2019-02-01 23:52] KFlash commented on #316
There are two minor issues left to fix as far as I know. @kflash mentioned it in the bypass and on `Skype` yesterday. There are a few non-failing cases related to (*enum identifier / keyword*) and the eval and arguments (*enum identifier / keyword*) .

It was mentioned that this could be fixed if the token code was changed so the enum (identifier / keyword) was also recognized as an identifier. Sa

[2019-02-02 00:09] KFlash commented on #316
@fkleuver  The code is feature complete, and done from a functional point of view as you mentioned. But there exist a few places that could be optimized. And maybe it should before any release. It depends on how much this parser can parse before it start to kneel down and pray to God to end the misery. We didn't benchmark this, so we don't know.
But tokens can be merged to avoid too many `if/else`

[2019-02-02 23:41] KFlash commented on #313
Complete location tracking have been implemented.

[2019-02-02 23:51] KFlash commented on #316
@fkleuver We are done for now from our side, so I guess you can take it from here as stated in #303

I guess this will be done now?

As @KFlash mentioned for you, what's left to fix is the "scope" disconnection so remaining non-failing arrow tests will fail as expected. And so it flatten the expression parsing and performance.

There are still a few non-failing tests, but easier to fix them after

[2019-02-04 02:34] axefrog commented on #308
Just noticed `parseExpressions` returns a regular AST with a `Program` node at the root. Reopen?

[2019-02-04 03:35] KFlash commented on #308
Hi. I think @KFlash intensions with this was to directly allow expression parsing and skip 90% of the ceremony of the parser (*which include statements and declarations parsing*)l and still stay true to the ESTree specs. In EStree the root node is always `program`, but if the main goal is to grab the expression AST nodes directly without doing any `program[0]` at the end - well I think I understan

[2019-02-04 04:44] axefrog commented on #308
Ah cheers.

Ultimately this was only a suggestion to improve the ergonomics of scenarios involving direct/granular parsing of expressions. It's not a huge deal, but it may well be of use to others. My suggestion would be to simply eliminate allocation of the root by default. The benefit of the function is to provide an AST node that directly represents the parsed expression. If the root node is ac

[2019-02-04 05:57] axefrog commented on #308
Great, thanks!

[2019-02-04 22:57] KFlash commented on #316
@fkleuver What's the state of this issue and the optimization?

[2019-02-05 07:32] KFlash commented on #316
@fkleuver I don't have NPM access to publish a release.

[2019-02-05 12:01] fkleuver commented on #316
I can publish it if it's feature-ready, but you were still mentioning some bug fixes that needed to happen right? This would take more time for me than general performance improvements as I'd need to dig into the spec. I cannot put a timestamp on it due to having a lot on my plate for Aurelia right now. We talked about this on Gitter as well.

In any case, just to get everything clear, what is you

[2019-02-05 12:17] KFlash commented on #316
@kflash isn't around. I am one of his former students. I think he has vacationed indefinitely, and he's celebrating life's happy days in the Netherlands.  So I don't think you can expect him to come back at first. Maybe as a little maintainer sometime in the future.
He asked me if I could fix the last things he had on his TODO list, and I've done that now. I don't think there is more that I can do

[2019-02-05 15:55] aladdin-add opened #318 "circular dependency found"
[code]

it works fine -- just a warning.

[2019-02-05 15:56] aladdin-add commented on #284
@KFlash just made a summary.╮(╯▽╰)╭  I'm afraid I don't have much time to complete it --  on vocation.
you give a hand? 🖐🖐

[2019-02-05 16:20] aladdin-add opened #319 "did not parse regex in some edge cases"
**Code**

[code]

**Expected behavior:**
it should generate the correct ast.
**Actual behavior:**
[code]

[2019-02-05 23:13] #319 closed

[2019-02-06 01:45] KFlash commented on #318
@aladdin-add As far as I understand your example is not taken from the Master branch. `directives.ts` and `jsx.ts` doesn't exist in the `parser` folder on the Master branch as [seen here](https://github.com/cherow/cherow/tree/master/src/parser), But you are right - the circular dependency exist.

[2019-02-06 12:17] KFlash commented on #316
@fkleuver This is @KFlash complete identifier code for the "hot path". This never ended up in Cherow.

[code]

[2019-02-06 21:20] fkleuver commented on #316
I see what he's trying to do there, but I'm fairly sure there is no performance gain in using `scanFlags` like this. Sure, it makes the code base more consistent (perhaps to some eyes even more elegant), but if raw performance is the goal then a few raw comparisons and boolean variables will likely perform better across all browsers.

Apart from that, I've always said that the scanner code is the

[2019-02-06 21:57] KFlash commented on #316
Hi. I fully understand your point of view, and I hope you understand I'm just a drop-in maintainer and doesn't have a very in-depth knowledge of the more technical aspects of Cherow.  I know what works and what doesn't. And there are no critical things that will be destroyed if you start working on this. What remains is dependent on your optimization according to what I understand on @kflash

For

[2019-02-06 22:08] KFlash commented on #316
@fkleuver I also forgot to mention that there are a few non-failing enum keyword tests and eval and arguments. According to what I understand, this is related to tokens and not something I can fix. In the source code, these things are marked with "TODO (fkleuver)" so it is easy to see where they should fail.

[2019-02-07 04:01] KFlash commented on #316
@fkleuver I looked through the source code now and I can't see other things that need to be *fixed*. There exist around 110 non-failing Test262 suit tests, but they will fail if the code get changed in the way I mentioned earlier.

However there can  be a few regular expression edge cases I may have overlooked - the code doesn't parse regular expression as expected. If you encounter an issue like

[2019-02-08 02:56] KFlash commented on #316
@fkleuver If it's okay for you I add - when I find it useful - minor tweaks to the code that I have seen in the experimental code. Like what I did for the lower / upper case letters tweak.

You are starting on this next week as mentioned above?

[2019-02-08 05:00] fkleuver commented on #316
I can start working on optimizations yes, but I'm not sure if I'll get around to fix the issues quite yet.

[2019-02-08 08:24] KFlash commented on #316
I guess it will take awhile to fully understand the code before you can fix the issues?

[2019-02-08 15:59] KFlash commented on #316
@fkleuver I'm not sure how useful it is but I added a way to extend the lexer as you can see in https://github.com/cherow/cherow/commit/1315e96ca9eca92b5780da0e35e28f71e57cc9bb

I'm not an performance expert, and didn't test it. You may improve it, but I think this is one way to extend the parser as I noticed was mentioned in #292.

Once again I "*copied*" this code from @KFlash private code, and

[2019-02-08 17:03] fkleuver commented on #316
No, it just requires a big uninterrupted time slot to focus on the code and I don't have many of those at the moment. Performance improvements lend themselves for a few hours here and there, fixing parser bugs takes a full day or two. You know how it goes

[2019-02-08 23:10] KFlash commented on #316
I may think improving the error tracking / messages also would be a good thing.  In v. 2.0 @KFlash added an "*arrow*" to pinpoint exactly where the error is, but not always correct.

In his experimental code I noticed (*for edge cases*) he pass the index, line and column values directly to the error func to get exact error loc.

Like this:

[code]

[2019-02-09 12:18] KFlash commented on #316
@fkleuver I doubt there are more that I can do here, so I let you handle everything from now. I tried to "*adopt*" some code from his experimental code to Cherow, but not that easy beacuse it's two different worlds. He uses a combination of functions and table lookup inside the function bodies.
So I wish you good luck!

[2019-02-09 15:44] fkleuver commented on #316
Speaking of that particular example, we need experimental support for parsing decorators. A lot of people ask about this.

[2019-02-09 16:15] KFlash commented on #316
How to implement it?

I noticed this code in his experimental code, and this may be a solution for the "scope" issue I mentioned to you before - if not flatten everything into one function?

[code]

[2019-02-09 16:30] fkleuver commented on #316
We had it in 1.6.x somewhere. It's relatively simple - as far as syntax is concerned, a decorator is just a `CallExpression` or `Identifier` (that's the decorator syntax without the parens) preceded by an `@` symbol.

It can be placed before a `ClassDeclaration`, or properties / methods / parameters. The decorator itself is then simply added to a `decorators` array of the AST node in question.

Ty

[2019-02-09 16:36] fkleuver commented on #316
@KFlash I have done some experimenting with that "everything in a single function" idea in the Aurelia repository but it turns out it's actually a performance killer in V8.

It seems storing stuff on properties of a class can greatly outperform (by a factor of 2-4) loose variables declared in function scope if the function is really big and has many variables, but this applies mostly to isomorphic

[2019-02-09 22:04] KFlash commented on #316
@fkleuver I had a Skype chat with @KFlash

[code]

[2019-02-10 00:28] KFlash commented on #316
@fkleuver It's me. The real one :) I'm just temporary here to clarify a few things.

I noticed you mentioned hidden classes.  In my research and experiments I found out that if we keep the parser state as a pure object literal, we gain performance with 3% vs a class alternative. You can try it yourself in various benchmarks, and you will notice the performance will drop.

Regarding the function sc

[2019-02-10 02:49] fkleuver commented on #316
@KFlash The difference between plain objects and classes is not particularly large unless there are methods involved, but a class does use a little bit less memory per instance. Where is that benchmark showing the perf drop?

Regarding 31-bit signed integer, yes, and perhaps we can use `Int32Array` instead of `Uint32Array` for the various lookups.

Regarding differences between engines, Chakra and

[2019-02-10 05:24] KFlash commented on #316
There are no specific benchmark. I just ran the same benchmark that exist on the demo page. With and without "cold" JIT. It always perform worse when I was using classes.

Maybe an good idea to use `Int32Array` for lookup, but in my experimental code I moved away from the large table lookup and are using multiple smaller table lookup. E.g. 2 different tables for number and identifiers and it did g

[2019-02-10 07:21] KFlash commented on #316
@KFlash I added my private experimental lexer code. [Can be found here](https://github.com/cherow/cherow/tree/experiment/src). It's just an experiment, and even if it works don't expect miracles with it :) The only thing that doesn't work is `identifier + surrogate` and `surrogate + identifier`. Just me being lazy :)

**Note:**  This was the code I experimented with before what become Cherow 2.0,

[2019-02-10 15:52] KFlash commented on #316
@fkleuver I updated my private experimental code to latest. Use it if you want when optimizing Cherow 2.0. Most of the "hot path" have been optimized and now uses a table lookup. The performance is good, but ofc. this can be optimized further if you chose to use it. Example numbers in the ASCIILookup table can be separated so you can do a fast lookup for octals and binary as well to mention a few.

[2019-02-10 19:21] axefrog opened #320 "Curious about the name"
A couple of unimportant questions:

1. How is "cherow" pronounced?
2. What does it mean?

:-)

[2019-02-10 21:27] KFlash commented on #320
I answer you personally on this. I'm K.F.

Chernow is a common family name, so remove the letter "n" and pronounce it like that. The name is the family name on my mentor and teacher that one day was robbed and killed.

[2019-02-10 22:34] axefrog commented on #320
Ah right, sorry to hear that...!

So, like "shur-roe" or "chur-roe"?

[2019-02-10 22:43] KFlash commented on #320
I would say more like "shur-roe"

[2019-02-11 05:12] KFlash opened #321 "55k unused table entries"
@fkleuver The table lookup in the scanner code contain around 60k entries and 97% of them are represented as `null`. And we are only using 3% of that table. The lower ASCII range - 0 - 128.

I can't see any performance gain in mixing unicode chars into it to replace the `null`.

And use of the Array() constructor can be ambiguous. [Read this](http://bonsaiden.github.io/JavaScript-Garden/#array.con

[2019-02-11 05:16] #320 closed

[2019-02-11 05:36] fkleuver commented on #321
Ever tried a plain object literal lookup, with `charAt` instead of `charCodeAt`?

[2019-02-11 05:47] KFlash commented on #321
I haven't tried it, but in my recent code that  I can't find on this laptop - I limited the lookup table to a minimum for one char punctuators and the char starting with other punctuators plus string, template etc. And if no match it throws an error. Also WS skipping was different.

[2019-02-11 06:12] KFlash commented on #321
@fkleuver I found the code I searched for, but it's half-done. I will spend a few hours trying to finish what I tried to do before, then you can decide if you want to use it when you optimize Cherow.

This is the generated table

[code]

[2019-02-11 06:20] KFlash commented on #321
I admit development is a sickness. I prefer to spend my days with a Rookworst, but still miss coding :)

[2019-02-11 06:44] fkleuver commented on #321
Hard to argue with that :)

The two don't appear to be incompatible

[2019-02-11 07:00] KFlash commented on #321
@fkleuver What I'm trying to archive I haven't seen this done in JS at all, so I'm not sure it's doable at all.
**But** I'm flatten everything into a infinite state machine with a 0-128 ASCII range lookup table.

The whitespace skipping is done separate, but still part of the lookup and the WS state are represented by bit masks to figure out if we have skipped anything at all.

So far so good, and

[2019-02-11 07:20] fkleuver commented on #321
So you want good ol' C++ then? ;p https://mbebenita.github.io/WasmExplorer/
![image](https://user-images.githubusercontent.com/9655331/52549908-e7197500-2dd5-11e9-82b5-615c709e213b.png)

[2019-02-11 07:43] KFlash commented on #321
Just now I prefer it yes. Lack of both macros and `goto` got me stuck. I can't get up again after WS skipping. Need to rethink :(
And my WhiteSpace and LineTerminar are each represented by one bit mask so I don't have to do the extra comparison. That works, but I need it to return to the lookup table so I can skip the comments and fix punctuators.

[2019-02-11 07:55] KFlash commented on #321
@fkleuver When I develop I prefer to see results like this ` 13 passing (21ms)`

Got it working :)

[2019-02-11 11:44] KFlash commented on #321
@fkleuver This will take some more time to fix, but one thing I'm trying to do is to eliminate the scanner overhead all JS parsers suffers from because it's normal to find spaces and tabs after newlines due to indentation and none is optimized for this.
Second thing I did was to still keep the whitespace skipping into the scanner, but I somehow separated the loop body and token dispatch. They are

[2019-02-11 23:59] KFlash commented on #321
@fkleuver I got this working, but I need to improve the WS skipping big time, but for now I'm working on getting the experimental code working as before...

What it does is to use a lookup table (*0 - 128 ASCII range*) and a switch statement.

Instead of
[code]
We simply can do this
[code]
Identifiers and everything else is done the same way.

**Current state**: `202 passing (94ms)`

[2019-02-12 00:04] KFlash commented on #321
This is the numeric literal benchmark. You see the difference between 2.0 and my experiment?

Let's not mention WS skipping yet ;)

![improved](https://user-images.githubusercontent.com/31855118/52602208-b3ede900-2e9c-11e9-91b4-63642855a1db.png)

[2019-02-12 00:14] KFlash commented on #321
@fkleuver As seen from this benchmark and if you do a comparison with the one to the one above you clearly see that whitespace skipping is a bottleneck just now. But I will fix it :)

![ws](https://user-images.githubusercontent.com/31855118/52602450-b43ab400-2e9d-11e9-935d-d6e8219190be.png)

And this is the benchmark for punctuator lookup - simple array

![punc](https://user-images.githubuserconte

[2019-02-12 00:24] KFlash commented on #321
@fkleuver I forgot the identifier scanning benchmark. As you see it's a little faster than Cherow 2.0, but not that much. I already spotted a few places I can improve

![ident](https://user-images.githubusercontent.com/31855118/52602936-750d6280-2e9f-11e9-857b-d19d925a7da4.png)

[2019-02-12 01:26] KFlash commented on #321
@fkleuver My experimental code now works the same as before, but give me at least a few more days to improve some of this mess. Than you can choose if you want to use it for 2.0

![done](https://user-images.githubusercontent.com/31855118/52605075-43e56000-2ea8-11e9-8e51-f0303d6c65e3.png)

[2019-02-12 04:57] KFlash commented on #321
@fkleuver After I push a unpolished new experimental code, could you profile it so it could be improved?  BTW. Did you look at the experimental code?

My thinking now is easy. When you request for a new token in the stream, the code looks like this:

[code]
The `type` returns the current scanner type. E.g newline. This let us set the newline flag only once on the mutual parser flag instead of mult

[2019-02-12 07:24] KFlash commented on #321
@fkleuver I'm closing this. You can find a temporary experimental solution in the experimental branch.

Can you try to profile it?  I'm already aware of a few things to fix, plus I need to optimize for WS!

**NOTE:** Because of the `scannerFlags` are passed around everywhere, you no longer need extra bitset or a comment type enum. Just move it on the `scannerFlags` to simplify and you can collect

[2019-02-12 07:24] #321 closed

[2019-02-15 03:01] KFlash commented on #316
@fkleuver When can we expect a v. 2.0 release?

[2019-02-15 20:17] fkleuver commented on #316
Not sure yet, I'm first going to make benchmarking a bit easier/quicker to do (with more reliable results) so that perf tweaks don't take so long to validate.

[2019-02-15 23:20] KFlash commented on #316
@fkleuver Sounds interesting! Btw. What have been suggested before regarding solution for getting the scope working in arrows - I only think that can be fixed if you move the scope to the state object. Not sure about the performance regarding that.
Merging obj lit and obj pattern into one will give you too much headache, and not worth it. If it's possible at all. And if you manage to fix it someho

[2019-02-16 01:12] KFlash commented on #316
@fkleuver Regarding the wormholes I mentioned above. There is no performance benefits to try to refactor Cherow into something like that, and it's *nearly impossible*. I guess that why V8 and others didn't write their parsers that way. It's actually to hard :(

Anyway. Just to guide you. The benchmark results below is Cherow 2.0 *vs* that wormhole idea I just mentioned

![array_bench](https://user

[2019-02-16 08:43] KFlash commented on #316
@fkleuver What do you think about something like this? This is taken from my "too many womholes and  headache experiment"

[code]

[2019-02-16 18:51] fkleuver commented on #316
That doesn't sound like a you thing to say. Isn't the point of cherow to rely on such extensive testing that it doesn't *need* to follow well-known patterns, and can instead attempt to do better?

Not if properly tested. I was trying out [stryker](https://stryker-mutator.io/) to find out exactly which logic in the code base is redundant, and use that information to try and optimize things further.

[2019-02-17 00:05] KFlash commented on #316
I'm not hesitating regarding the existing tests. They cover everything in Cherow and there are more than enough tests to be confident that the parser works as it should. No problems there :)
I'm only hesitating about my experimental code because I know that code will fail somehow or I will run into edge cases that I can't solve (*already experienced it*). That's the reason why I let Cherow follow

[2019-02-17 02:20] KFlash commented on #316
@fkleuver Just now I ran into an issue with my experimental code while trying to parse out
 `[x, ...z + arr, y]`.  The cause of this issue is the missing binary expression.
With Cherow 1.6x and now Cherow 2.0 this kind of issues will never happen because we are following the well-known pattern, but in my experiment this has to be done manually. And how many cases like this I haven't discoverd **ye

[2019-02-17 03:58] fkleuver commented on #316
I don't understand. If you ran into an issue that the tests didn't expose, then doesn't that mean there are still missing tests?

[2019-02-17 04:41] KFlash commented on #316
@fkleuver I think you are confused with my experiment example? Just think Cherow. The well-known pattern goes like this

`assignment expr -> member expr -> primary expr -> member expr (*again)`

The [MemberExpression](https://tc39.github.io/ecma262/#prod-MemberExpression) are quite limited.

So if you parse out something like `([a.b.])`, the "*tail*" is there. The `.b`. But let us say you are miss

[2019-02-17 11:09] KFlash commented on #316
@fkleuver One thing that actually could improve performance is a refactor of `parseAssignmentExpression` or at least clean it up, but note that Async arrow is a PITA to parse.  An ideal solution would be something you see in V8 [here](https://github.com/v8/v8/blob/master/src/parsing/parser-base.h#L3002) and [here](https://github.com/v8/v8/blob/master/src/parsing/parser-base.h#L1657) and the specs

[2019-02-17 14:03] fkleuver commented on #316
One thing I noticed in running the benchmark is that both TypeScript and Aurelia are particularly slow to parse in comparison to 1.6. What those 2 files have in common (which the other files don't) is very large functions (in TypeScript they are simply large functions, in Aurelia they are `iife`s). I've got the feeling that this slows cherow 2.0 down so much due to the scope tracking. But I'm not

[2019-02-17 14:43] KFlash commented on #316
When you are parsing a function in Cherow 2.0 you create 3 scopes, and append 2 scopes. You only create 2 scopes if you are in function expression. You validate the function name in the scope too. In the formal list it also keep track if it is a complex arg or not. Not sure if this have the huge impact?
Did you try to profile it?

[2019-02-17 15:22] KFlash commented on #316
@fkleuver Did you try to do a comparison vs Acorn? What's the differences?
Try to either disable or improve the scoping, maybe it help?

I can try to experiment with a different scoping implementation soon as I get to a computer, but in Cherow 2.0 you may move it to the state object so it will work for arrows and async arrows. No way around that because of the well-known pattern we follow, and you

[2019-02-18 01:56] KFlash commented on #316
@fkleuver The function args are pattern, so I may think if you use the `inArgList` bit mask, you can avoid to reinterpret to pattern in `AssignmentExpression` everytime you parse out a function. Maybe that help?

[2019-02-19 23:20] KFlash commented on #316
@fkleuver you will add decorators before releasing?

[2019-02-20 00:29] KFlash commented on #316
@fkleuver Can you try to think about a better algorithm for this one? E.g. escaped keywords.
See [V8](https://github.com/v8/v8/blob/master/src/parsing/parser-base.h#L2923). In a few places we still need to fix this, so something like this?

[code]

I'm not on a computer, so I can't test, but can you try to come up with something better? I doubt relying on the token length is a good idea. It's diff

[2019-02-20 14:33] fkleuver commented on #316
Did some profiling in V8, seems to be spending a lot of time in `recordTokenValue` if I'm not mistaken. It seems to be a bit tricky to get a good overview in NodeJS directly though.

[output-all.log](https://github.com/cherow/cherow/files/2882803/output-all.log)

Yeah I don't know if relying on token length is a good idea at all, because what about escape characters? Or what was this about?

[2019-02-20 16:08] KFlash commented on #316
`recordTokenValue` is the main function for scoping. Records everything including lexicals and get called when using lexicals, functions, arrows etc. So I am not surprised about that. Ideas how to refactor & optimize it?

An idea for scoping is just convert it to class, and rely entirely on bit masks.

Regarding escaped characters. Almost everything related to it is fixed. There exist a few edge c

[2019-02-22 02:56] KFlash commented on #316
@fkleuver Do you think this is an faster way of implementing the grammar? I found some time to work on my experiment, and still not sure this will work...

[code]

[2019-02-22 23:15] KFlash commented on #316
@fkleuver What's your progress with v. 2.0? A release soon? My suggestion / idea above isn't possible because of the way Cherow is designed, and I doubt it's faster. Not even V8 handle the grammar like that. Anyway. I got it working like that in my experiment for array and rest & spread, but doubt it's faster. And a lot more code is needed to fix it :(

[2019-02-25 01:15] KFlash commented on #316
@fkleuver Ideas on how to improve the scoping so you can release v. 2.0 soon?

[2019-02-25 18:39] fkleuver commented on #316
@KFlash After giving it some thought I came to the conclusion that scoping would be better done *after* parsing as a separate, optional step, by walking the parsed AST and analyzing on that instead of directly on the tokens during parsing. There are a few reasons for that:
1. The obvious one: performance. If you disable scoping, 2.0 might very well even be faster than 1.6
2. Lib size when not usin

[2019-02-26 01:53] KFlash commented on #316
@fkleuver Interesting idea! I guess you are thinking of using a pure binary search to walk the AST? It might be faster that way, and just swap the state on the flags as you go and throw / not throw in the end based on the bit mask state. Something like

[code]
I did similar kind of thing in my experiment when I implemented the grammar, but I had to "play" with arrows, arrays, objects and parens at

[2019-02-26 02:09] KFlash commented on #316
If you implement this a natural new breaking change that could land in 2.1 would be to remove the AST itself from the Cherow core and instead use binary values for the AST. Then in the end when you walk the AST, you simply assemble it again based on the state of the binary masks and do lexical scoping as well.

1. You would be able to output different AST's. Not only ESTree
2. Lexical analyzes can

[2019-02-26 02:22] fkleuver commented on #316
You want to define a binary notation (something like ProtoBuf) to store the parse result in an ArrayBuffer or the likes? So `start` and `end` position + NodeType. And then parse *that* back into an AST upon request. So if you only need validation, no AST is produced. Lol. I like the idea but I think most people do actually want the AST, and this would put an extra parsing step in between.
It is a

[2019-02-26 02:30] KFlash commented on #316
I didn't think it through, and as you know I'm experimenting a lot. I was more or less thinking like this
`return statement | binary | member | primary | identifier /* additional masks for assignment & destruct */ | destructible`

Then I guess you could do a similar lookup as done for tokens & errors? Where the main AST nodes are binary masks & sub masks and the rest is simple enums.

I never thou

[2019-02-26 02:34] fkleuver commented on #316
I think the main point of improvement at the moment is to cut loose the scope validation in the first place, as per 80/20 (or in this case more like 95/5) rule. Almost half of the time is spent doing that. It's huge.
If scope validating winds up being a little inefficient compared to what it is now, I don't think that's a big deal as the performance would still roughly be doubled for the majority

[2019-02-26 02:41] KFlash commented on #316
Agree that the main focus has to be to cut loose the scope validation, and back then when I implemented it I was focused on getting things working as you suggested, and performance after. The `any` type is either a number and object. Something I did in a rush. The main purpose is that for expression parsing it should do nothing with the main scope. Only add names and lexicals.  The plan was to use

[2019-02-26 03:04] KFlash commented on #316
@fkleuver As I said I may have huge change for Cherow 2.x, but I'm not in open source mode anymore so confused. Is this readable / understandable for the end-users?

[code]

[2019-02-26 06:43] KFlash commented on #316
@fkleuver You know. In the moment everything become a bit mask, you have lost contact with reality and no longer a human, but a computer yourself :)
Here you see the benchmark on my non-optimized experiment. Mostly everything is bit masks.

Comparison vs. Cherow 2.0

![kleuver](https://user-images.githubusercontent.com/31855118/53392565-bdb33880-39d4-11e9-9167-48629c3f1cd4.png)

[2019-03-03 04:03] KFlash commented on #316
@fkleuver Any progress on perf improvement and the scoping? That has to be the main focus before 2.0 release. Don't worry too much about the few non-failing cases that still exist. I will make sure they will be fixed in v. 2.x sometimes in the future. It depends ...

As you know I have been experimenting, and I think I made the impossible possible. And I plan to release my experimental code to the

[2019-03-05 00:10] KFlash commented on #316
@fkleuver I experimented a little, and as you said. We get a huge performance boost if you cut loose the scope validation. But with location tracking enabled the performance seems almost identical to v. 1.x with location tracking enabled.

I did a quick comparison against my own experimental code, and you see it here. Very small diff between 2.x and 1.x

![kl](https://user-images.githubusercontent

[2019-03-11 09:39] KFlash commented on #316
@fkleuver Any progress on the 2.0 release?  I noticed things escalated...    So could you do the separation?  Don't bother too much with the main code except extraction.  I plan to release to public my private reference parser in the future.  Probably for v. 2.x or 3.0.
When I do so I will replace the main Cherie parser code and set a new parser standard.  Still work to fix on it to make it public

[2019-03-11 10:43] fkleuver commented on #316
@KFlash I'm not entirely following. Also, apologies, I've been swamped with work recently and also have some catching up to do for Aurelia as well. Too many things happening at the same time.
As for 2.0, I think we've got a dilemma here don't we? Should we do this before or after the separation of scoping?

[2019-03-11 11:07] KFlash commented on #316
@fkleuver It's okay, and I understand your situation. Dilemma for 2.0? I'm not sure. It's only to rip out the scoping code and do what we talked about. Later when I find time for it I will *only* replace the part of Cherow that creates the AST nodes, and your scoping code will be used together with the new code. I can't see any huge issues with that?
In my reference parser I have no scoping code a

[2019-03-11 13:15] fkleuver commented on #316
@KFlash You already had some code that took out the scoping right? Mind sharing that for reference?
Btw, if you're working on some new experimental stuff, seriously, try wasm. You've good roots in C/C++ right? You can write the parser entirely in that and compile it straight to WASM. Every major browser supports it already. It's several times faster.

[2019-03-11 13:29] KFlash commented on #316
@fkleuver I don't have any code without scoping except for v. 1.x, but it should be easy to remove the scoping code. Just remove all code that either start or end with `scope` and also have a look at `common.ts` to see the functions related to scoping and remove them too :)

**Note:** Tests will break ofc. - tests related to scoping. But also be aware that func params, throw statement, switch stat

[2019-03-11 13:44] KFlash commented on #316
@fkleuver Sent you a file on gitter. You can use it as a reference maybe? No export and import, but everything else should work.  Use `kleuver` instead of `cherow` and you are good to go :) Then you can test out your scoping

[2019-03-11 16:41] KFlash commented on #316
@fkleuver How can we best simplify something like this?

[code]

[2019-03-12 05:18] KFlash commented on #316
@fkleuver Your thoughts? I got my experimental code working now. My code is absolutely **not** optimized or tweaked, so the perf you see in the benchmark is not the finale result **But** the experimental code does much more validations than Cherow 2.x.

![newbench](https://user-images.githubusercontent.com/31855118/54176237-097fda80-44c9-11e9-929a-04323f54c245.png)

[2019-03-15 05:09] KFlash commented on #316
@fkleuver Any timeframe for v. 2.0 release on NPM? Some people want to start using Cherow, and better to let them use v. 2.0.... See gitter for a reference.

[2019-03-15 06:08] fkleuver commented on #316
It is already possible to try it out by installing `cherow@dev` for the record. The nightly is publishing directly from master.

[2019-03-15 06:43] KFlash commented on #316
Maybe you should mention it on gitter? And implement jsx again?

[2019-03-15 07:07] fkleuver commented on #316
I did.

Woah. Was it implemented in 1.6?

[2019-03-15 07:19] KFlash commented on #316
JSX have always been in Cherow except 2.0. You don't remember that you tried to fix the TS types for JSX before?

[2019-03-16 22:32] vlkosinov opened #324 "Support UTF-16 encoding"
It is not possible to parse code with non ASCII symbols as identifiers.

**Code**

[code]

**Expected behavior:**
Correctly parse input code

**Actual behavior:**
[code]

[2019-03-23 05:48] KFlash commented on #316
@fkleuver Any progress on the v. 2.0 release? See gitter

[2019-03-24 12:39] fkleuver commented on #324
@KFlash Didn't we use to have a couple of thousand tests for all valid identifier chars?

[2019-03-24 13:52] KFlash commented on #324
@fkleuver In v. 1.6x yes. Seems like a bug happened in the rewrite that isn't covered by any tests

[2019-04-02 05:39] KFlash commented on #324
@fkleuver I'm releasing to public some of my private code now, and if you port my lexer code to work with Cherow 2.0 this issue should be solved. I'm soon done with the lexer code - found [here](https://github.com/cherow/cherow/tree/lexer_demo) and a test for this issue is seen [here](https://github.com/cherow/cherow/blob/lexer_demo/test/internal/scanner/identifiers.ts#L74).

Should be easy enough

[2019-04-03 05:22] KFlash opened #327 "Port new lexer code to work with Cherow 2.0"
I released to the public a modified version of my [private lexer code](https://github.com/cherow/cherow/tree/lexer_demo/src/scanner). It can almost be used as an drop-in replacement, but need a few adjustments to work. E.g. the location tracking and tokens.

The improved lexer code is tweaked and optimized to be very fast, and Test262 compatible.

**Note:** I'm fully aware that things can be optim

[2019-04-05 19:42] nchanged opened #328 "Unexpected token "get""
The error below happens when I try to parse `lodash-es` modules with `cherow@1.6.9`
`cherow@next` isn't available (I can't install it)

[code]

[code]

**Expected behavior:**

Parsed correctly.
**Actual behavior:**

[code]

I am the founder of `FuseBox` and I get to see all kind of weird cases, since FuseBox is a bundler, I feel that cherow isn't ready for production just yet, however, I have big

[2019-04-05 22:28] KFlash commented on #328
@fkleuver You take a look at this? I think the best solution is that you finish v. 2.0 and push to NPM because this issues have already been solved on Master.

[2019-04-06 09:12] nchanged commented on #328
Please do so, I will start testing it extensively, I have around 600 tests for now to run it through.

[2019-04-06 23:04] KFlash commented on #328
@nchanged I retired 2 months ago, and back then @fkleuver should continue this project, but until now 2.0  haven't been released yet and I'm not sure about his schedule. Sometimes I look at the project, but see no progress so don't expect too much to happen I guess.

Regarding `@next` is wrong. You should use  `@dev`. Example `npm i cherow@1.6.8-dev.20190406`

[2019-04-08 01:18] fkleuver commented on #328
@nchanged The master branch is published to npm every night under `@dev`. `npm i cherow@dev` will do the trick. Let us know if that works.

@KFlash Yes, things are not going according to plan. I can only do one thing at a time, sorry.

[2019-04-08 06:05] KFlash commented on #328
@fkleuver Maybe next year? Anyway. To help you out finish this I started to port my private parser code to open source. You can find it [here](https://github.com/meriyah/meriyah), Don't expect miracles within short time, but the private code works and kicks ass. So you can "borrow" ideas from there maybe? Meriyah will be gone soon as I'm done porting the code and can merge it *hopefully* into Cher

[2019-04-08 06:13] nchanged commented on #328
I just wanted to know, can I expect cherow 2.0 to be published within 2 months?

[2019-04-08 06:35] KFlash commented on #328
@nchanged With JSX extension? I think @fkleuver is the best to answer that question. But if not I may have another option for you within 1 month I guess.

[2019-04-08 23:42] KFlash commented on #316
@fkleuver Any release data for Cherow 2.x yet ?

[2019-04-09 11:18] fkleuver commented on #316
@KFlash Let's clear something up here. We agreed that I would do performance optimizations, not that I would take over the project and fix your bugs as well. If there were no bugs, it could be released already because performance is just performance. Being slower than 1.6x doesn't block anyone.
If in your opinion it can't be released yet, then what's wrong?

[2019-04-09 12:02] KFlash commented on #316
What's was holding back was the fact you talked about rip out the scoping.  If not.  Go ahead and push it to mom.  A minor release can fix performance.

You also mentioned decorators. I guess that can be minor patch as well.

[2019-04-09 15:31] KFlash commented on #316
Regarding the REPL you started to work on in may & june 2018. Any progress on it? Do you think it will be useful together with a 2.0 release?

[2019-04-12 02:40] KFlash commented on #321
For the record. We ended up with 55k unused entries because someone modified the table so we got this code:  `const table = new Array(0xffff).fill(scanMaybeIdentifier, 0x80)`.
What we actually wanted was a 128 entry table, and correct code for that is
`const table = new Array(128).fill(impossible)`.

[2019-04-12 23:12] #327 closed

[2019-04-13 01:59] #315 closed

[2019-04-13 02:00] #284 closed

[2019-04-18 17:03] br0p0p opened #329 "onComment doesn't seem to work"
Commit in yarn.lock: `7c5e34fce297f152a6f7853dcc9fe2f9e1b36ab8`

**Code**

[code]

**Expected behavior:**
- `comments` to contain an entry for each comment
- log output for every comment

**Actual behavior:**
- `comments` is empty
- no log output except the final `comments: []`

[2019-04-19 01:23] KFlash commented on #329
Only works with a callback function atm. If you are using master branch?

@fkleuver Could you look into this?

[2019-04-19 03:35] br0p0p commented on #329
@KFlash cool, that works for me. Thanks!

[2019-04-19 03:35] #329 closed

[2019-04-21 01:41] KFlash commented on #316
@fkleuver @g-plane Can you publish master to NPM? I can't access the NPM account. And close this ticket.

[2019-04-21 01:55] g-plane commented on #316
I can't. Maybe @fkleuver can.

[2019-04-21 02:12] KFlash commented on #316
@g-plane Maybe he can. You forgot the password to?

[2019-04-21 02:15] g-plane commented on #316
I'm using another operating system and the Node.js haven't been installed.

[2019-04-24 09:32] KFlash opened #330 "Should decorators be implemented?"
@fkleuver Is this needed? You mentioned it in [this](https://github.com/cherow/cherow/issues/316) issue ticket.  In any case it has to land in 2.1 after you push 2.0 to NPM.

[2019-04-24 18:34] ljharb commented on #330
No, not yet. Decorators are still in a lot of flux.

[2019-04-25 02:47] KFlash commented on #330
Any idea when the specs are ready for an implementation? I implemented decorators in my private project, and yes I ran into several funny scenarios.

[2019-04-25 04:44] KFlash commented on #316
@fkleuver Any progress on pushing Cherow to NPM?

[2019-04-25 15:10] ljharb commented on #330
Stage 3 is usually when it’s time for implementation; they’re still at stage 2.

[2019-04-28 08:51] KFlash opened #331 "Replace existing fuzzer"
@aladdin-add You was the one who added the fuzzer to this repo, but there seem to be mayor issues with the code generated. And it only test code in module goal, and doesn't test with and without web compability. Most of the Test262 are without web-compability.

And some of the code generated are actually invalid

`for (var nxuria of (null)) for ({qlgseqdb, pwcddhnbfp, "'": s, z: (this).y = ((() =>

[2019-04-28 09:42] KFlash commented on #331
The fuzzer allso generate this code

`export {eval, arguments, ipfpsjifis as xhrvgtf, kepfqdme as var, arguments};`

But it's an early-error to export two "arguments"

[2019-04-29 07:27] KFlash opened #332 "Prepare and publish Cherow 2.0 to NPM"
Publish master branch to NPM

- [ ] Optimize tweak / code

- [ ] Fix https://github.com/cherow/cherow/issues/292

- [ ] Extract the scope logic

cc / @fkleuver

[2019-04-30 07:23] KFlash commented on #332
@fkleuver Can you try to look into the performance stuff?  There are room for optimization.

Look at this ` 60557 passing (2s) vs 26368 passing (4s) for Cherow. `.  Private code runs twice as much tests in half of the time Cherow execute them in! Can you fix this somehow?

[2019-05-01 04:51] axefrog opened #333 "Bug: "Unterminated regular expression" when parsing division inside a computed property"
**Code**

[code]

https://cherow.github.io/cherow/?code=a%20%3D%20%7B%20%5B'foo'%5D%3A%20n%20%2F%201%20%7D&method=parse&range=false&loc=undefined&next=false&module=false&raw=false&jsx=undefined&directives=undefined&attachComment=undefined&webCompat=false

**Expected behavior:**

Parses correctly.

**Actual behavior:**

[code]

[2019-05-01 05:33] #333 closed

[2019-05-02 17:36] fraxken opened #334 "SyntaxError if the string contain a Shebang at start"
Hi,

In one of my project i use cherow to retrieve some information in my JavaScript files (require declaration). But when the file start with a shebang (a .js file for a Binary project for example), then cherow throw an SyntaxError (i suppose cherow try to parse it as Javascript but fail).

[code]

To reproduce the issue, just create a .js file with a Shebang at the start:
[code]

And parse the s

[2019-05-02 18:24] KFlash commented on #334
Hi. Are you using Cherow 1.6.9? Try use the @dev version on NPM. That's the current version on Master branch and shebang will not be skipped unless you do `{ next: true }` because it's part of ESNext and the [proposal-hashbang](https://github.com/tc39/proposal-hashbang). Hope that helps :)

[2019-05-03 08:56] fraxken commented on #334
Hi,

Yes i'm using Cherow 1.6.9.
I tested your solution with the dev release and it work. Thanks 💯

Best Regards
Thomas

[2019-05-03 09:04] KFlash commented on #334
You are welcome. I'm closing this issue then.

[2019-05-03 09:04] #334 closed

[2019-05-03 17:10] axefrog commented on #333
@KFlash Thanks for fixing that! :)

[2019-05-04 21:03] axefrog commented on #333
@KFlash Not sure if I'm misreading, but it appears the fix was applied to the 1.6.x codebase. In my project I'm periodically just manually grabbing a copy of `cherow.esm.js` from the `dist` folder in the dev branch.

[2019-05-05 05:43] KFlash commented on #332
cc/ @fkleuver ?

[2019-05-07 02:18] KFlash commented on #332
cc/ @fkleuver ?

[2019-05-07 15:24] KFlash commented on #333
@axefrog As you know I'm retired, but I spent some time porting my private parser code to open source.  If you run into cases like this or cases where you are not sure they should pass / fail you can validate with [meriyah](https://github.com/meriyah/meriyah)

[2019-05-09 11:03] KFlash commented on #303
@fkleuver Bringing this up again now that Meriyah is out. How's the performance plans for Cherow? You mentioned in this ticket you had plans to tweak the source?

![perf1](https://user-images.githubusercontent.com/31855118/57448876-103e8a00-728d-11e9-82bc-89dbf0569c16.png)

[2019-05-09 11:07] KFlash commented on #303
@fkleuver I'm bringing this issue up again now that Meriyah is out. What's the plan for optimizations of the Cherow source code as mentioned in this issue ticket?

![perf2](https://user-images.githubusercontent.com/31855118/57449088-9f4ba200-728d-11e9-858b-6906bc69b806.png)

[2019-05-10 02:26] aladdin-add opened #335 "We found a potential security vulnerability in one of your dependencies."
it was found by github alerts:
![image](https://user-images.githubusercontent.com/13050025/57498276-cf3a8a00-730d-11e9-8c05-b4cee7f2b2d9.png)
![image](https://user-images.githubusercontent.com/13050025/57498332-0610a000-730e-11e9-86c3-bfded4b0189b.png)

[2019-05-10 02:27] g-plane commented on #335
I think we just use jQuery in GitHub pages, so we can upgrade it.

[2019-05-10 02:59] KFlash commented on #335
Who are willing to take a stab at it? And also Master branch should have been pushed to NPM. But @fkleuver seems to be out of radio range or switched off atm :)

[2019-05-10 03:23] aladdin-add commented on #335
I'm willing to, but not atm. maybe the following 2~3 days.

[2019-05-10 05:46] golopot opened #336 "Speed comparison page stop working because external script request failed"
**Code**
1. Navigate to https://cherow.github.io/cherow/performance/ .
2. Click "Run speed comparison with warm JIT" .

**Expected behavior:**
Benchmark starts.

Aside from waiting for https://wzrd.in/ fixing their problems. This page can add a try catch around each parser run so that a failing run does not affect other run.

[2019-05-10 05:55] golopot opened #337 "Speed comparison page: replace babylon with @babel/parser"
Babylon has been deprecated for some time.

[2019-05-11 05:37] axefrog opened #338 "Bug: non-method object literal property marked as 'method' when following method property"
**Code**

[code]

Cherow (all versions) parses the second property with `method: true`. This only occurs when preceded by a method property.

@KFlash Sorry, my intent is to test with meriyah, but in a hurry at the moment and haven't had a chance to clone/build meriyah, which naturally is necessary without a demo site like Cherow has.

[2019-05-11 05:45] KFlash commented on #338
I will look into it. Not sure why it's happens?

@axefrog Do not worry too much about meriyah :) It was my private reference parser that I made public and also what I used to validate output with Cherow before. That parser is more spec compat than the Tes262 suite.  And I just parsed your example with meriyah, and I guess this is the correct result you want?

[code]

I will try to fix it in Cherow

[2019-05-11 05:58] #338 closed

[2019-05-11 21:19] axefrog commented on #338
@KFlash yep, looks good. cheers!

[2019-05-11 21:21] axefrog opened #340 "Class fields - this should be working right?"
**Code**

[code]

[code]

Just wondering if this is a bug or if I'm doing something wrong...

Note: I have tested it with some of the other samples on https://github.com/tc39/proposal-class-fields and I'm getting errors for all of them. It seems like the `next` option is being ignored by Cherow.

[2019-05-11 23:30] KFlash commented on #340
Class fields are at Stage 3 and haven't been implemented on Cherow *yet*. That's why you get this error.

[2019-05-12 10:18] #335 closed

[2019-05-14 08:47] nchanged opened #341 "JSX suppport with 2.0"
Any ETA on when it will be implemented? It doesn't seem to work with `1.6.8-dev.20190514`

@fkleuver

[2019-05-14 09:43] nchanged opened #342 "Failed to parse module"
I am attaching `medium-zoom.esm.js` file which cannot be parsed.
I don't have much time (unfortunately) to investigate it myself. All I can say that it's a valid js and works with acorn.

[medium-zoom.esm.js.zip](https://github.com/cherow/cherow/files/3176928/medium-zoom.esm.js.zip)

@fkleuver @KFlash

[2019-05-14 09:48] KFlash commented on #342
@nchanged I guess you are doing something wrong in your end? The attached code parsed just fine with the [online demo](https://cherow.github.io/cherow/?code=%2F*!%20medium-zoom%201.0.4%20%7C%20MIT%20License%20%7C%20https%3A%2F%2Fgithub.com%2Ffrancoischalifour%2Fmedium-zoom%20*%2Fvar%20_extends%3DObject.assign%7C%7Cfunction(a)%7Bfor(var%20b%2Cc%3D1%3Bc%3Carguments.length%3Bc%2B%2B)for(var%20d%20in%

[2019-05-14 10:17] nchanged commented on #342
[platform-browser-dynamic.js.zip](https://github.com/cherow/cherow/files/3177074/platform-browser-dynamic.js.zip)
wrong file sorry

[2019-05-14 10:21] KFlash commented on #342
I noticed :) This is a issue related to https://github.com/cherow/cherow/issues/324

cc/ @fkleuver ??

[2019-05-15 20:59] axefrog commented on #340
@KFlash Got it. I misinterpreted the README as implying blanket support for stage 3 proposals, and given the increasing mainstream browser support for class fields, and corresponding increase in adoption that I've been noticing, I made the assumption without thinking too much about it.

[2019-05-15 20:59] #340 closed

[2019-05-21 22:10] KFlash commented on #342
cc/ @fkleuver ??

[2019-05-21 22:10] KFlash commented on #341
@fkleuver ?? Any update on this?

[2019-05-21 22:11] KFlash commented on #332
cc/ @fkleuver Any NPM progress?

[2019-05-24 02:55] KFlash commented on #332
cc/ @fkleuver Any NPM progress? Looks like Cherow 2.x is put on hold until public release...

[2019-05-26 22:43] KFlash commented on #332
While we waiting for @fkleuver to publish 2.0, [Meriyah](https://github.com/meriyah/meriyah/commits/master) can be used to parse your JS code.

**Note:** Meriyah is 100% spec compat, but a retirement project and it progress slowly

[2019-05-31 01:37] KFlash opened #343 "doesn't calculate lines correctly at comment start of a func decl"
Try to parse this: `/**/ function a() {}`.

The correct start and end value of the func decl should be 5 & 20. Currently this is reported at 0 & 20. I discovered it when I was implementing loc tracking on Meriyah.

cc @fkleuver Do you look into this?

[2019-06-04 01:33] KFlash opened #344 "Incorect start value on call expr in class"
Code to reproduce: `class x extends feh(await) { }`

The `callexpression` start value is 0, but should be 16.

cc / @fkleuver Do you handle this?

[2019-06-06 00:05] lawrence-dol opened #345 "Emit errors in standard format for compilers"
I was wondering if it would be possible to change the error output to a more standard compiler format that would make the line and column easier to extract.

Current: `<file>:~: <error message> (<col>:<lin>)`

Preferred: `<file>:<line>:<column> <error-text>`

[2019-06-06 07:15] KFlash commented on #345
@lawrence-dol Do you mean something like this `SyntaxError: [1:35]: Await is only valid in async functions`?
I did an experiment with [my retirement project](https://github.com/meriyah/meriyah) and it seems to be easy to port it.

[2019-06-06 07:43] lawrence-dol commented on #345
@KFlash

No, I mean the same as `javac` and almost every other compiler I've encountered (every C compiler uses the same format, too). For example, where the column is reported:

    c:\some\path\Version.java:12:37: Expected `;`

and where only the line number is reported:

    c:\some\path\Version.java:12: Expected `;`

[2019-06-06 07:48] KFlash commented on #345
In the retirement project it's like that now except I wrapped it in brackets. It's similar to the error messages reported by the ShiftJS parser in ASTExplorer.

[2019-06-08 02:02] KFlash opened #346 "Top-level await now stage 3"
Top-level await is now stage 3 and the `globalAwait` option should be removed and the `next` option should be used instead.

@fkleuver You add this to your TODO list?

[2019-06-09 05:32] KFlash opened #347 "Wrong error message for duplicate ident in arrow head"
`(a, a)  => c` throws `Identifier 'function argument' has already been declared (1:12)`

@fkleuver I guess this is something you will fix when you separate the scope logic as talked about before?

[2019-06-12 05:39] KFlash commented on #341
@fkleuver Whats the state on this?

[2019-06-12 05:39] KFlash commented on #332
@fkleuver ?

[2019-06-13 05:41] KFlash commented on #343
cc @fkleuver Do you look into this?

[2019-06-13 23:48] KFlash commented on #332
@fkleuver You don't need to extract the scope logic I think when you decide to publish v. 2.0. You can hide it behind a flag. However you need to solve the arrow scoping somehow.
It's a little tricky to use a flag for this too, but you figure it out :) As a reference you can look at my retirement code. I implemented lexical scoping there hidden behind a flag (*not published that code yet*)

[2019-06-15 02:50] aladdin-add opened #348 "bigint and import() arrived stage-4"

[2019-06-15 03:10] KFlash commented on #348
@aladdin-add It's only to remove the first part of [this line](https://github.com/cherow/cherow/blob/master/src/parser/expression.ts#L1206) and update the readme.

Same for BigInt .

As you can see of other issue ticket - @fkleuver should fix several things and publish a 2.0 version, but it seems to be delayed....

[2019-06-18 06:13] KFlash commented on #332
@fkleuver You can simplify the scoping logic further if you merge both hoisted function decl and class decl into func decl and class decl and use bit masks to track. I have done it, tried it and it works :)

[2019-06-18 23:03] KFlash opened #349 "Cherow performance regression"
Cherow was until recently the fastest parser, but it seems too be way slower than the [Meriyah parser](https://github.com/meriyah/meriyah).

@aladdin-add Could you update the benchmark with the Meriyah parser?

@fkleuver You said a few months back you should improve Cherow's performance so I guess you fix this?

![mperf](https://user-images.githubusercontent.com/31855118/59725358-f0bd5880-925f-11e

[2019-06-18 23:08] KFlash commented on #332
@fkleuver The [Meriyah REPL](https://meriyah.github.io/meriyah/) is here and you can see that the scoping can be turned on and off :)

[2019-06-23 02:36] KFlash commented on #332
@fkleuver You may as well refactor loc tracking in Cherow and avoid member access all together in the hot loop. Little tricky, but it should work. And if you manage to fix that, well you wouldn't need to calculate `column++;` on everywhere.

I also noticed perf regression when it comes to loc tracking. Maybe you should improve it?

[2019-06-23 14:34] #330 closed

[2019-06-23 14:35] KFlash commented on #328
Closing this as I doubt @fkleuver can publish Cherow 2.0 within short time.

Try the [meriyah parser](https://github.com/meriyah/meriyah) while whiting for NPM release of 2.0.

[2019-06-23 14:35] #328 closed

[2019-06-23 14:36] KFlash commented on #324
Closing as it seems that @fkleuver will not release Cherow 2.0 yet.

Meanwhile try the [meriyah parser](https://github.com/meriyah/meriyah) and I'm sure this issue is solved.

[2019-06-23 14:36] #324 closed

[2019-06-24 01:18] KFlash opened #350 "Cherow 2.0 progress...."
Current Master branch is Cherow 2.0, but will not be released in near future it seems. @fkleuver has assigned that task, and no progress for now.

While we all waiting for @fkleuver I would recommend to migrate to the [meriyah parser](https://github.com/meriyah/meriyah).

It's a faster parser, and more stable than Cherow 2.x in current state.

[2019-06-24 01:46] aladdin-add commented on #350
do you have access to publish? @KFlash

[2019-06-24 01:50] KFlash commented on #350
@aladdin-add Nope. I lost access last year.

[2019-06-24 01:54] KFlash commented on #350
There are tons of things to fix, and the scope stuff issue haven't been solved last 4 months. It's one of the blockers before a Cherow 2.0 release. @fkleuver mentioned extracting the scope logic.

There are also several known issues with loc tracking, perf regression etc. Things I discovered while finishing the Meriyah parser. And there exist also some other issues I haven't opened a issue for.

S

[2019-07-02 00:20] KFlash commented on #332
@fkleuver Soon 4 months now since this should be release, so I think you have no time? I will update the readme then and let people know this parser is put on hold until you find time to finish your tasks.

[2019-07-05 03:28] KFlash commented on #341
@fkleuver If you one day choose to implement JSX support for Cherow 2.0, be aware that there is an issue with JSX fragments in Cherow 1.6.1. `openingElement` is used instead of `openingFragment` on the `JSXFragment` AST node.

This has to be corrected.

[2019-07-05 08:32] fkleuver commented on #332
@KFlash
Since things don't seem to be going anywhere anytime soon for various reasons, I think it's best I completely withdraw from this project.

You are also working on a new parser which supposedly is already better, faster and more robust than Cherow so I'm not sure why you're trying to have me finish and maintain cherow (and in a certain sense "compete" with you - seems like a blast if I am r

[2019-07-05 09:11] KFlash commented on #332
Hi. Long time :) I understand your situation, and I had plans that Cherow could "stay alive" because some people are using it. Hard to get people to "swap" even if the other parser are an huge improvement. Maybe you could put up a "not maintained" on NPM and readme?

For various reasons my work on Cherow also stopped, and as you mentioned I'm working on or was working on another parser. That parse

[2019-07-06 03:53] KFlash commented on #332
@fkleuver If you find time - try the [Meriyah REPL](https://meriyah.github.io/meriyah/). I'm done with that project now and moved on to TS parsing :)

[2019-07-07 13:27] mureinik opened #352 "Cherow can't parse the regexp /=/g"
Cherow doesn't seem to properly parse the regex `/=/g`, and instead produces an empty pattern for it.
I've tested this with Cherow 1.6.9 on Node 6.0.0 and Node 12.5.0. Did not test in-between versions, but I suspect the same bug would reproduce there too, and is Node-version-agnostic.

**Code**

[code]

**Expected behavior:**
`pattern` should be `'='` (a string with the character `=`).

**Actual b

[2019-07-07 13:28] g-plane commented on #352
Which version are you using?

[2019-07-07 14:25] mureinik commented on #352
@g-plane oops, that was stupid of me. Mea culpa.

I'm using the latest available version in npm, 1.6.9. Also edited in to the original report so that we have all the info in a single post and don't need to read through the comments and fish it out.

[2019-07-07 15:47] KFlash commented on #352
@mureinik @g-plane There are known bugs in v. 1.6.9. It should have been solved in the version on the Master branch, but it's only released as a nightly build.

I may suggest you swap Cherow with Meriyah. Try it in the [REPL here](https://meriyah.github.io/meriyah/)

[2019-07-09 00:16] KFlash opened #353 "Parsing TypeScript"
Everyone! Cherow will never be extended in any way to accept TypeScript syntax.

However. I'm working on a TypeScript parser that will output ESTree AST located [here](https://github.com/buntis/buntis).

I can't promise the same performance as in Cherow because there have been raised questions about possibility for plug-ins in Cherow.

The [Buntis TS parser](https://github.com/buntis/buntis) will

[2019-07-09 00:20] KFlash commented on #292
@devsnek @aladdin-add @fkleuver

I think we come to a conclusion that Cherow will **never** be so extandable as you hoped for, but take a look at the [Buntis TS parser](https://github.com/buntis/buntis) I'm working on.

This will accept both JS and TS, and also support plug-ins in the same way as Acorn.

[2019-07-09 00:22] #292 closed

[2019-07-09 00:24] aladdin-add commented on #353
cherow will not be maintained, I think we should:

+ update the docs to recommend users switching to something like `Meriyah`.
+ archive the repo
+ deprecate the packages(npm)

[2019-07-09 00:27] KFlash commented on #353
@aladdin-add I agree now after @fkleuver withdraw from this project.

Is your bullet list something you can take care of?

[2019-07-09 00:30] aladdin-add commented on #353
I can take 1. and 2. but I don't have access to publish on npm, so better left to @fkleuver

[2019-07-09 01:13] g-plane commented on #353
However, we should publish the last version of Cherow.

[2019-07-19 13:15] peeyush31 opened #354 "Unable to parse blockStatement with key and value as literals"
**Code**

[code]

**Expected behavior:**
Should give an AST. with BlockStatement{LabelledStatement{label:ExpresstionStatement, body:ExpressionStatement}}

**Actual behavior:**
It throws an error `Line 1, column 9: Unexpected token ':'`

[2019-07-19 13:20] aladdin-add commented on #354
hi, cherow is going to be deprecated, and https://github.com/meriyah/meriyah is its successor. please consider to use that, thanks!

[2019-07-19 13:26] aladdin-add commented on #354
Thanks for this issue. This repository and project will no longer be maintained, please consider its successor: https://github.com/meriyah/meriyah

Thanks for understanding and we apologize for any inconvenience!

[2019-07-19 13:26] #354 closed

[2019-07-19 13:27] aladdin-add commented on #352
Thanks for this issue. This repository and project will no longer be maintained, please consider its successor: https://github.com/meriyah/meriyah

Thanks for understanding and we apologize for any inconvenience!

[2019-07-19 13:27] #352 closed

[2019-07-19 13:27] aladdin-add commented on #350
Thanks for this issue. This repository and project will no longer be maintained, please consider its successor: https://github.com/meriyah/meriyah

Thanks for understanding and we apologize for any inconvenience!

[2019-07-19 13:27] #350 closed

[2019-07-19 13:27] aladdin-add commented on #349
Thanks for this issue. This repository and project will no longer be maintained, please consider its successor: https://github.com/meriyah/meriyah

Thanks for understanding and we apologize for any inconvenience!

[2019-07-19 13:27] #349 closed

[2019-07-19 13:27] aladdin-add commented on #348
Thanks for this issue. This repository and project will no longer be maintained, please consider its successor: https://github.com/meriyah/meriyah

Thanks for understanding and we apologize for any inconvenience!

[2019-07-19 13:27] #348 closed

[2019-07-19 13:28] aladdin-add commented on #347
Thanks for this issue. This repository and project will no longer be maintained, please consider its successor: https://github.com/meriyah/meriyah

Thanks for understanding and we apologize for any inconvenience!

[2019-07-19 13:28] #347 closed

[2019-07-19 13:28] aladdin-add commented on #346
Thanks for this issue. This repository and project will no longer be maintained, please consider its successor: https://github.com/meriyah/meriyah

Thanks for understanding and we apologize for any inconvenience!

[2019-07-19 13:28] #346 closed

[2019-07-19 13:28] aladdin-add commented on #345
Thanks for this issue. This repository and project will no longer be maintained, please consider its successor: https://github.com/meriyah/meriyah

Thanks for understanding and we apologize for any inconvenience!

[2019-07-19 13:28] #345 closed

[2019-07-19 13:28] aladdin-add commented on #344
Thanks for this issue. This repository and project will no longer be maintained, please consider its successor: https://github.com/meriyah/meriyah

Thanks for understanding and we apologize for any inconvenience!

[2019-07-19 13:28] #344 closed

[2019-07-19 13:29] aladdin-add commented on #343
Thanks for this issue. This repository and project will no longer be maintained, please consider its successor: https://github.com/meriyah/meriyah

Thanks for understanding and we apologize for any inconvenience!

[2019-07-19 13:29] #343 closed

[2019-07-19 13:29] aladdin-add commented on #342
Thanks for this issue. This repository and project will no longer be maintained, please consider its successor: https://github.com/meriyah/meriyah

Thanks for understanding and we apologize for any inconvenience!

[2019-07-19 13:29] #342 closed

[2019-07-19 13:29] aladdin-add commented on #341
Thanks for this issue. This repository and project will no longer be maintained, please consider its successor: https://github.com/meriyah/meriyah

Thanks for understanding and we apologize for any inconvenience!

[2019-07-19 13:29] #341 closed

[2019-07-19 13:29] aladdin-add commented on #337
Thanks for this issue. This repository and project will no longer be maintained, please consider its successor: https://github.com/meriyah/meriyah

Thanks for understanding and we apologize for any inconvenience!

[2019-07-19 13:29] #337 closed

[2019-07-19 13:30] aladdin-add commented on #336
Thanks for this issue. This repository and project will no longer be maintained, please consider its successor: https://github.com/meriyah/meriyah

Thanks for understanding and we apologize for any inconvenience!

[2019-07-19 13:30] #336 closed

[2019-07-19 13:30] aladdin-add commented on #332
Thanks for this issue. This repository and project will no longer be maintained, please consider its successor: https://github.com/meriyah/meriyah

Thanks for understanding and we apologize for any inconvenience!

[2019-07-19 13:30] #332 closed

[2019-07-19 13:30] aladdin-add commented on #318
Thanks for this issue. This repository and project will no longer be maintained, please consider its successor: https://github.com/meriyah/meriyah

Thanks for understanding and we apologize for any inconvenience!

[2019-07-19 13:30] #318 closed

[2019-07-19 13:31] aladdin-add commented on #353
@KFlash I'm going to archive the repo, please give me the admin access to repo, thanks!

[2019-07-19 13:35] KFlash commented on #353
@aladdin-add done

[2019-07-19 13:36] #353 closed