[2017-09-12 13:17] mikesherov opened #1 "Invite me back when there is public code to look at!"
Thanks for the invite. However, I'm not interested in looking at a closed source parser that is 3x faster than the other parsers. Let me know when it's both real and open source. Thanks, and good luck!

[2017-09-12 15:52] KFlash commented on #1
@mikesherov The code goes open source in the **dev** branch within 3 minutes!! So I'm closing this!

**Closing. The code are now public**

[2017-09-12 15:52] #1 closed

[2017-09-21 10:48] KFlash opened #2 "Roadmap"
First off all I have to admit that I ran out of time. I can't do everything I want to do anymore within the timeframe I had hoped for, but I will fix everything soon.

**Note!** The development are done in the **dev branch**

**Here is what to do:**

- [ ]  Make sure it's stable (*just playing around and testing for bugs*)

- [ ]  Implement escape sequences for templates incl. revisited template (

[2017-09-25 00:41] #2 closed

[2017-09-25 00:44] KFlash opened #3 "Todo"
I ran out of time, so I can't finish everything within the timeframe I wanted, but it will be fixed as soon as I get time for it.

**Left to do**

- [x] Add escaped sequences and revisited template (*stage 3*)

- [ ] Finish destructuring (*adjust bitmasks*)

- [x] Update object rest spread to latest spec. (*Disallow destructuring*).

- [ ] Finish the last non-failing tests (*acc. TC39*)

- [x] Adj

[2017-09-25 23:21] rauschma opened #4 "Online demo?"
An online demo of the parser would be nice. This is Esprima’s: http://esprima.org/demo/parse.html

[2017-09-25 23:46] KFlash commented on #4
@rauschma I couldn't get the Github pages to work, but will give it one more try. I'm using it in the browser locale so easy to set it up.

[2017-09-26 01:13] KFlash commented on #4
I'm closing. A temporary demo can be found here: https://cherow.github.io/cherow/ It only do script code, and `next` are activated by default. Same with the `raw` property.

[2017-09-26 01:13] #4 closed

[2017-09-26 03:45] KFlash commented on #4
Updated the demo to accept a few options. Including parsing module code.

[2017-09-26 04:22] rattrayalex opened #5 "Support for Flow and/or TypeScript"
Many people use these syntaxes. It might be useful to provide support for parsing them.

[2017-09-26 04:30] rattrayalex opened #6 "[help wanted] Create a plugin to produce a babel-compatible AST"
Babel is a widely-used tool for transforming JavaScript AST's.

Its AST structure differs subtly (and, usually, conveniently) from ESTree's.

An option to output a Babel AST instead of an ESTree may be useful for replacing babylon the babylon parser with something more performant.

Many people use Babel as a core part of their workflow, so this could help adoption of `cherow` significantly.

EDIT:

[2017-09-26 04:36] rattrayalex opened #7 "Include babylon in parser benchmarks"
According to [this](https://github.com/babel/babel/issues/3921#issuecomment-249225720) (rather old) thread it should be ~2x slower than Esprima.

[2017-09-26 04:38] KFlash commented on #5
@rattrayalex There was a plan to support TypeScript and the code exist too. However it was skipped due to the fact that the TS team haven't updated their documentation for years and only 50% of TS syntax are known to the public. How can I implement it when I don't know the remaining 50%?

The TS syntax are also changing all the time without any documentation.

Regarding Flow. I haven't looked into

[2017-09-26 04:47] KFlash commented on #6
Isn't the Babel AST only used internal in Babel? Never seen it used as stand-alone. Anyway. ESTree was used as default AST because it's more or less a de-facto standard and widely adopted by everyone even if it has some flaws like the literal node being overloaded. But changing to another AST format that isn't widely adopted isn't on my TODO now. Maybe in the future it can be adopted ss an option.

[2017-09-26 04:52] KFlash commented on #7
Babylon slower than Esprima? That's expected. Esprima have a few optimizations that make it faster than Acorn. Babylon started as a fork from Acirn wich is very slow.
Anyway. I can try add Babylon to the benchmarks soon as I get to a computer. In mobile now.

[2017-09-26 05:12] KFlash commented on #7
Closing. Babylon added to the micro-benchmark.

[2017-09-26 05:12] #7 closed

[2017-09-26 05:13] KFlash commented on #6
Closing this for now. Will re-open if this becomes applicable

[2017-09-26 07:32] KFlash commented on #5
Closing for now. Will re-open if things change in the future.

[2017-09-26 07:32] #5 closed

[2017-09-26 09:27] caub commented on #3
Just a note: shouldn't it be [`ConciseBody`](https://github.com/cherow/cherow/blob/master/src/masks.ts#L11)? also there are some 'was parse' typo leftovers

[2017-09-26 09:43] KFlash commented on #3
@caub You are correct. Things happened little too fast there :) I fixed it now in the break from my regular job.The change will be up shortly.

[2017-09-26 12:54] twiss opened #8 "Unexpected token '(' for arrow function with a function call in it"
Parsing the following throws `Unexpected token '('`:

    var fn = () => test();

Similarly, parsing the following simply throws `Unexpected token`:

    (a => b.test())

[2017-09-26 13:22] KFlash commented on #8
@twiss Hang on! A fix is coming in a few minutes. Running validations now but it's solved!

[2017-09-26 13:33] KFlash commented on #8
@twiss Closing. Fix is up. You can try it in the online demo!

[2017-09-26 13:33] #8 closed

[2017-09-26 13:43] twiss commented on #8
Yup, thanks a lot!

[2017-09-26 14:46] apaprocki opened #9 "C-style let in for() loop throws redeclaration error"
`let` in the `for()` loop should be scoped to the block.

Script:

[code]

Error:

[code]

[2017-09-26 15:02] rattrayalex commented on #5
@KFlash I actually personally am much more interested in Flow, since TypeScript always "does its own thing" while Flow does not provide its own compiler so other tools (primarily Babel) are required to transpile it.

This means that the Flow team can't really change the syntax without those changes being reflected in Babylon, which often requires publicly-viewable communication on github. So you m

[2017-09-26 15:07] KFlash commented on #9
@apaprocki A fix is up. So I'm closing this one and adding the task to my TODO.

[2017-09-26 15:07] #9 closed

[2017-09-26 15:13] syg opened #10 "Parsing test262"
I'd like to see what % of test262 tests Cherow is able to parse correctly (whether intended to be parseable or not). It would certainly suss out issues such as the lexical scoping bug just reported.

[2017-09-26 15:17] rattrayalex opened #11 "Macrobenchmarks"
The microbenchmarks are unlikely to be representative of a typical workload (namely, parsing a 1~100kb file of code).

Eg; parse all code in a variety of open-source projects with a variety of coding styles, such as `lodash`, `react`, `jquery`, `backbone`,  etc.

You may wish to include such benchmarks in your test suite so that contributors do not introduce performance regressions.

[2017-09-26 15:28] KFlash commented on #10
Hi. There are many factors here. First off I think you refer to `test262-parser tests`? Or the `test262/language` tests?  The first mentioned. `Cherow` should actually parse them all. There are - as far as I know - no such tests as in the reported lexical issue.  I can also add that the `test262-parser` tests is far from complete. You can find some of them in the `test262 folder`.

For the `test26

[2017-09-26 15:32] KFlash commented on #11
I'm aware of this. And stated in the benchmark that this also varies from computer to computer. Myself are parsing around 40 different libraries before I push something to this repo to avoid regression, plus another test suite that runs 120 micro benchmarks.

My issue here is that my benchmark solution is a huge hack and nothing I can publish online, but will try to find a solution for this issue

[2017-09-26 15:32] syg commented on #10
Sorry, I was being vague. By test262 I meant:

- Parser tests should pass.
- Runtime tests that aren't testing early errors should parse in Cherow without error, as a blanket litmus test.

[2017-09-26 16:13] KFlash commented on #10
Ok. I'm adding this to my TODO list and will fix this together with the refactoring of the tests that I'm soon going todo. Should we close this one?

[2017-09-26 16:15] KFlash commented on #11
I added this to my TODO #3 so closing this now.

[2017-09-26 16:15] #11 closed

[2017-09-26 16:20] KFlash commented on #5
TypeScript is out of the scope, but I can reconsider Flow. Do you have any statistic on how many uses Flow vs TS?  I added it as an *maybe* to my todo #3 so don't consider this discussion for closed  yet or my decisions for finale :)

[2017-09-26 16:23] KFlash commented on #6
I have to think about this one. To implement this as an option would require duplicating of the code. Maintaining it isn't the issue. The issue is the size of the code base .

[2017-09-26 16:28] apaprocki opened #12 "Parsing labelled statements inside for loops throws"
[code]

Output:
[code]

Parser Error:
[code]

[2017-09-26 16:50] KFlash commented on #12
@apaprocki The fix for this is up, so closing.

[2017-09-26 16:50] #12 closed

[2017-09-26 19:16] twiss commented on #11
I added Cherow to [Esprima's comparison benchmark](http://esprima.org/test/compare.html), I'll send them a PR soon.

[2017-09-26 19:48] twiss opened #15 "Cold start performance"
So, I replaced Esprima with Cherow in my web app. Unfortunately, in my first unscientific testing, it wasn't faster. (Both around 100ms to parse a few files. When I added some more files it was a bit faster, around 180ms instead of 200ms.)

My first hypothesis was that it had something to do with my files, so I added Cherow and a test file to Esprima's comparison benchmark, but sure enough Cherow

[2017-09-26 22:36] KFlash commented on #15
@twiss Interesting. It was actually my first time seeing Cherow being used like this :) And there are many factors here. The two most important one is that Cherow do a lot more "behind the scene" when it comes to validation than Esprima. E.g. scope tracker and some other stuff to catch early errors among other things. If I remove that kind of code I would be on the "same level" as Esprima. So for

[2017-09-26 23:42] KFlash commented on #15
@twiss I did a little change to the performance. Can you check if that helped?

[2017-09-27 00:54] KFlash commented on #10
Closing this for now.

[2017-09-27 00:54] #10 closed

[2017-09-27 01:10] twiss commented on #15
I ran the benchmark again and in Chrome, it's about the same, sorry. I'm not sure why. You can test the benchmark yourself [here](http://rawgit.com/twiss/esprima/gh-pages/test/compare.html) (it grabs the latest version from npm). It tests with locations on there but I also tested with them off locally.

By the way, [Chrome lazily parses functions](http://www.mattzeunert.com/2017/01/30/lazy-javascr

[2017-09-27 02:41] KFlash commented on #15
@twiss Anywhere we can chat about this?

[2017-09-27 03:01] twiss commented on #15
Sure! You could try [Gitter](https://gitter.im), you can make a public room for the repository there pretty easily, and private rooms as well. Or shoot me an email (in profile).

[2017-09-27 07:43] rattrayalex commented on #6
Ah, interesting. There are only a handful of deviations (mostly literals) so I'm not sure how bad it'd be. Certainly no rush in any case.

[2017-09-27 08:04] rattrayalex commented on #5
Awesome!

Here are likely lower (flow-bin) and upper (babel-plugin-syntax-flow) bounds: https://npm-stat.com/charts.html?package=babel-plugin-syntax-flow&package=flow-bin&from=2016-09-27&to=2017-09-27

`flow-bin` is often installed globally / with non-npm package managers (apt, brew), and `babel-plugin-syntax-flow` is included by default in `babel-preset-react`, not all users of which are using fl

[2017-09-27 08:18] bd82 commented on #15
Generally if you start a **whole new process** to parse **each single file** and in addition
the parsing of each file is normally counted in **miliseconds** it would be very inefficient...

From a human UI/UX perspective it would also not be noticeable if parsing took 10ms or 20ms.
And to put things in perspective on my 4th Gen I7 mobile CPU it takes Acorn 20ms to parse the lodash.js file (10k+ li

[2017-09-27 08:21] bd82 commented on #5
I believe you are correct @rattrayalex
https://github.com/facebook/flow/issues/3429

[2017-09-27 08:54] KFlash commented on #5
My main issue if I should implement this, I would need to know what to implement ;) Doesn't help me if I only know 50% /  60%. Anyway. Feel free to continue this discussion on the [Gitter channel](https://gitter.im/cherow/cherow)

[2017-09-27 09:51] bd82 opened #16 "Suggestion: Online Benchmark easily runnable in the browser."
I believe that something a user can easily run directly without
any need to clone and setup the project is much more convincing.

Esprima has this:
http://esprima.org/test/compare.html

I thought about migrating a benchmark page I was using for **generic** parsing libraries (Antlr/pegjs/...).
http://sap.github.io/chevrotain/performance/

Thoughts?

[2017-09-27 09:52] twiss commented on #15
the parsing of each file is normally counted in miliseconds it would be very inefficient...

Of course, in an application you would not do this. But I do it in the benchmark to simulate the case where you parse a file for the first time. And actually, parsing the same file over and over again is also not realistic, a real application will never do that. Branch prediction will make the parsing fast

[2017-09-27 09:58] KFlash commented on #16
I totally agree, but I haven't come up with a good solution yet. Another user asked for it yesterday too. Feel free to put up one if you can come up with a good solution.

[2017-09-27 10:34] bd82 opened #17 "Coverage Badge on the main readme.md"

[2017-09-27 10:40] twiss opened #18 "Add link to Gitter in Readme"
@bd82 @KFlash asked me to ping you about the gitter room

https://gitter.im/cherow/cherow

[2017-09-27 10:43] bd82 commented on #18
This seems a round about way to go about it.

How about creating a pull request?
I just googled the question and it seems trivial
http://blog.gitter.im/2014/01/27/badgers/

[2017-09-27 10:50] twiss commented on #16
We could also just copy their benchmark and add Cherow, if they're not interested in adding it on their domain. It's BSD licensed. They also have this: http://esprima.org/test/benchmarks.html, which we could adapt to Cherow.

[2017-09-27 10:52] twiss commented on #18
I would, but I'm not at home right now ;) I can do it later.

[2017-09-27 10:56] bd82 commented on #16
That may be a better idea as the esprima benchmark uses multiple sample inputs.

[2017-09-27 12:21] bd82 commented on #18
I will have a look in the evening after work.

[2017-09-27 13:26] bd82 commented on #18
https://github.com/cherow/cherow/commit/dbcdf658f48133a0e8d352b183631261a44b94ae

[2017-09-27 13:26] #18 closed

[2017-09-27 18:28] bd82 opened #20 "Mini Optimizations Suggestions"
Going over the code and writing some possible micro optimizations as no time to implement those right now.

- [ ] U**se NOOP pattern** to avoid rechecking "static" values which cannot change during parsing.
   * ```javascript
         // This branch condition will be executed for each and every single token.
         // Yet these flags should never **during** parsing.
         if (this.flags & Fla

[2017-09-27 23:16] KFlash commented on #20
I think better to talk about thisin gitter rather than here?

[2017-09-28 04:39] rattrayalex commented on #5
Yes, the babylon tests should be comprehensive but I understand your hesitation

[2017-09-28 04:54] KFlash commented on #5
@rattrayalex Can you talk to me on Gitter? I can try to look into this

[2017-09-28 05:05] KFlash commented on #5
@rattrayalex Seen [this](https://github.com/facebookarchive/esprima/blob/fb-harmony/esprima.js) Implementing Flow could be done following some of that code. However. Does it exist any industrial standard for the AST nodes? I notice that Babylon run one kind of type, that one I linked to another one and even on the ESTree repo there are no such AST info.

[2017-09-28 08:57] KFlash commented on #3
Closing this.

[2017-09-28 08:57] #3 closed

[2017-09-28 08:58] KFlash opened #21 "Todo"
- [ ]  Finish destructuring (adjust bitmasks)

- [ ]  Add support for revisited template (stage 3)

- [x]  Reduce code size with 15 - 20%

- [x]   Finish error tracking

- [x] Tweak the performance

[2017-09-28 09:05] KFlash commented on #17
@bd82 Two errors happened when I tried to push anything to repo after this implementation, and Travis broke. So for now I commented out two lines in Travis.

[2017-09-28 09:35] bd82 commented on #17
Show me the errors

[2017-09-28 09:38] bd82 commented on #17
is this the error?

https://travis-ci.org/cherow/cherow/jobs/280669116 ?

[2017-09-28 09:42] KFlash commented on #17
correct

On Thu, Sep 28, 2017 at 5:38 PM, Shahar Soel <notifications@github.com>
wrote:

[2017-09-28 09:43] bd82 commented on #17
Looks like the tests did not run in that commit (it said 0 tests passed)
so no coverage report was generated and the entire thing failed.

[2017-09-28 09:44] KFlash commented on #17
There was tests. Give me 5 min and I will be on a computer and uncomment
Travis and push something

On Thu, Sep 28, 2017 at 5:43 PM, Shahar Soel <notifications@github.com>
wrote:

[2017-09-28 09:45] bd82 commented on #17
I saw there were tests, they just did not run in Travis.
This is strange, could the command that runs the tests randomly fail and not find any tests?

[2017-09-28 09:50] KFlash commented on #17
It worked now, but no report

[2017-09-28 09:53] KFlash commented on #16
@bd82 Should we just copy what @twiss  have made, and adopt it to Cherow after re-design? It kind of important to get it up and running. I guess people expect it

[2017-09-28 10:02] bd82 commented on #16
You mean what he **linked?**

I think this benchmark page is better as it shows relative performance.
http://esprima.org/test/compare.html

I will hopefully find 10minutes to try cherow to that benchmark on esprima's webiste later today.
But adapting and adjusting may be a bigger problem as I am not a web developer
and I don't know how isolated the benchmark is from the rest of esprima webpage.

[2017-09-28 10:07] KFlash commented on #16
[this one](http://rawgit.com/twiss/esprima/gh-pages/test/compare.html) I and the one you linked to

[2017-09-28 10:08] KFlash commented on #16
See https://github.com/cherow/cherow/issues/15. First post

[2017-09-28 13:16] twiss commented on #16
That page is pretty isolated, it shouldn't be hard to copy. If you want, I can finalize #15 by adding a separate button for cold performance and send a PR.

Another option is to just leave it in a fork, at cherow/esprima or twiss/esprima or wherever, and link to that.

[2017-09-28 13:36] KFlash commented on #16
Hi. Would be nice if you could send a PR. What about adding it to `gh-pages` branch, and add a button or something there? Would be okay to get it running now when I optimizing for performance as you requested yesterday.

[2017-09-28 13:49] bd82 commented on #17
There was a report, it just not clearly visible when you push directly to master

<img width="780" alt="screen shot 2017-09-28 at 4 47 08 pm" src="https://user-images.githubusercontent.com/4233843/30970037-d21981ac-a46c-11e7-9e11-fdba4fac7a5b.png">

We should keep track if there is some issue in running the tests with random failures.

[2017-09-28 13:56] KFlash commented on #17
I saw it now, but the readme badge isn't updating. Should be 96%.

Keep track?

[2017-09-28 13:58] KFlash commented on #16
@twiss @bd82 Try to remove the "Esprima" name. I'm not a huge fan.

[2017-09-28 16:04] bd82 commented on #17
I meant we need to monitor to figure if this strange error reoccurs.

[2017-09-28 16:10] KFlash commented on #17
Ok.

On 29 Sep 2017 00:04, "Shahar Soel" <notifications@github.com> wrote:

[2017-09-29 04:46] KFlash commented on #16
@twiss Any progress on this one?

[2017-09-29 14:34] lorenzofox3 opened #28 "false positive parsing numric literals"
Hi,

[code]
are parsed (on the online tool) whereas they should not.

[2017-09-29 14:57] KFlash commented on #28
Hi. I didn't address all failing tests yet, but will take a look at this one.

[2017-09-29 15:57] KFlash commented on #28
@lorenzofox3 Sorry delays, but the problem should have been solved. Can you confirm?

[2017-09-29 16:10] lorenzofox3 commented on #28
👍

[2017-09-29 16:10] #28 closed

[2017-09-29 22:24] bd82 commented on #16
See this:
https://cherow.github.io/cherow/performance/

* Automatically uses latest cherow/esprima/acorn from npm.
* We are missing version property on the cherow global object so nothing to display next to the name.
* I removed Tracur/Uglify from the benchmark as I've felt benchmarking against pure parsing libraries (direct competitors) is the more interesting scenario.
* Included the copyrights

[2017-09-29 22:33] KFlash commented on #16
Looks great. But what about different colors?

On 30 Sep 2017 6:24 am, "Shahar Soel" <notifications@github.com> wrote:

[2017-09-29 22:37] KFlash commented on #16
I also thought maybe @twiss was working on something similar? Anyway. Could you try a little redesign?

[2017-09-29 22:41] bd82 commented on #16
UX/UI is something I try to stay away from...
I rarely do more than copy/paste in this area and that is for the best 😄

[2017-09-29 22:43] twiss commented on #16
Yup, I already added Cherow to that benchmark page in #15, but it's fine. Also @bd82, the Shift parser isn't working on your page.

[2017-09-29 22:51] KFlash commented on #16
@bd82 @twiss Shift isn't working? Sounds bad. @twiss Design ideas? And should there be added cold performance?   And what about the other tests that shows only Esprima's benchmark result?

[2017-09-29 23:14] bd82 commented on #16
shift-parser is not working due to mixed-content security policy error.
Basically it cannot be loaded from an HTTPS website (esprima.org is using http).
But the gh-pages uses https by default...

So I guess we will have to do:
1. **remove it**
2. find another CDN where it is hosted with https support.
3. Bundle it and add to the source code.

I'm leaning towards removing it. as they do not seem to

[2017-09-29 23:38] KFlash commented on #16
@bd82 Esprima are also loading this from gh-pages, so how can they get Shift working?
And can you add Babylon to that benchmark? Earlier a few persons asked for a fair Babylon comparison.

I think @twiss got a few ideas.

[2017-09-30 06:29] KFlash commented on #15
I'm closing this now. It's up and running.

[2017-09-30 06:29] #15 closed

[2017-09-30 06:29] KFlash commented on #16
I'm closing this now. It's up and running.

[2017-09-30 06:29] #16 closed

[2017-09-30 06:56] bd82 commented on #16
Great I see @twiss found another cdn for shift-parser
https://wzrd.in/standalone/shift-parser@latest

[2017-10-01 22:05] KFlash commented on #20
@bd82 im closing this and adding it to my todo. Im in the middle of finalizing the parser now so will adress this issues in the end.

[2017-10-01 22:05] #20 closed

[2017-10-03 11:05] KFlash commented on #17
@bd82 Any idea why 5600 suddenly not running on Travis? And why the coverage felt down to 12% because of no tests running? I removed the badge for now from readme. This is just crazy

[2017-10-03 12:00] bd82 commented on #17
Maybe a bug in instanbul not reading all the test files before starting the test suite?
Maybe try to use nyc command line for instanbul, perhaps it will work better?
https://github.com/istanbuljs/nyc

[2017-10-03 13:35] KFlash commented on #17
Any good ideas to change it so we can use nyc?

On Tue, Oct 3, 2017 at 8:00 PM, Shahar Soel <notifications@github.com>
wrote:

[2017-10-03 14:18] bd82 commented on #17
i will look at this later this week.

[2017-10-05 02:33] KFlash commented on #21
**Work in progress**  The entire parser are re-developed to catch up with latest ECMAScript specs.

[2017-10-10 14:38] marcoemrich opened #34 "ECMAScript® 2018 in the README should be 2017"
The READM state "Full support for ECMAScript® 2018 (ECMA-262 8th Edition)". I think it should read "ECMAScript® 2017" not 2018, since 2017 matches with the 8 Edition and 2018 hasn't been ratified yet.

[2017-10-10 15:03] KFlash commented on #34
Hi. Agree. It was added like this because of the `Next` support. Will change this.

[2017-10-10 15:06] KFlash commented on #34
Closing. Updated readme.

[2017-10-10 15:06] #34 closed

[2017-10-11 02:04] KFlash opened #35 "Implement Flow"
Implement Flow soon as current refactoring have been completed. TypeScript is out of the scope. Maybe within 4 days this will be started.

[2017-10-11 02:04] KFlash commented on #5
@rattrayalex See #35

[2017-10-11 05:04] DanielRosenwasser commented on #5
Just as a heads up, Babylon has TypeScript support if that helps at all if you need a second implementation. I'm pretty sure the node types are documented.

[2017-10-11 08:56] AugustinLF opened #37 ""use strict" directive"
Hi, amazing job with the parser, I'm playing a bit with it, and I struggle to understand how you parse the `"use strict"` directive. I compared the output of running cherow, babylon and the flow-parser against this program:
[code]
Flow's output is equivalent to cherow's one, but annotates the `ExpressionStatement` with the property `directive: "use strict"`, which is something you can find in the

[2017-10-11 09:40] KFlash commented on #37
@AugustinLF Hi. Thanks for linking this :) It's not easy.  Regarding the strict directive. The ESTree specs was recently accepted, or at least a couple of weeks ago. At first I was not sure if I should implement this or not because of duplication of the `raw` and `directive` property on the node (*if you follow Esprima, Acorn and Babylon). But I had to go with the flow.

So to your questions. In c

[2017-10-11 10:01] KFlash commented on #37
@AugustinLF  The directive node option are mentioned [here](https://github.com/cherow/cherow/tree/next#options)

[2017-10-11 23:59] KFlash commented on #37
@AugustinLF Do you  still want to handle the strict directive? I'm close now to release the new version. Maybe within one day. Need to validate things. BTW. Any knowledge about JSX Fragments?

[2017-10-12 01:19] KFlash opened #38 "Announcement"
Cherow have been rewritten. Huge improvements over the current one. It's in the [`next branch`](https://github.com/cherow/cherow/tree/next).
I will not merge to Master *yet*, but I recommend to use the new version.

[2017-10-12 01:19] KFlash commented on #21
Closing. See #38

[2017-10-12 01:19] #21 closed

[2017-10-12 01:20] KFlash commented on #35
Closing. See #38. Flow will come very soon now.

[2017-10-12 03:45] rattrayalex commented on #38
I'm curious to hear a sentence or two about the improvements. What was flawed with the original approach? May be informative to those interested in parsers.

[2017-10-12 03:54] KFlash commented on #38
@rattrayalex There was no flaws with the original approach, but a rewrite was kind of required if I should implement the error location tracking without performance loss. Most of other parsers doesn't throw errors at correct location. So I just improved it.

The main changes are:

- uses less memory
- handheld friendly
- improved performance
- added new features such as `import.meta` and `throw ex

[2017-10-12 04:36] rattrayalex commented on #38
Makes sense! Thanks for sharing!

[2017-10-12 04:48] KFlash commented on #38
@rattrayalex NP! And now if you run the live benchmark  you are using the new code. So you can see the new test results.

[2017-10-12 05:29] KFlash commented on #38
Closing this. If anyone wonder why I'm closing, just take a look at latest Master commit ;)

[2017-10-12 05:29] #38 closed

[2017-10-12 05:32] KFlash commented on #37
Closing this. If you still want to help, send a PR to Master branch.

[2017-10-12 05:32] #37 closed

[2017-10-12 05:38] KFlash opened #39 "Implement JSX fragments"
Implement JSX fragments

[2017-10-12 05:40] KFlash opened #40 "Add ESTree directive node for module code"
The ESTree directive node can be enabled with the `directives` option, but currently only implemented for script mode code. Need to be implemented for module code as well.

[2017-10-12 06:54] AugustinLF commented on #37
Hey, sorry for the late answer! I tested my needs (which are, adding cherow support to [prettier](https://github.com/prettier/prettier/)), and the new directive feature seems to work (I didn't do exhaustive tests), great \o/

Regarding JSX fragments, it depends on what you mean, I work wotk react, and know how they are supposed to behave, but I don't know what you'd need :)

[2017-10-12 08:18] KFlash commented on #37
Hi

Ok. Regarding direvtives nodes. They are still not implemented for module
code. But glad it worked!

Jsx fragments. What i need? Well. Get it implemented into the parser. Do
you think you have time and can fix it?

On 12 Oct 2017 14:54, "AugustinLF" <notifications@github.com> wrote:

[2017-10-12 14:27] KFlash commented on #37
@AugustinLF Directives for module code will land in my next commit.

[2017-10-12 14:45] KFlash commented on #40
Closing. This have been implemented

[2017-10-12 14:45] #40 closed

[2017-10-12 16:42] KFlash commented on #39
Closing. It looks like the specs aren't finished yet? So will reopen later.

[2017-10-12 16:42] #39 closed

[2017-10-13 12:48] KFlash commented on #20
@bd82 Changed how  [location tracking works](https://github.com/cherow/cherow/blob/105bb3757251bea466a9e1c3182c2ef7b5c71676/src/parser.ts#L1732). Undefined are passed instead of objects if no location tracking enabled.

[2017-10-16 15:42] KFlash opened #41 "Upcoming"
As soon as I'm sure there are no more bugs and flaws this will be completed;

- [ ] Code size reduction. 45% of the existing code size

- [ ] Plugin system

- [ ] Implement Flow and Ts parsing as plugin

[2017-10-17 18:56] WebReflection opened #42 "Missing = in const declaration"
The following is perfectly valid ES code.
[code]
This parser wants every `let` declaration to be assigned, misreading them as constants.

`let` variables are not constants.

Thanks for fixing this.

[2017-10-17 18:57] WebReflection commented on #42
P.S. exact same goes for `var` ... basically _cherow_ doesn't like single variable declaration which makes it unusable with standard JS code.

[2017-10-17 19:03] WebReflection commented on #42
**update** it's only in scope.

The following fails:
[code]
but this doesn't
[code]

[2017-10-17 20:47] WebReflection commented on #42
PR landed. Yet the `var a, b;` case is not covered but the logic for `var` is different.

If you have any idea how to reliably solve `var` please let me know so I can update the PR.

Thanks.

[2017-10-17 21:36] KFlash commented on #42
Hi. Sorry late reply. And thanks for finding this. `var` should be easy. `const` and `let` have a common mask `lexical` so separate them from `var`. So this check `if !(context & Context.Lexical)`  are only valid for `var`. I

[2017-10-17 21:42] WebReflection commented on #42
I hope you didn't choke while writing that ...

anyway `var` fails just like `let`.

[code]

fails and it entered in the exact same `context & Context.Lexical` condition

[2017-10-17 21:44] WebReflection commented on #42
if you see my PR test:
https://github.com/cherow/cherow/pull/43/commits/4b8ec601f582489e87cfab20995850eaf5066a01#diff-92c09fcab6c9b3abd2395789365f2172

you can verify yourself if you write the following the test fails because `var` reaches that part:
[code]

[2017-10-17 21:58] KFlash commented on #42
@WebReflection I'm on my mobile and on my way home, so wrote it while driving. This issue seem to happen during the refactoring. See the old solution for it [here](https://github.com/cherow/cherow/blob/25c0ed6f95a69ce0d1033e89831e018c74afb16a/src/parser.ts#L3101)

[2017-10-17 22:05] WebReflection commented on #42
yeah, please don't text & drive
I can survive with this not working 'till you're safe home

[2017-10-17 22:22] KFlash commented on #42
@WebReflection I'm home soon! Anyway. Your issue seem to be related to body of the arrow function. So somewhere down the road the mask isn't unset. As a workaround for now you need to unset this in the function body. Find this `private parseFunctionBody(context: Context): ESTree.BlockStatement {}` and after the position you can add `context &= ~Context.Lexical`. I think that should solve it.
If th

[2017-10-17 22:32] KFlash commented on #42
I stopped the car and was thinking about it. Just backup the context mask before entering the function body, unset it and set the mask back on when done. Something like this.

[code]
Will check when I got back home

[2017-10-17 22:48] KFlash commented on #42
@WebReflection Just found a McDonalds with free WiFI. So this will be fixed within 10 minutes.

[2017-10-17 22:56] KFlash commented on #42
Verify if this solved your problem. Now I need to get back home :)

[2017-10-17 23:35] WebReflection commented on #42
Thanks, I'll test after dinner.

If it works, should I close my PR? Is there any test to validate both `let` and `var` ?

I think this would be the bare minimum:
[code]

I've used this in `let.js` to validate my tests

[2017-10-17 23:45] KFlash commented on #42
In my quick fix I added in your example tests and they pass. I'm home very soon now and will push a few more tests.
Regarding the PR. I think you can close it. The issue was that it didn't unset the context masks correctly in function bodies. However. I haven't tested for `BlockStatement`, but will do.

[2017-10-18 00:17] KFlash commented on #42
Just got home and pushed a permanent fix for this. I may have overlooked something... Not sure.

[2017-10-18 00:35] WebReflection commented on #42
I have the following issue now:

`Export declarations may only appear at top level of a module`

Something ain't right ...

[2017-10-18 00:37] WebReflection commented on #42
TL;DR [this](https://github.com/WebReflection/majinbuu) is the module I want/need to parse and make a CommonJS module via [ascjs](https://github.com/WebReflection/ascjs) parser based on _cherow_.

[code]

This module works perfectly fie with ES2015+ compatible browsers.

Right now this module fails to be parsed and I'm not sure I understand why.

[2017-10-18 00:52] KFlash commented on #42
Well. I like challenges :) Give me a few minutes ...

[2017-10-18 01:02] KFlash commented on #42
@WebReflection Could you try to parse your code again?

[2017-10-18 01:11] WebReflection commented on #42
not sure how to test. I don't see tests in the latest commit and I am using your published npm versions through ascjs project.

When you think you've fixed this, please publish to npm and I'll confirm.

Meanwhile, I'll close this bug because the current one is totally different.

**A question** though, how much code, beside cherow own tests, have been parsed and validated in there? These two issue

[2017-10-18 01:12] #42 closed

[2017-10-18 01:16] KFlash commented on #42
Well. It's your decision. And ATM I got big time issue publishing to NPM, but the issues are solved.
Regarding your other concerns it's tested on various libraries, but I will spend a day not to go through all GH code I can find and fix the bugs I may find.

[2017-10-18 01:25] KFlash commented on #42
@WebReflection I will ping you again when I validated Cherow aginst all online libs. And NPM version can't be added due to NPM issue

[code]

[2017-10-18 01:57] KFlash commented on #42
@WebReflection Updated latest to NPM.

I have now also parsed all your repos now and no bugs found.  However you got an issue in a few of your libraries, and for  this [Import()](https://github.com/WebReflection/import.js) repo of yours you would need to activate the `next option` during parsing. But parses without any issues!

[this file](https://raw.githubusercontent.com/WebReflection/dns.js.org

[2017-10-18 04:28] KFlash commented on #42
Just add to the record that I know ran through a lot of libraries like `React`, `Angular`, `Browserify`, `EsLint`, `TypeScript`, `tslint`, `rollup` (*ES6 and ES5*), `tslib`, `espree`, `jquery`, `rx`, `ts-node`, `underscore`  and loads of `node_module` dependencies plus your libraries. And I also parsed `Esprima` and `Acorn` just for fun. Anyway. A few minor bugs found and was corrected. Uploaded l

[2017-10-18 08:35] WebReflection commented on #42
Hi @KFlash, thanks a lot for your effort.

Just to be clear, I don't usually write ES2015+ code because I don't like transpilers and the issues these might cause.

However, it looks like the time to write modern code, now that every browser supports modules, has come.

Node is the last piece of the ecosystem that needs to work with them, and everything they are doing with this `.mjs` choice breaks

[2017-10-18 09:18] KFlash commented on #42
Hi. I'm are from the old school and not used to open source and this kind
of concepts. But after one of my clients used code from GH that never got
updated, lack of responses etc - Cherow become the end-result.

So because I know how frustrating it is to be in the middle of a
development process with a buggy dependency I try my best to make Cherow
what it should be.

As stated in the readme. You c

[2017-10-18 10:27] WebReflection commented on #42
btw .. `dist/cherow.js` fails to be parsed too :smile:

[2017-10-18 10:29] WebReflection commented on #42
https://github.com/cherow/cherow/blob/master/dist/cherow.js#L169

[code]

[2017-10-18 12:27] KFlash commented on #42
@WebReflection I will fix this shortly. That was the only library I didnt check, but easy fix !

Just now I ran into a nasty issue involving Acorn. Acorn refuse to parse this edge case `function *a({yield: b}){}`

[2017-10-18 12:37] KFlash commented on #42
@WebReflection Fixed and updated to NPM. Now also parses the edge above, that Acorn doesn't.

[2017-10-18 14:05] KFlash commented on #42
If there exist other bugs now, please open another issue ticket for them and I will fix it when I'm back online. Need to get my daughter now, and do some RL things.

[2017-10-19 09:40] KFlash commented on #42
@WebReflection Need to mention one importing thing. This one `export { as as as  };`.  Esprima and Acorn does parse this. Shift does not. And if you try to parse it in NodeJS or V8 it fails too. This because the exported binding isn't declared. However. If you see [TC39](https://github.com/tc39/test262/blob/master/test/language/module-code/instn-star-id-name.js#L33) it should parse!!
For now I cho

[2017-10-19 10:57] WebReflection commented on #42
for the time being it seems like a very weird edge case but I wonder why such choice ... I mean, you should not chose to diverge from standards or you'll miss the primary goal of this project, right?

[2017-10-19 11:13] KFlash commented on #42
I did the choice in the first place because I started out with the idea of following V8, and as far as I know the V8 engine is almost 100% close to the specs. And the authors of Shift I guess you know who they are? So when both V8 and Shift choose to throw on it, and I already found plenty of bugs in the TC39 tests -  I did the same. However. I now followed Esprima and Acorn so It passes.
I just p

[2017-10-19 11:17] WebReflection commented on #42
I don’t know who Shift’s authors are but I’m pro specifications.
V8 might not be up to 100% compliance but it doesn’t mean it won’t try to.
Thanks for the update.

Unrelated question: is there a way to intercept all items while parsing, as opposite of me traversing the sub tree on a for/in?

Esprima apparently does that.

[2017-10-19 11:31] KFlash commented on #42
Not at the moment, and I wasn't aware that Esprima can do that. I have more or less followed Acorn because it's more true to the standards. But there should be no problem to implement this soon as I get time for it. Do you have a link related to this or any documentation?

[2017-10-19 11:39] WebReflection commented on #42
I’m waiting for Ariya to clarify on this, he told me so but I’m not sure myself.

The thing is that while traversing internally I could benefit from that effort instead of re-traversing all subnodes in a second step.

For my very specific use case that might be the best/fastest approach

[2017-10-19 11:54] WebReflection commented on #42
I think it's this one: http://esprima.readthedocs.io/en/4.0/syntactic-analysis.html#syntax-delegate

[2017-10-19 12:13] KFlash commented on #42
Ok. Same concept as Acorn's `onToken`. As you can see if you google Acorn's solution is the fastest approach - and same way as I collect comments. You can read [this](http://nick.balestra.ch/2015/pick-your-parsing/) old article. However. It shouldn't be too hard to implement this, the only issue is to adjust it correctly. I had this solution to begin with and you find trace of it [here](https://gi

[2017-10-19 12:44] KFlash commented on #42
I'm offline now. No more resources. But latest is on NPM. Hopefully stable now.

[2017-10-20 19:33] EstebanFuentealba opened #44 "Demo not working"
Hi,
In the demo when copying the code url does not work, it always shows:
`function yield() {}`

[2017-10-20 22:04] KFlash commented on #44
Hi. I merged your PR. So closing.

[2017-10-20 22:04] #44 closed

[2017-10-22 23:21] KFlash commented on #42
@WebReflection I noticed that once again you claim that Cherow isn't stable? What exactly are you putting into the word "stable". Parsing everything after the "book" or have the features you need?
I become curious.

First off I have to say I don't like to talk about others work, but I make an exception now.
If we first look into the known parsers Acorn vs Esprima,  Acorn is the winner when it come

[2017-10-22 23:58] WebReflection commented on #42
Wow ... to start with, I'd like to be able to chose any dependency I want without needing to justify myself ... it's not like I've tweeted or published anywhere Cherow is not stable or anything, it was my own PR commit to myself so ... maybe ... chill?

To answer your points though, I'll try to explain my decision.

### My metrics
Both _ascjs_ and _asbundle_ were born basically for one reason: eve

[2017-10-23 00:14] KFlash commented on #42
Thank you for your explanation. And I'm chill. I just noticed your PR comment mention not stable, so that's the reason why I did this comment. Just to clarify.

Eprima on NPM takes around 283 KB and Acorn 117 KB (*I just checked*)

Regarding the pushed to the repo. None of this changes have anything to do with NPM. Only one version have been published to NPM and rest to the repo.
But to be honest,

[2017-10-23 00:28] WebReflection commented on #42
if you install via npm on an empty folder:

  * cherow is 558,8 kB
  * acorn is 440,6 kB
  * esprima is 328,9 kB

I've received various greenkeeper PRs with like 4 npm published patches one after each other
https://github.com/WebReflection/ascjs/pull/4

get well soon

[2017-10-23 00:41] KFlash commented on #42
That was chocking news! In all places I have seen Acorn is the smallest
one, and even Acorn claim it itself!? Wow. Good to know. Because I'm
reducing the Cherow code soon.

Anyway. I'm now on my way to collapse again, but I take other persons need
seriously. Attached is the evidence that what you need is almost working
now.

I will get back to it later on.

On Mon, Oct 23, 2017 at 8:28 AM, Andrea

[2017-10-23 00:47] KFlash commented on #42
​

On Mon, Oct 23, 2017 at 8:41 AM, Kenny Flashlight <kflash123@gmail.com>
wrote:

[2017-10-23 00:53] KFlash commented on #42
@WebReflection Works only with functions for now, and I need to add the array for conversion. Here is latest: https://github.com/cherow/cherow/pull/46

[2017-10-23 06:08] KFlash commented on #41
Closing this for now.

[2017-10-23 06:08] #41 closed

[2017-10-23 07:34] KFlash commented on #42
Hi. Sorry to say this. We changed our main idea / goal with Cherow and
choose to go for a 100% spec compat parser. As you can see from the latest
2 commits. This include we are not implementing any new features, only
accepting PR at this time. So for now. I wish you good luck with your
Esprima :)

On Mon, Oct 23, 2017 at 8:47 AM, Kenny Flashlight <kflash123@gmail.com>
wrote:

[2017-10-23 11:28] WebReflection commented on #42
the current goal doesn't logically exclude delegate/onToken capability but glad you told me so.

I'm removing Cherow branch from my projects, good luck with the project.

[2017-10-23 11:42] KFlash commented on #42
I choose to focus on be 100% spec compatible and zero bugs. But I noticed
the last weeks that Open Source people doesn''t seem to care about
performance, spec compability or even if it's bug free!! So yes, I have to
disaspoint a lot of people from now on!

And for delegate/onToken, I didn't exclude it, if someone want to make it.
Let them make it and I will adopt that.

Good luck with your project

[2017-10-23 11:46] WebReflection commented on #42
if you are talking about me you clearly have no idea who you are talking to + I've explicitly said what were my very specific needs for the projects that used Cherow

my specific needs != don't care about perf/spec/compatibility

you should _really_ chill man, I've already said on twitter cherow is great and you were very friendly too but now I regret doing so.

Don't push it too hard

[2017-10-23 11:55] KFlash commented on #42
I think you misunderstood me. For the second. We only have written for a
few days - not weeks.  So this was not about you, but in general. What I
have experienced with open source after study their issue tracker.

When it comes to you... Well... I never talk about other projects or other
persons. But once more. What I noticed with you from day one - seen from my
the experience I have - is that you

[2017-10-23 11:58] WebReflection commented on #42
oh well, we agree then. I'm maintaining dozens projects myself here and thanks gosh not everyone is like that.

Take care.

[2017-10-23 12:11] KFlash commented on #42
BTW. I'm going to add the tokenization stuff / onToken. No PR can fix it
correctly, so I have too. There exist loads of issues. The biggest issue is
that Esprima and Acorn tokenization are both flaws or have huge issues -
admitted by Acorn [here](https://github.com/ternjs/acorn/issues/589). On
the Esprima tracker you will find comments like "by design" as an excuse
not to fix that issue. And there

[2017-10-23 12:21] WebReflection commented on #42
playing my "_for my current needs_" card: Esprima works perfectly fine for static top level `import/export` and dynamic `require` which is currently the only thing I'm interested in.

I might even end up writing an ASTree parser myself that does only that, if necessary, 'cause that's the only messed up part between Node and ES2015+ , the only part I'm trying to fix for my projects.

Regards

[2017-10-23 12:42] KFlash commented on #42
Glad to hear you solved it your way :) Than I just dump my nasty looking
code that adds 230 lines of code bloat to Cherow source and no nothing than
tokenization. I probably implemented this the wrong way too.

On Mon, Oct 23, 2017 at 8:21 PM, Andrea Giammarchi <notifications@github.com

[2017-10-23 13:39] KFlash commented on #42
I obviously was wrong thinking and mixed tokenization with delegation.
Anyway. I'm done. Cherow supports delegates now.

On Mon, Oct 23, 2017 at 8:42 PM, Kenny Flashlight <kflash123@gmail.com>
wrote:

[2017-11-02 11:45] julianjensen opened #48 "Incorrect Error Reporting"
Incorrect Error Reporting
-------------------------

When I parse the files in one of my projects using `cherow` I'm getting errors where there shouldn't be any. I have tried to come up with some minimal examples that cause errors in `cherow`, samples that aren't actually errors. The examples may not make sense as they are just sections of code that failed for me that I then tried to pare down to

[2017-11-02 12:02] KFlash commented on #48
Hi. Thanks for your report! As stated in the readme I normaly promise around 30 min from my reply to the issue are solved. This can take a little longer, but I'm diving into this now.

[2017-11-02 12:42] KFlash commented on #48
@julianjensen I just pushed a solution for this issue now to NPM. So closing. The *removed**  EA implementation will be done separated and should not affect your. code. And feel free to contribute anytime if you want!

[2017-11-02 12:42] #48 closed

[2017-11-03 18:56] julianjensen opened #49 "Incorrect error reporting, part 2"
Your fix to my previous issue was impressively prompt and I think it might be working but I can't be sure because now I'm getting a similar error elsewhere. This code is (almost) unmodified from my original source but it's still fairly small. I will paraphrase the exception it throws as I can't easily copy anything from my work machine to, well, anywhere. This fails in the latest version from toda

[2017-11-03 21:27] KFlash commented on #49
Closing as it should have been fixed by now.

[2017-11-03 21:27] #49 closed

[2017-11-04 10:46] rilut opened #50 "Arrow parameters must not contain yield expressions"
### Steps to reproduce

This fails:

[code]

### Expected output

[code]

### Actual output
[code]

### Notes

The arrow parameters does not contains `yield`, rather `yield` is located on the line above the if block.

[2017-11-04 11:00] KFlash commented on #50
@rilut I will fix this shortly. Give me *max* 1 hour.

[2017-11-04 11:47] KFlash commented on #50
@rilut A fix is up. Both here and on NPM. Sorry delays. I normally fix issues within 30 minutes after they are reported, but this time I was in the middle of another fix.

Closing!

[2017-11-04 11:47] #50 closed

[2017-11-04 11:49] KFlash commented on #49
@julianjensen Try download latest NPM version of Cherow. Just pushed it. Your latest issue was fixed 3.56AM in the morning my time, so I was not fully awake when I fixed that. But I improved the fix now.

[2017-11-04 16:00] rilut commented on #50
That was really fast...... Thank you!

[2017-11-04 16:05] rilut opened #51 "Cherow doesn't handle loop declaration scope correctly"
### Steps to reproduce

This fails:

[code]

### Expected output

[code]

### Actual output
[code]

[2017-11-04 16:37] KFlash commented on #51
Thanks for your report! Download latest from NPM and your issue should have been solved. Closing!

[2017-11-04 16:37] #51 closed

[2017-11-05 00:58] KFlash commented on #10
Test262 parser tests are located [here](https://github.com/cherow/cherow/tree/master/test/specs/test262)

[2017-11-17 01:20] KFlash opened #53 "Roadmap"
Keep trying to pass / fail as much as possible of the 56700 `Test262` tests I can. Around 1000 tests is impossible to pass. 4070 failing tests are baked into this. So far. 214 failing tests left to go if it's possible.

After this is done. Clean up the code base and *done*.

**Current state:**
===========

 ✔ 51468 valid programs parsed without error
 ✔ 3856 invalid programs produced a parsing err

[2017-11-18 06:01] KFlash opened #54 "undeclared bindings in class fields"
Need to check for undecleared bindings in class fields. To solve this current approach for duplicate checking of class fields have to be replaced with an array. And at the end of the class body, need to check iterate through the array for validations. Also need to handle nested classes within an function body.

*Current program example will throw ATM*

[code]

[2017-11-18 11:48] #54 closed

[2017-11-18 16:19] KFlash commented on #53
Closing. Close to impossible to improve this at current stage.

[2017-11-18 16:19] #53 closed

[2017-11-19 12:30] KFlash opened #55 "Split core into plugins"
Cherow now supports a plugin system, and the core will be split up into various plugins.

[2017-11-19 13:12] KFlash commented on #55
Re-open later

[2017-11-19 13:12] #55 closed

[2017-12-10 13:50] KFlash opened #58 "Implement Numeric Separators"
See the Stage 3 proposal [here](https://github.com/tc39/proposal-numeric-separator)

[2017-12-10 13:52] KFlash opened #59 "Roadmap"
The  plan further is to get the remaining non-failing / non-passing Test262 to either pass or faill acording to the specs, and then cleanup the code base.

ATM. I ran out of time to do this, but it will be done soon as I get time.

After all Test262 either pass or fail, cleanup the code and simplify and reduce code size.

[2017-12-11 11:23] KFlash commented on #58
Closing as this is *work in progress* ATM. Will be completed within a few hours.

[2017-12-11 11:23] #58 closed

[2017-12-12 13:52] KFlash commented on #59
This work will be done offline, so no need to keep this issue open.

[2017-12-12 13:52] #59 closed

[2017-12-13 08:38] xiemaisi opened #61 "Incomplete HTML open comments are silently discarded"
Consider the following two parser invocations:

[code]

**Expected behaviour:**

I expect both invocations to fail with a parse error.

**Actual behaviour:**

Both succeed, returning an AST representing the empty program.

**Background:**

This behaviour is caused by a bug (indirectly) flagged by lgtm: https://lgtm.com/projects/g/cherow/cherow/alerts/?mode=tree&severity=warning&rule=7880096

The o

[2017-12-13 10:02] KFlash commented on #61
Thanks for this. Will take a look soon.

[2017-12-13 11:02] KFlash commented on #61
@xiemaisi I couldn't find any Test262 tests for this? Do you know about any?  BTW. I clicked on your link, and looked at the 6 alerts. For line 869 where unicode line are flagged as never read is wrong. If I remove that line, the surrogate pairs will fail. The other warnings are fixed now.

I will try to fix the HTML comment issue soon as I'm done with something locale, or if you want to send a PR

[2017-12-13 11:16] xiemaisi commented on #61
I'm not familiar enough with the test262 suite to tell whether there is a test. Maybe they just didn't think to add one?

Thanks, I'm always grateful for feedback!

True, but the alert doesn't actually say that the entire line is useless; it's just that you don't need to assign the result of the call to `code`, since that variable isn't read before being overwritten. In other words, you can replac

[2017-12-13 11:48] KFlash commented on #61
Ok. I'm closing this now. The entire fix for this is up on NPM, not GH for now. It fails as expected. I also fixed the other alerts.

I will take a look at the CI soon as I find time. It's a great tool!

[2017-12-13 11:48] #61 closed

[2017-12-19 14:46] KFlash opened #62 "TODOs for later"
Things needing finished:

- [x] Add tests not covered by Test262 and Test262-parser tests

- [x] Add tests that covers the codebase 100%

- [ ] Fix non-failing early errors (*commented out in the Test262 parser tests*)

- [ ] Fix the last non-failing Test262 tests (*Block scope and RegExp related*)

- [ ] Finish block scoping (*need to re-think performance*)

- [ ] Rethink performance for label tr

[2017-12-20 13:50] KFlash opened #63 "Status quo"
Cherow will only be maintained from now on. And any bugs that are reported will be fixed continuously.

If any Stage 3 proposals reach Level 4 or Stage 2 proposals reach Level 3, this will also be fixed continuously.

This parser have now reached a level far above both Acorn and Esprima, and that was the goal.

[2017-12-20 16:11] KFlash commented on #63
A few more things to fix so closing for now.

[2017-12-20 16:11] #63 closed

[2017-12-22 10:40] KFlash commented on #62
**Update**

At least Cherow does some basic parsing now (*43 000 unit tests*) so I will fix the remaining tasks within a few weeks if nobody send a PR.

Shouldn't be many bugs either...

[2017-12-25 13:44] rattrayalex commented on #6
@KFlash curious for your current thoughts here.

It looks like a `cherow-plugin-babel-ast` seems fairly doable reading your docs on https://github.com/cherow/cherow#plugins.

`babel-plugin-cherow-parser` could then be built to wrap the two together and set the babel parser (which babel has an option of doing). This might dramatically increase parse times for a large number of people, as babel is b

[2017-12-25 14:19] KFlash commented on #6
Hi. It should be a easy thing to fix I guess, and you may look at this repo for live demo of a working plugin:  https://github.com/cherow/cherow-dummy-plugin.

I kind of lack some knowledge when it comes to Babels internals, but it seems logic. And by principle I normally let the benchmarks speak for itself when it comes to performance. But it make sense.
It's holly day season around me now, so I'

[2017-12-25 16:34] rattrayalex commented on #6
Cool! Would you mind reopening this issue in case others are inspired to help? I'll rename it to clarify that it's for making a plugin.

I don't think I'll have time to make the plugin myself but I'll see if others might be willing to help.

Happy holidays!

[2017-12-27 05:02] KFlash opened #64 "TODO - Comment attachment"
Need to improve the way Cherow collect comments today, and also add a new feature allowing comments to be attached to the node without need for `Escodegen` or similar libraries.

- [x] Add a new `attachComment` option for attaching comments

- [x] Attach the comments on the node at correct locations

- [x] Fix / Avoid the same bugs as found in Esprima / Babylon / ESpree

- [x] Optimize the code

-

[2017-12-27 05:17] KFlash commented on #64
**Example output after parsing with Cherow: **

[code]

[2017-12-27 10:21] KFlash commented on #64
Closing. The code is live on NPM. Still several things to fix before pushing to GH:

[2017-12-27 10:21] #64 closed

[2018-01-01 11:33] KFlash commented on #62
Closing. Most of this is fixed locale now.

[2018-01-01 11:33] #62 closed

[2018-01-03 01:22] KFlash opened #65 "Next"
Need to implement this without performance loss:

- [x] Implement tolerant parsing (*see Acorn loose and Esprimas tolerant mode*)

- [x] Comment attachment

- [ ] Tokenizing

[2018-01-03 03:35] KFlash commented on #65
Closing. It's implemented. Tokenizing need to be a plugin due to the filesize.

[2018-01-03 03:35] #65 closed

[2018-01-07 03:50] KFlash opened #66 "Implement editor mode"
This will require a  minor rewrite.

The trick is that before Cherow  get back to parsing after running into any kind of errors, it needs to get it's state and the sequence of forthcoming tokens aligned such that the next token does match the rule being parsed.

It also need to discard tokens until the parser are right back at the beginning of the next statement instead of returning invalid nodes.

[2018-01-07 04:00] KFlash commented on #66
It now works!  However. Only valid syntax will be returned as part of the AST. Everything else will be discarded and reported as errors. Correcting the errors, and the AST will be extended with new "*nodes*"

Parsing this: `[   a  {  b  !!` results in:

[code]

[2018-01-07 11:27] KFlash commented on #66
Closing for now...

[2018-01-07 11:27] #66 closed

[2018-01-09 05:11] KFlash commented on #6
@rattrayalex What's your plans / thoughts / ideas regarding this issue per now?

[2018-01-09 15:53] rattrayalex commented on #6
Thinking about it a little more, I don't think I personally will work on this till it's used in Prettier, which I help maintain.

That'll be a terrific use-case, I think, and help prove out the stability of Cherow prior to using it as a compiler.

[2018-01-09 16:06] rattrayalex commented on #6
Actually, I don't think I'll personally do any work towards Cherow's use in prettier or babel until Flow is supported (https://github.com/cherow/cherow/issues/35).

We use Flow at work, and Prettier needs to support Flow, so I can't really justify spending time on this until it's supported.

[2018-01-09 16:11] rattrayalex commented on #6
I did open a tracking issue on the prettier repo regardless: https://github.com/prettier/prettier/issues/3688 (note that I don't believe they need babel AST output, though it might help)

[2018-01-09 16:42] KFlash commented on #6
Kind of interesting... I'm in the middle of a finale 1.0 version this days and regarding Flow and TypeScript both has to be a plugin. I'm exposing pre-defined tokens needed for both. So this are in the making.

Regarding Babel AST and Babel in general. This will be easier to handle in the upcoming version wich will be the finale version.

I let this issue stay open and will open another issue late

[2018-01-09 16:45] rattrayalex commented on #6
Awesome, sounds great! Good luck!

[2018-01-10 04:43] KFlash opened #68 "Upcoming v. 1.0 version"
Within a few weeks a final version of Cherow will be pushed to GH. The API have changed, and it will offer options to extend the parser.

**TODO**

- [x] Reduced code size

- [x] Reduced memory usage

- [x] Internal plugin API

- [ ] TypeScript support

- [x] Flow support

- [x] Improved performance

### Location tracking

A new option - `offset` - have been added, and let you attach offset inform

[2018-01-10 04:47] KFlash commented on #6
@rattrayalex You can see [this](https://github.com/cherow/cherow/issues/68) for info about 1.0 version. Flow and TypeScript will be added now as part of the internal API system. Very much how Babylon does it, but with improved performance.

**Here is how the Flow plugin looks like just now**

[code]

[2018-01-10 04:57] KFlash commented on #35
This will be released in v.1.0 of Cherow.

Placeholdes located [here](https://github.com/cherow/cherow/tree/1.0/plugins)

[2018-01-10 07:10] KFlash commented on #6
@rattrayalex I'm working on Flow implementation now. Does it exist any ESTree look-a-like specs for the AST nodes?

For now it's only possible to parse `var foo: number`, but the interal plugin system now works!

You can see the plugin [here](https://github.com/cherow/cherow/blob/1.0/plugins/flow/parser.ts),

[2018-01-10 10:49] KFlash commented on #35
**Status quo* Flow plugin almost completed and works with v. 1.0 of Cherow

[2018-01-10 13:55] KFlash commented on #35
Closing. Flow plugin have been added to the v. 1.0 branch with a few tests. The plugin will be improved and more tests added in near future.

[2018-01-10 15:48] KFlash commented on #35
Reopen to keep track of the progress. So far basic implementation works.

[2018-01-10 15:49] KFlash opened #70 "Implement support for TypeScript"
add a TypeScript plugin and use masks to avoid conflicts with the Flow plugin.

[2018-01-10 16:30] rattrayalex commented on #6
Nice! Lots of progress today! Impressive.

Let's move Flow conversation over to #35

[2018-01-10 16:35] rattrayalex commented on #35
In https://github.com/cherow/cherow/issues/6#issuecomment-356518744 you asked:

Unfortunately, the best I know of is the Flow test suites in [babylon](https://github.com/babel/babel/tree/master/packages/babylon/test/fixtures/flow) and maybe flow's parser (I haven't found them though).

In https://github.com/cherow/cherow/issues/5#issuecomment-335683240, @DanielRosenwasser (a leader on the TypeScri

[2018-01-10 17:05] KFlash commented on #35
One of my issues now is the AST. And my implementation will not be 100% the same as Babylon. This because I set the node properies to null if they don't exist. babylon doesn't attach them on the AST node. My solution on this gives improved performance.

Therefore I wonder about the AST.

For TS there exist two different AST so I need to sort that out too. Eslint has its own.  Same with Babel.

Any

[2018-01-10 23:57] KFlash commented on #35
**The challenges I'm facing now:**

1. Performance. Current implementations I have seen have horrible performance. Around 300 opts/sec in
    microbenchmarks. Cherow needs to be around 2 - 3 million opts /sec.

2. Complexity

3. Cherow core need to be developed as modules, so each part can be overwritten without use of `call` or `apply`

[2018-01-11 00:26] KFlash commented on #35
@rattrayalex Anything thing to say about this benchmarks results?

[code]

[2018-01-11 06:48] rattrayalex commented on #35
Interesting. I'm not surprised that parsing a more complex language is slower, but that's a few orders of magnitude worse. Eek!

Do you have a good feel for why it's slow? Lookaheads/speculative parsing?

[2018-01-11 07:08] KFlash commented on #35
The way they are dealing with AST nodes, setting the properties etc is the main reason for the slow down. Plus active use of native solutions and use of `call` and `apply`. There is no magical cure for fixing it either unless you start developing from scratch. Anyway. To be fair. Performance have been my strongest side for years, but when it comes to this... Well.

I also noticed a few other oddit

[2018-01-11 07:10] KFlash commented on #35
Performance for type annotation parsing will be around 10 - 12 mill opts/sec when I'm done. Estimated.

[2018-01-11 22:59] KFlash commented on #35
@rattrayalex Here is a new microbenchmark. I improved the performance with 2 million opts/sec. However. I ran into *too many* issues with this, but they are now solved and I started to write tests to make sure this basic plugin works.

[code]

[2018-01-12 05:10] KFlash commented on #35
Benchmark results showing the results after heavy use of speculative parsing

[code]

[2018-01-12 09:05] KFlash commented on #35
@rattrayalex [Here](https://github.com/cherow/cherow/blob/1.0/plugins/flow/parser.ts) is my latest work on the plugin. Just now it pass 123 tests. Still need to fix class and async / paren integration.
After that I'm more or less done with this. Except that I  also have to deal with the Flow comments.

[2018-01-12 16:26] KFlash commented on #35
Left to fix

- [ ] object expression

- [ ] async / await

- [ ]  arrows

- [ ] Flow comments

[2018-01-13 23:56] KFlash commented on #35
@rattrayalex Any knowledge about Flow and decorators? I found it mentioned in the AST, but as far as I know decorators are at stage 2. Or is this decorators different?  No problem to implement this either, but need to clarify.
I'm doing OK progress with the flow plugin. Complex language, so this take a few more days.

[2018-01-14 08:51] KFlash commented on #35
@rattrayalex I'm closing this now. The plugin have been completed. Only a few things to fix, but I need to finish the Cherow rewrite before finishing the Flow plugin.
Anyway. The Flow plugin is located [here](https://github.com/cherow/cherow/blob/1.0/plugins/flow/parser.ts)

[2018-01-14 08:51] #35 closed

[2018-01-14 09:42] KFlash commented on #35
Add to the record that Travis is green and run 240 Flow tests. https://travis-ci.org/cherow/cherow/builds/328669905

[2018-01-15 02:05] KFlash commented on #70
Started to work on this, but figured out that I have to finish this plugin *after* the Cherow 1.0 rewrite is complete. This because I have no references for it, and the few references I got (*Babylon*) seem to do some insane non-performant stuff that I'm not going to adopt.

Anyway. Good news is that this have a lot in common with the Flow plugin, so should be an easy fix soon :)

[2018-01-15 02:07] KFlash commented on #70
For the record. [Here is the first TypeScript test](https://github.com/cherow/cherow/blob/1.0/test/typescript/type-annotations.ts) so it works

[2018-01-15 09:54] KFlash commented on #35
@rattrayalex Any knowledge about this stuff?

[code]
Is this because of the Flow comment, and because it's already defined as a numeric value? So in this case all that's needed is to count the index and check for that comment in the scanner, then flag it if a flow comment, and save the value after assignment operator. And then do a validation based on that ?

But is this validations for the parser

[2018-01-15 23:48] rattrayalex commented on #35
Great to hear of the progress!

Not sure what you mean by "Flow comments"? I think comments are just like normal per the parser...

Sorry, I'm not sure what you're asking about with the typecasts there... the first example you posted parses just fine: [try flow](https://flow.org/try/#0DYUwLgBAbghsCuIIF4IBYBMBuAUDgFLAiAFwQDOYATgJYB2A5gJRA), [flow parser at astexplorer](https://astexplorer.net/#/gis

[2018-01-16 01:43] KFlash commented on #35
Regarding "Flow comments". I noticed some of this comment should allow to include e.g. if you use "flow-include" as comment.

Good to know that Typechecking is out of the scope for the parser, because I ran into way too many issues.
Regarding Babylon. I'm done with it. Finito. Finsihed.  I will open an info issue regarding why I say that.

[2018-01-16 01:51] KFlash opened #71 "Cherow Flow plugin not Babylon compatible"
Cherows Flow plugin for the v. 1.0 will not be compatible with Babylon, but will be compatible with Flow itself. Babylons implementation have either too many bugs, or differ too much from the specs.

One example on code that slightly differ from Babylon is this `(foo: string, bar: number)`.

Try parse it with both Babylon, and Flow (*0.63*) and it very obvious what's the difference is!

I'm not go

[2018-01-16 01:52] KFlash commented on #35
@rattrayalex See #71

[2018-01-16 02:22] KFlash commented on #35
The performance loss is minimal when it comes to arrows with one or multiple annotations.

[code]

[2018-01-16 14:03] KFlash commented on #35
@rattrayalex Could you give it a try and let me know where I messed up? Note that templates, getter and setter for both class and object and  async / yield isn't implemented *yet* in 1.0.
The plugin is found [here](https://github.com/cherow/cherow/blob/1.0/plugins/flow/parser.ts) and you can see how I did it with [this tests ](https://github.com/cherow/cherow/tree/1.0/test/flow)

[2018-01-17 08:23] KFlash commented on #68
The finale 1.0 will be completed within 8 - 9 days.

[2018-01-17 08:57] rattrayalex commented on #35
Sure, I'll give it a look this weekend!

[2018-01-17 10:01] KFlash commented on #35
The plugins will be moved [here](https://github.com/cherow). So the Flow plugin will be located [here](https://github.com/cherow/cherow-flow-plugin) here soon

[2018-01-17 10:04] KFlash commented on #6
I'm closing this. I put it on my own TODO and the plugin will be located [here](https://github.com/cherow/cherow-babylon-ast-plugin) in the future.

[2018-01-17 10:04] #6 closed

[2018-01-21 10:27] KFlash opened #72 "Benchmark results for v. 1.0"
I guess the v. 1.0 will be 15 - 20x faster than current Cherow

**Microbenchmark**

[code]

[2018-01-24 01:23] KFlash commented on #72
Turns out that Cherow 1.0 is twice as fast as both Acorn and Esprima.

[2018-01-27 11:43] KFlash commented on #72
Closing. Fixed in v. 1.0 branch.

[2018-01-27 11:43] #72 closed

[2018-01-27 11:44] KFlash commented on #68
Closing. The v. 1.0 is in the 1.0 branch, and need optimizations before merging, but it's done.

[2018-01-27 11:44] #68 closed

[2018-01-29 18:52] hzoo commented on #6
Probably a lot of work someone will have to take on - but if it's finished and can be maintained/extended we could also consider just moving to cherow for the babel parser (it's switchable anyway) if there is an AST compat (need to add in the same parser options, error messages maybe, and then the stage-x plugins)

[2018-01-29 22:34] KFlash commented on #6
@hzoo Creating a Babel AST plugin isn't very difficult, but yeah time consuming. It's on my TODO list.
If you look at the [1.0 branch](https://github.com/cherow/cherow/tree/1.0) you can see the future of Cherow. I rewrote it to be faster, smaller and to support seceral options so it can be extended with plugins. That branch is almost done now except for the non-failing Test262 tests. I'm working o

[2018-01-30 04:36] KFlash commented on #6
@hzoo My basic idea for different AST's is to use an object to return correct AST format to the caller. This can be changed through plugins. Using an Class for this isn't an option due to performance reasons.  But not sure yet how this could be done without huge impact on code size as well.

[code]

[2018-01-30 15:03] rattrayalex commented on #6
Excited to see you here, @hzoo !

[2018-02-02 03:15] KFlash opened #74 "TODO"
I have the code almost completed locale for all of this, but I ran out of time to implement it. I can publish that code somewhere if someone want to continue on this. Else I will fix this soon as I get time again.

- [ ] Improve label tracking

- [ ] Scoping

- [x] Optimization

- [x] Plugins

[2018-02-02 03:17] KFlash commented on #35
@rattrayalex Everything related to Flow are moved to [this repo](https://github.com/cherow/cherow-flow-plugin) and I'm now going to finish that plugin. 1 - 2 days and it should be completed.

[2018-02-04 21:59] rattrayalex commented on #35
Awesome! Exciting to see the stage one and stage two repo's, too. You sure have your work cut out for you!

[2018-02-06 13:11] KFlash opened #76 "Flow and TypeScript parser implementation started (plugins)"
The massive work on adding TS and Flow plugins for Cherow have started, and will be completed as soon as I have time for it.

The progress for this can be tracked in either the [Flow plugin repo](https://github.com/cherow/cherow-flow-plugin) or the [TypeScript plugin repo](https://github.com/cherow/cherow-typescript-plugin).

**The Flow plugin is now work in progress**

[2018-02-06 13:12] KFlash commented on #70
Closing this in favour of #76

[2018-02-06 13:12] #70 closed

[2018-02-06 13:13] KFlash commented on #35
@rattrayalex See #76

[2018-02-07 06:09] rattrayalex commented on #35
Awesome! Focusing on the core first sounds wise.

[2018-02-07 06:34] KFlash commented on #35
If you got time for it, could you try out the JSX plugin and see if it works for you? Then I would know if there will be any issues later on with the Flow plugin and the plugin system.

[2018-02-08 03:37] #74 closed

[2018-02-08 03:38] KFlash commented on #76
Closing as this can be tracked in the mentioned repos.

[2018-02-08 03:38] #76 closed

[2018-02-08 15:33] rattrayalex commented on #35
You bet, lemme see if I can run Cherow over the work codebase... I'll only be able to catch errors, though, don't think I'll have time to pick through the generated AST to check for correctness.

Actually, speaking of that, maybe you could write a test that runs both cherow's parser and, say, esprima or acorn's parser and asserts equality? Could even use their existing test suites.

[2018-02-12 15:14] locomain opened #77 "Cant combine plugins"
ast = cherow.parseScript(input,{
  next:true,
  raw:true,
  plugins:[
      jsx,
      do
  ]
});

input code

class test{
  test(){
    let a = do {  console.log('test'); }
    return <stuff></stuff>
  }
}

Both plugins work individually but not together

[2018-02-12 15:42] KFlash commented on #77
Hi. That sounds strange and should be an easy fix. However  i don't have an computer atm. Issue is [this line](https://github.com/cherow/cherow/blob/master/src/cherow.ts#L44) in case you want to investigate.
But will look into this soon.

[2018-02-12 18:04] locomain commented on #77
if (options.plugins) {
            for (const plugin of options.plugins) {
                Parser = plugin(Parser);
            }
        }
    }

    const parser = new Parser(source, comments, sourceFile);

  fixes the issue:)

[2018-02-12 23:14] KFlash commented on #77
Issue with that is that Parser is not an variable and can't be assigned to

[2018-02-13 00:48] KFlash commented on #77
@locomain I still don't have access to a computer, but did a online fix. Does that help?

[2018-02-13 06:46] KFlash commented on #77
@locomain I'm closing this one. See [this tests](https://github.com/cherow/cherow/blob/master/test/miscellaneous/plugins.ts). So I consider this as not an Cherow issue now. If any further issues it has to be plugin related.

[2018-02-13 06:46] #77 closed

[2018-02-19 06:13] loganfsmyth opened #78 "Unexpectedly throws "Rest elements cannot have a default value""
**Code**

[code]

**Expected behavior:**

Should parse.

**Actual behavior:**

Throws

[code]

[2018-02-19 06:15] loganfsmyth opened #79 "Unexpectedly throws "Duplicate binding [object Object]""
**Code**

[code]

**Expected behavior:**

Should parse.

**Actual behavior:**

Throws

[code]

[2018-02-19 08:54] KFlash commented on #78
@loganfsmyth I will fix this soon as I get to an computer.

[2018-02-19 08:55] KFlash commented on #79
@loganfsmyth Thanx for info. Will be fixed as soon as I get to my computer.

[2018-02-19 08:55] loganfsmyth commented on #78
No problem. No rush on my end, just playing around and noticed so I figured I'd file it.

[2018-02-19 09:37] KFlash commented on #78
I'm using a strict 1-hour policy when I get a bug report. See readme. So every issue has to be solved within 1 hour from I see the report. Anyway. Closing this now. Issue solved.

[2018-02-19 09:37] #78 closed

[2018-02-19 09:38] KFlash commented on #79
Closing as the reported issue have been fixed.

[2018-02-19 09:38] #79 closed

[2018-03-05 03:56] zaaack opened #80 "npm package doesn't contain tsd"
**Code**

Import in typescript files.
[code]

**Expected behavior:**

Can get type hints

**Actual behavior:**

Can not.

[2018-03-05 04:35] KFlash commented on #80
@zaaack a usecase i never thought about actually. Sorry for that. ATM I'm stuck with a cimouter that can't boot, but will look into it soon. This will take more than 1 hour.

Or could you send a PR? It would speed things up

[2018-03-05 04:46] zaaack commented on #80
It's not an emergency, I'm happy to send a PR but I just go out to take a launch, might take at least half an hour..

[2018-03-05 04:55] KFlash commented on #80
No problem. I will wait for your PR.  For now i need to buy a new computer.

[2018-03-05 09:29] #80 closed

[2018-03-05 10:38] KFlash commented on #80
Pushed your changes to NPM.

[2018-03-19 15:54] calebboyd opened #83 "Common typescript code is not parsed: Unexpected keyword 'this'"
executable code example (node 8.9.4):
[code]

**Expected behavior:**
It should parse `yield this...`

**Actual behavior:**
It produces and error `Unexpected keyword 'this' `

This is a common snippet in any compiled typescript that is is targeting es6

[2018-03-19 16:00] KFlash commented on #83
@calebboyd Is this critical? It's an easy fix to it, but coz of different reasons I'm stuck on the next branch developing ATM. In case you need it fixed ASAP, you do:

1. Open token.ts and go down to line 144
2. Add `| IsExpressionStart,` after `Reserved`. Same as the line above.

You can track the next Cherow in the next branch. I will try to push an NPM version of this change later on.

[2018-03-19 16:07] KFlash commented on #83
@calebboyd Try install from NPM now and let me know if it works for you

[2018-03-19 16:13] calebboyd commented on #83
It looks you deployed an invalid version. the NPM package is broken.

[2018-03-19 16:20] KFlash commented on #83
Re-published it now. And this should work. See [online demo here](https://cherow.github.io/cherow/?code=%0Aconst%20tslib%20%3D%20require(%27tslib%27)%0Aclass%20Example%20%7B%0A%20%20hello%20()%20%7B%20return%20Promise.resolve(%27hello%27)%20%7D%0A%20%20sayHi()%20%7B%0A%20%20%20%20return%20tslib.__awaiter(this%2C%20void%200%2C%20void%200%2C%20function*%20()%20%7B%0A%20%20%20%20%20%20%20%20return%20

[2018-03-19 16:22] calebboyd commented on #83
Works! Thanks, your response time is incredible. I am amazed.

[2018-03-19 16:56] calebboyd commented on #83
There might still be some oddities here

see [here](https://cherow.github.io/cherow/?code=%0Aconst%20tslib%20%3D%20require('tslib')%0A%0Afunction%20tag()%7B%7D%0Aclass%20Example%20%7B%0A%20%20hello%20()%20%7B%20return%20Promise.resolve('hello')%20%7D%0A%20%20sayHi()%20%7B%0A%20%20%20%20return%20tslib.__awaiter(this%2C%20void%200%2C%20void%200%2C%20function*%20()%20%7B%0A%20%20%20%20%20%20yield%20b

[2018-03-19 17:49] KFlash commented on #83
Download latest from NPM

[2018-03-19 21:52] #83 closed

[2018-03-26 13:39] KFlash opened #84 "Cherow v. 1.4 - a total rewrite"
Until recently, there have been several developers who have worked with the Cherow code offline, and they also used this account to push some code. This have now ended because of different things, and I'm the only developer working on Cherow now.

Because of that I rewrote the entire code base from scratch, and the upcoming v. 1.4 of Cherow is a total refactoring with the emphasis on making the co

[2018-03-26 23:44] KFlash opened #85 "stable, next and bleeding versions"
Starting from version 1.4 Cherow will be pushed to NPM in 3 different versions:

- Stable  (*default*)
- Next
- Bleeding

`next` will have the `next options` enabled by default and support all latest ECMAScript proposals, and the `bleeding` will be the active development branch.

[2018-03-27 10:42] fkleuver opened #86 "Re-export all declarations in cherow.d.ts for better TypeScript support"
First of all, absolutely love this parser! Great job :)

Currently it's very tricky to get definitions like ESTree imported in TypeScript. By default the node module points to `cherow.d.ts` which only exports `parse`, `parseModule` and `parseScript`. It would require manual path mappings in tsconfig and whatnot to get access to the other `.d.ts` files.

If you did `export * from './estree'` (as we

[2018-03-27 12:00] KFlash commented on #86
Hi. This is just a thing that have slipped I guess. It was until recently several people working on it and it turned into a mess, so I'm re-develop the entire parser.

Could you send a PR on this one, so I can implement it in the upcoming v. 1.4? If not I can try to get this fixed before I push 1.4.

You can find the upcoming version [here in next branch](https://github.com/cherow/cherow/tree/next

[2018-03-27 13:32] fkleuver commented on #86
Sure. There seems to be a name conflict though.

Both `estree.ts` and `flags.ts` have an export named `JSXElement` (the former is an interface, the latter is a const enum).

Would it be an idea perhaps to rename the enum to something like `JSXElementKind` to resolve the conflict? Could also just export it with that as an alias, but some might consider that to be messy.

[2018-03-27 13:50] fkleuver opened #87 "Decorator support"
I found this mentioned in a related issue (#35) but did not see any final answer on whether that is (or will be) implemented.

Babylon supports this via a plugin option (but really it just sits in the normal parser): https://github.com/babel/babel/blob/master/packages/babylon/src/parser/statement.js @ `parseDecorator`

By the looks of it they just scan for an `@` token and then proceed to parse th

[2018-03-27 13:52] KFlash commented on #86
Go ahead and rename. And the name looks okay. I didn't look at that code now, but if it's a JSXFragment involved here I combine names like JSXElementOrFragment / JSXElementAndFragment. And / or depends on the end result of the parsing. Just a hint. If it's just a stand-alone kind is just fine.

[2018-03-27 13:58] KFlash commented on #87
This is still on [stage 2](https://github.com/cherow/cherow/tree/next#builds) as seen here. But I thought about it before, and it will soon be implemented.

You can see [here](https://github.com/cherow/cherow/tree/next#builds) that I have splitted Cherow into different builds, so this will land I guess in the `next` build.

First of all I need to get a stable version running now. Done within a few

[2018-03-27 14:07] fkleuver commented on #86
Looking at the code that uses it, it seems like it's a state rather than a kind.

[code]
etc..

So `JSXElementState` then?

[2018-03-27 14:08] KFlash commented on #86
yes, `JSXElementState`

[2018-03-27 14:10] fkleuver commented on #87
Alright, I'll grab babylon for the time being and switch back to cherow when you're done. Good luck :-)

[2018-03-27 14:18] fkleuver commented on #86
Ok, PR is in. Let me know if there are any problems with it.

[2018-03-27 15:36] #86 closed

[2018-04-01 03:48] KFlash commented on #84
Allmost all code have been pushed now. Within a few days this should be released as a "bleading" version.
Just now I'm stress testing the code base. Early errors and scoping not implemented yet.

Cherow is true to the specs, but I hope a few tests that should fail and doesn't fail is acceptable. Comparing to other parsers. A lot of tests doesn't parse or fail as they should.

[2018-04-01 03:57] KFlash commented on #87
@fkleuver can you survive with this feature hidden behind a flag? E.g `{decorators: true}` and that i later on move this to the `next` option soon as it reach stage 3? It's still a stage 2 proposal.

If you can I'm going to implement this now so it will land in v. 1.4.

[2018-04-01 05:58] KFlash commented on #84
The code size of Cherow 1.4 have been reduced with 40 KB for the minified version. Just to do a simple comparison. Acorn doesn't have a minified version, but if you minify it, you will get 88 KB minified.

Cherow now minified is around 60 KB with full support for stage 3 proposals. Difference 28 KB.

[2018-04-01 14:28] fkleuver commented on #87
My original plan was to just add the `@` support via a plugin but then I figured it'd be better for long-term to ask you.

If it's hidden behind some option that's completely fine. As long as I can find the option :)

[2018-04-01 15:27] KFlash commented on #87
An `experimental` option is what I planned. And regarding options. Several new have been added. See readme in the next branch. And still a few not implemented yet.
Hopefully within 24h I will push a "bleeding" version. After that I'm adding decorators stage 2 for classes.

[2018-04-01 19:29] fkleuver commented on #87
That's crazy, how do you do that? You're generating them? :)

[2018-04-02 09:26] KFlash commented on #87
@fkleuver I lost electricity so delayed here, but if you look at the tests in the next branch you will see I'm using an iteration loop and testing various combinations. The trick is to come up with what to test.
Some of the tests has to be done manually so I can validate correct ESTree output etc

[2018-04-02 11:49] KFlash commented on #84
A minified version of the new parser can be found in the bleeding branch now.

[2018-04-02 13:14] KFlash commented on #84
Closing this now. There exist an bleeding version now in that branch, and a minified version. The minified size is 60KB as promised, and for the performance. I take a challenge!

[2018-04-02 13:14] #84 closed

[2018-04-10 00:47] #85 closed

[2018-04-22 14:44] calebboyd opened #92 "Unterminated regular expression literal"
**Code**

[code]

**Expected behavior:**
It should not error in node.js
**Actual behavior:**
`Unterminated regular expression literal`

[2018-04-22 15:30] KFlash commented on #92
That is an expected behavior, and it's related to NodeJS itself and isn't a Cherow bug.

I know there are plans to develop a regexp validator, but I'm not jumping into that code.

As a temporary solution for your issue until the main developer is in place again, I have changed the behavior of `{ node: true}` so it will not validate any regular expressions if you use it.

If this works for you, ple

[2018-04-22 16:01] #92 closed

[2018-04-23 01:53] calebboyd opened #93 "Failing to parse jquery"
**Code**
http://code.jquery.com/jquery-3.3.1.min.js
[code]

**Expected behavior:**
Successful parse
**Actual behavior:**
`Line 2, column 1914: Invalid destructuring assignment target`

[2018-04-23 03:08] KFlash commented on #93
@calebboyd Download latest from NPM and your issue should have been solved. I can't push latest changes to GH because there is an conflicting issue between my files and J.K's files. I'm closing this now.

[2018-04-23 03:08] #93 closed

[2018-04-25 01:56] KFlash opened #94 "Roadmap"
Master branch should be stable now and we also fixed issues reported in the issue tracker for other parsers. In cases where we did that, we added a comment in our tests pointing to the actual issue.

From now on the development will be done in the bleeding branch and we will focus on:

- [x] Minor refactoring

- [x]  Optimize and tweak performance

For now I'm stepping down as maintainer. The orig

[2018-05-03 11:33] KFlash commented on #87
Closing this now. I landed this, and the specs will change again soon, so will update this again when that happen.

[2018-05-03 11:33] #87 closed

[2018-05-05 04:27] KFlash commented on #94
Closing this for now. Most of this has been done, and the rest will be added soon.

[2018-05-05 04:27] #94 closed

[2018-05-07 03:52] KFlash opened #96 "Cherow's future"
Cherow was created because existing parsers were too slow, and none of these parsers would fare any chance against the official Test262 suite.

The goal is reached, although Cherow is far from perfect. But it's time too move on...

During my work on Cherow I used various tools, and I found them all very slow, and they doesn't fit our needs. So in the future Cherow will still exist as it does today

[2018-05-07 06:56] KFlash opened #97 "TypeScript and Flow support"
Both TypeScript and Flow parsing will  be supported as a stand-alone package.
The implementation will be done with the modular concept and Cherow core will be under the hood.

Parse both JS and TypeScript, just do: `parseTS()`. And for Flow - `parseFlow()`.

**Key features**

* Same options as before, with a new `module: true` option for module code parsing.

* No need to download the Cherow packa

[2018-05-23 12:13] KFlash commented on #97
On hold for now, so closing.

[2018-05-23 12:13] #97 closed

[2018-05-31 07:42] KFlash opened #98 "v. 2.0"
Summary of the upcoming v. 2.0 of the Cherow parser:

- [x] Editor mode (*something similar to  Acorn loose and Esprima tolerant mode*).

- [x] Tokenizing (*finale API details not decided yet*)

- [x] Web compat (*AnnexB*)

- [x] Regular expression validator

- [x] Improved performance with 15 - 20%

- [x] Reduced code size

**Note:** Incremental Parsing is still a WIP, and will not land in v. 2.0

[2018-05-31 07:57] KFlash commented on #98
**Note:** The features listed above have been added. The only remaining thing to fix is to get all 46k tests to pass again, and make sure the parser are stable enough to be used in production.

There is no specific release date yet.

[2018-06-01 17:49] aleclarson opened #99 "Lexer usage"
What's the API for traversing tokens (instead of producing an AST)?

[2018-06-01 18:18] aleclarson commented on #99
Figured it out. The following function is very similar to the `postcss` tokenizer.

[code]

Something like acorn's `tokTypes` object would be useful (eg: `tokTypes.eof == 1048576`), so I don't have to use `tokenDesc` to know what the token is.

[2018-06-01 20:43] KFlash commented on #99
Hi. Thanx for trying cherow.  I'm working on  improving cherow this days and a tokenizer will land in v. 2.0.
The tokenizer will output each token with a value, name, and location..
For v. 1.6x I think you found the best way to deal with tokenizing.
Hope that answers your question?

[2018-06-01 20:49] aleclarson commented on #99
What are your thoughts on exposing a `tokTypes` object like acorn does?

[2018-06-01 21:01] KFlash commented on #99
I may think that will kill performance and one of the reasons I didn't implement tokenizing before, but in
v. 2.0 there will be a new option - `tokenize` - that will allow either a callback or an array.
Each token will be equal to what you find in [the specs](https://tc39.github.io/ecma262/#sec-tokens).
It will be an improved implementations over Acorns tokenizing.

The API for this isn't set yet,

[2018-06-01 21:21] aleclarson commented on #99
The `name` parameter (in the `tokenize` function you mention) is a string, right?
Isn't number comparison faster than string comparison?

`parser.token === tokTypes.eof` vs `tokenDesc(parser.token) === 'end of source'`

[2018-06-01 21:29] KFlash commented on #99
What's fastest depends on the context. If you make a perfect hash e.g in a switch statement it should be faster with numbers, but V8's optimizations are very good so in your example a string comparison is the fastest if this is only a "one time" comparison not multiple comparisons done in a sequence as in a benchmark.

[2018-06-01 22:20] KFlash commented on #99
@aleclarson Should we close this issue now? And I will let you know when v. 2.0 are published?

[2018-06-01 22:27] aleclarson commented on #99
Will it only be the `tokenize` option in v2? I think `cherow.tokenizer(): {next: () => token}` should also be included, because I don't always need the AST. The tokenizer object should be an iterable, too.

[2018-06-01 22:31] KFlash commented on #99
I haven't thought about that, but it make sense to export a separate `tokenizer` method. Same thing as I'm working on right now for regular expressions - internal and exported.

I will add it on my TODO and add it as soon as I get around to it.

[2018-06-06 03:19] KFlash opened #100 "Implement regexp validator"
Implement regular expression validation.  The API will change into this:

[code]

**TODO**

- [x] Create basic validator

- [ ] Support AnnexB

- [x] Editor mode

- [ ]  Implement support for lookbehind etc.

- [x] Optimize

[2018-06-06 18:32] Aladdin-ADD commented on #96
Hi, to improve the perf of eslint, I was considering developing an esprima-compatible JavaScript parser on the top of Cherow, just like espree. Could you share your insights on this? Thanks! ❤️

[2018-06-06 22:21] KFlash commented on #96
Gitter is a better place for this. You can ping me there

[2018-06-07 04:46] coreybutler commented on #64
Does this actually exist? I couldn't find it in the code npm code.

[2018-06-07 06:38] KFlash commented on #64
It did exist in previous version but because you never know exactly where to put a comment - it was removed. And it was also a perf killer.
I can reconsider adding it back for 2.0 if I can gigure out a good algorithm for it.
What's your use case?

[2018-06-07 15:46] coreybutler commented on #64
I'm writing a documentation metadata generator, ultimately producing static JSON representations of the different elements of a library. Comments are used to override specific details and add context to the metadata.

For example, there is an [EventEmitter](https://github.com/ngnjs/NGN/blob/2.0.0/src/common/eventemitter.js) class. The library's build process ultimately packages this class into a n

[2018-06-07 16:51] KFlash commented on #64
Have you tried to collect the comments and used a 3rd party code to attach them? Similiar to what Acorn suggest?
I'm out of town ATM, but back in a few days and will try to think about this once more. The main issue is that you can't always know wich AST node you should attach the comment to.

Recast solved this in a good way and attach comments after done parsing. Maybe you could look at that alg

[2018-06-07 18:51] coreybutler commented on #64
I'll ping you on gitter for further conversation (will wait until you get back), but for completeness/anyone who lands here from a Google search, I'll post one last reply here.

Yes, the Acorn approach is essentially the one I took. It works, it's just tough for other developers to make changes. That may just be the nature of the beast though. I haven't looked at Recast, so I'll check that out.

I

[2018-06-07 19:06] coreybutler commented on #64
I just realized that what I suggested is something Acorn is already doing... precedence?

[2018-06-08 00:37] aleclarson commented on #96
I'm very excited for `cherow-minify` in the (near?) future!

Also, I'm definitely considering using Cherow as the parser for [nebu](https://github.com/aleclarson/nebu). It should be easy, because both produce the same AST, correct?

I've made a request for [Bublé](https://github.com/Rich-Harris/buble) to adopt Cherow, too. (see [here](https://github.com/Rich-Harris/buble/issues/138))

[2018-06-08 01:03] KFlash commented on #96
I'm out of town ATM, but regarding your questions. Cherow-minify will be done *after* I'm done with both Flow and TypeScript. And that will happen soon after I'm done with v. 2.0 of Cherow itself.

I can't give any exact date. Sometimes I may run into issues that take longer time than expected to fix or my RL ask for some of my time. Something that has happened now. After my own schedule I'm 5 day

[2018-06-08 01:17] aleclarson commented on #96
I'm curious how you plan to do the code generation for the minifier. 😄 Perhaps you should use [magic-string](https://github.com/Rich-Harris/magic-string), which does simple string splicing instead of generating the final string from scratch (after mutating the AST). It would save you time, but maybe you're more interested in rolling your own generator for speed's sake. Cheers!

[2018-06-08 01:43] KFlash commented on #96
Performance is the most important thing with Cherow, and tbh. the main reason why I'm 5 days after my own schedule. Fixing a regex validator - and I guess over 300 different combos to find the perfect match.
I worked on it now on my laptop, and suddenly it all "clicked" in place, and I can finish it and move on.

And the way I exposed the regex validator API is similar to what I'm going to do for

[2018-06-08 02:07] aleclarson commented on #96
Regarding the minifier's sourcemap generator, you should take a look at [metro-source-map](https://github.com/facebook/metro/tree/master/packages/metro-source-map). There's even [an article](https://medium.com/@david.aurelio/medium-fast-source-map-generation-for-react-native-ea5549007c18) detailing some of the optimizations made.

[2018-06-08 02:22] KFlash commented on #96
I will look into it even more when I get there. ATM. I had to get [this code](https://github.com/cherow/cherow/blob/recovery/packages/cherow/src/lexer/regexp.ts) out of the door.

Now I'm going to fly back home!

[2018-06-08 04:05] achun opened #101 "Incorrect comments results by cherow@1.6.6"
See https://jsfiddle.net/achun/6so0cdg9/

**Code**

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

[2018-06-08 05:03] KFlash commented on #101
Hi. You got the LT at the end because you have added it, and the comment are sliced after the index position. However I'm in a rush, but I corrected the end column index. I think it was wrong.

@fkleuver I ran into a workflow issue again - uglify isn't a function. So can't build. Do you have time to bundle the files and push to NPM?

[2018-06-08 05:49] achun commented on #101
Hi,
LT???  It Is means LF?

As far as I know, other parsers excluding LF.
Because there may be different line ending: LF / CRLF / CR.

It's better to be consistent or add an option like 'trimLineEnding: true'

[2018-06-08 05:53] achun commented on #101
If efficiency is taken into account, cherow will still save the line ending, please keep this behavior, do not change.

[2018-06-08 06:06] KFlash commented on #101
I use `LT` as a common term for LineTerminator..

[code]
I will keep this behavior.

Still in the airport, but need to catch a flight now. Let see if this will be pushed soon.

[2018-06-08 15:04] achun commented on #96
My written English is not good enough. The content is long, you need to take some time.

Avoid ambiguity caused by machine translation, I keep Chinese.
为了避免机器翻译引起的歧义, 我保留中文.

My purpose:
I want to introduce new methods to developers and get support to improve the overall ECMAScript source code ecology.

我的目的:
我想介绍新的方法给开发者, 并得到拥护, 提升整个 ECMAScript 源码生态.

cherow is brand new, this is an opportunity f

[2018-06-08 21:30] KFlash commented on #101
Closing this now. Checkout NPM

[2018-06-08 21:30] #101 closed

[2018-06-09 00:50] KFlash commented on #100
Closing as this will land shortly. Still need to be optimized and tweaked, but that's an separate issue.

[2018-06-09 00:50] #100 closed

[2018-06-09 04:20] Aladdin-ADD opened #102 "support lexical analysis"

[2018-06-09 04:29] KFlash commented on #102
Something like [this](https://github.com/cherow/cherow/blob/recovery/packages/cherow/src/lexer/common.ts#L120) ?

[2018-06-09 05:19] Aladdin-ADD commented on #102
more like esprima/espree: https://github.com/Aladdin-ADD/espree/blob/cherow/espree.js#L340

refs: https://github.com/cherow/cherow/issues/96#issuecomment-395169567

[2018-06-09 05:36] KFlash commented on #102
It will land in v. 2.0. The API isn't settled yet. Could you contact me on gitter?

[2018-06-09 05:55] KFlash commented on #64
@coreybutler FYI! I'm back.

[2018-06-09 07:03] KFlash commented on #101
take a look at [this](https://github.com/cherow/cherow/blob/master/packages/cherow/src/lexer/comments.ts#L151)

[2018-06-09 07:53] achun commented on #101
![image](https://user-images.githubusercontent.com/489285/41189239-26d59b7e-6bfd-11e8-842e-7f5b783d1375.png)

[2018-06-09 07:56] g-plane commented on #96
I have published [`cherow-eslint`](https://github.com/g-plane/cherow-eslint) which is for ESLint, but it is experimental.

[2018-06-09 08:09] KFlash commented on #101
Sorry about this, but I have a hard time figure this out. Look at [Esprima demo](http://esprima.org/demo/parse.html?code=%20%20%20%20%20%20%20%20%20%20%20%20function%20square(n)%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20return%20n%20*%20n%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%20%20%2F%2F%20comment%0A%0A%20%20%20%20%20%20%20%20%20%20%20%20)

Nothing i

[2018-06-09 08:18] KFlash commented on #96
Nice work @g-plane ! Btw. Do you have any deep knowledge about regex?

[2018-06-09 08:19] g-plane commented on #96
Can you give an example?

[2018-06-09 08:27] KFlash commented on #96
Can you ping me on gitter?

[2018-06-09 13:14] g-plane commented on #96
@achun 请问您的想法是不是为了文档？

[2018-06-09 13:29] g-plane commented on #96
@achun cherow 仅仅是一个解析器，它不会进行文档提取等类似的工作。如果你有写过 TypeScript 的话，可以使用 TypeDoc 等工具。或者，你也可以根据 cherow 生成的 AST 自己提取信息并生成文档。

[2018-06-09 13:30] achun commented on #96
@g-plane 误解了, 我没有要求对文档有支持, 那个工作我已经开始.
我想要得到支持的是 void 类型表达式

[2018-06-09 13:32] g-plane commented on #96
那对我的误解表示抱歉。

不过，像这种代码已经是合法的 JavaScript，所以没什么需要特别的支持吧？

[code]

[2018-06-09 13:38] achun commented on #96
哎呀, 很激动啊, 终于有人可观的提到这个 void 表达式的关键了.

**最终目标是要生成 类似 Flow 的 typeAnnotation 类型的, 这样才能进行 ESLint,
实现静态类型检查.**

要说与 Flow, TS 的不同, 最大的就是 这个合法了, 不需要 build 就能运行,
进行类型检查只是环节中的一项, 而且可以随时进行, 也可不进行, 也可以剔除 void 表达式, 类似 flow-strip-types. 不剔除也能正常工作.

[2018-06-09 13:43] g-plane commented on #96
您的意思是基于这种语法进行类型检查？

[2018-06-09 13:53] achun commented on #96
是的, 具体过程是这样:
为 void 类型表达式开发一个 cherow 插件, 功能和 Flow 的插件类似.
区别就是类型注解的形式和位置不同. 最终生成的都是 typeAnnotation 节点. 语义也一样.
当然有可能会产生新的类型, 也有可能 Flow 有的类型, void 类型表达式无法表达.

最新的版本在 https://gitlab.com/achun/proposal-static-type-constraints-features

[2018-06-09 14:00] g-plane commented on #96
首先 cherow 只是一个解析器，不是编译器。它不会去完成类型检查工作。

其次，静态类型检查是个非常复杂的工作。看看 Flow 或 TypeScript 的源码就知道了。即使是 ESLint 中的 `valid-jsdoc` 规则也仅仅是检查您的 JSDoc 是否符合语法，而不会检查具体的类型是否匹配。

[2018-06-09 14:02] aleclarson commented on #96
@achun @g-plane I feel this discussion should be in its own thread. As @g-plane said, there's nothing to be done in Cherow to support your syntax if it's already legal JavaScript.

[2018-06-09 14:17] achun commented on #96
@g-plane 抱歉, 我有没有表达清楚, 类型检查肯定不是 cherow 要做的, 这样工作就和 ESLint 重复了,
我是说, void 类型表达式和 flow 是一个级别的, 都是用来描述类型的,
希望能支持 void 类型表达式, 就像对 flow 的支持一样.
类型检查的问题有我来完成, 或者寻求社区的帮助完成.

[2018-06-09 14:19] KFlash commented on #96
@aleclarson What about a chinese issue ticket? Can you fix it?

[2018-06-09 14:19] g-plane commented on #96
@achun 不妨新建一个 issue 讨论？

[2018-06-09 14:34] KFlash commented on #96
Just open a new issue in chinese. Or @g-plane and @achun what about moving this discussion to e.g gitter? And be aware only a few understand your language. English is the common one

[2018-06-09 14:37] g-plane commented on #96
OK.

[2018-06-09 15:19] g-plane opened #105 "Add bundled files to `.gitignore`"
Bundled files should not be commit into version control system, IMHO.

[2018-06-09 15:27] achun opened #106 "推荐一种静态类型描述语法, 希望能像 flow 那样被支持"
因为我的英文不够好, 为了避免写英文造成歧义, 所以这里用中文写.

我很偶然的发现 ES 中的 void 运算可以被利用, 用来表示静态类型, 使得 ES 具有静态类型表达能力.
就像 flow 所完成的工作那样, 不同的是, void 表达式是合法的 ES  原生语法, 而且它是无副作用的.
我把它称作 void 类型表达式 --- `void typeExpression`.

实例: 常规的求和函数

[code]

周知, 它没有类型约束能力, 如果想要做的类型检查, 原生的方法是在函数主体中先加入 `typeof x === 'number'` 这样的判断.

该函数的另一个版本是加上默认值: 显然这依然不是静态类型描述

[code]

void typeExpression 的写法:

[code]

三个 `void !0`, 它的语义是:

1. x, y, 和返回值的

[2018-06-09 15:33] KFlash commented on #105
@fkleuver Anything to say?

[2018-06-09 15:43] KFlash commented on #106
你想让我说什么？ 我理解你。Sorry. My chinese is not so good. But try at least to write in english. Not everyone here that have lived in a chinese speaking country or  speak chinese fluently.

我希望你明白。在gitter上讨论这个问题。

[2018-06-09 15:56] achun commented on #106
好的

[2018-06-09 15:56] #106 closed

[2018-06-09 17:03] fkleuver commented on #105
I don't believe this is a black-and-white rule that applies in all cases. There are valid reasons to commit build outputs:

- Makes it easier for people just downloading the files from a specific release
- Enables use of rawgit in tools like plunkr or stackblitz
- Build outputs per release are deterministic and locked in place
- Enables use of git diff to see how the compiled outputs are affected

[2018-06-09 17:07] idleman opened #107 "Incorrect line number for comments"
When I run the following code:
[code]
is the generated AST/loc information a bit strange ( see comments in the AST below):

[code]
Is the result above expected?

**Node version**: v10.0.0 (with --experimental-modules flag)
**Cherow version**: 1.6.8

[2018-06-09 17:20] fkleuver commented on #107
The program as a whole is 4 lines, and lines are 1 index-based. So start line 1 and end line 4 for the whole program makes sense to me. As for the rest, see comments below:

[code]

[code]

[code]

[2018-06-09 23:01] KFlash commented on #107
@fkleuver agrew with you the comments are sliced from  current index position. And as long as itvexist a newline after the coment, this will be the result

[2018-06-09 23:13] Aladdin-ADD commented on #102
sorry, non-English speaker, so I'm asking @g-plane to see if there is something we can work together. 😂

[2018-06-09 23:36] g-plane commented on #102
@Aladdin-ADD I have replied you on gitter.

[2018-06-10 01:00] g-plane commented on #105
You're right. There are some real-world projects which commits build files, such as the Vue.js repo. However, they only commit those files when publish new version, as what you said.

[2018-06-10 07:47] Aladdin-ADD opened #108 "test failed on windows"
cherow: 2.0 (400d4b5ad97327c544a288580250396d5f1426f)
node: v10.1.0
npm: 6.1.0

![image](https://user-images.githubusercontent.com/13050025/41199485-8944889c-6cc5-11e8-801f-7e5d5a877913.png)

it passed on my MacOS, not sure why.

[2018-06-10 07:58] KFlash commented on #108
@fkleuver Any ideas?

[2018-06-10 09:19] Aladdin-ADD opened #110 "support option: ecmaVersion"
some parsers( like acorn, espree) support the option,  something like:

[code]

[2018-06-10 09:45] KFlash commented on #64
@coreybutler I'm finally back on track and started to work on 2.0. I have now added option for a comment handler - `onComment`. What's your other ideas?

[2018-06-10 09:58] KFlash commented on #110
@Aladdin-ADD I fixed the basic for this, so it's easier for you to fix it. You may need to [adjust this](https://github.com/cherow/cherow/blob/bf654aed7111334ddcae9f0499253986d356ee7b/packages/cherow/src/types.ts#L8)

[2018-06-10 10:29] Aladdin-ADD commented on #110
what if change the api to be consistent to other parsers:
[code]

[2018-06-10 10:43] KFlash commented on #110
Well. As long as it doesn't slow it down go for it. Use a hash table or lookup and return a context mask based on it should be ok.

[2018-06-10 10:45] KFlash commented on #102
Work in progress as you know. `onToken` option have been added.

[2018-06-10 14:20] fkleuver commented on #105
@KFlash Let's completely stop committing build outputs unless it's for a release followed directly by a publish. Example:

- The last work is done, commit those changes as you normally would (without building) -> working directory is clean
- Bump the version in package.json, build the project, commit package.json + dist folders with commit message "chore(all): prepare release 1.x.x"
- Npm publish

[2018-06-10 14:28] fkleuver commented on #108
@Aladdin-ADD What's the exact workflow you're using? The "supported" way is via yarn and with the 8.x LTS release of nodejs. You'll also want to `yarn global add lerna` or `npm i -g lerna` to have the latest version globally available.

After cloning:
- In project root: `yarn install`
- Still in project root: `lerna bootstrap`

Then to run any of the scripts, you have some options
1) Go to `packag

[2018-06-10 14:29] g-plane commented on #108
Try `lerna run test --scope=cherow` again?

[2018-06-10 14:29] Aladdin-ADD opened #115 "only allow squash commits"
refs: https://blog.github.com/2016-04-01-squash-your-commits/

[2018-06-10 14:31] fkleuver commented on #108
That should work too. Actually it's a bit quicker as well because the console output is batched.

[2018-06-10 14:37] g-plane commented on #115
I agree. This keeps git log clean.

[2018-06-10 14:40] fkleuver commented on #115
@Aladdin-ADD Do you have any ideas for automating this? I was thinking about incorporating `standard-version` into cherow but on the same token it might be better to make a custom build script by hand. This gives some more control over things. I don't like how the whole `nps` script I put together has played out so far. One level of indirection too many if you ask me.

[2018-06-10 14:54] Aladdin-ADD commented on #115
I'm assuming you were asking something like [npm-run-all](https://github.com/mysticatea/npm-run-all).

as `squash`, it's in the repo settings, no much work. 😄
![image](https://user-images.githubusercontent.com/13050025/41202807-f68a32f4-6d00-11e8-8a98-1c559e39b756.png)

[2018-06-10 15:27] Aladdin-ADD commented on #108
I'm going to close it. it was fixed when updated to the newest code, there might be something wrong in the commit.

[2018-06-10 15:27] #108 closed

[2018-06-11 00:31] KFlash opened #116 "implement comment attachment"
See https://github.com/cherow/cherow/issues/64#issuecomment-396035407

Idea is to find an optimal and performant way to support what's illustrated in the 4th comment - counted from the bottom up. A `priorNode` now exist on the parser object as an start.

[2018-06-11 12:33] Aladdin-ADD commented on #105
vue has put the `dist/*.js` in `.gitignore`. thought I'm not sure how it been added it to git repo --might be something like `git add dist -f`.

https://github.com/vuejs/vue/blob/dev/.gitignore#L13

[2018-06-11 14:36] KFlash commented on #115
Closing. As this is fixed in the settings.

[2018-06-11 14:36] #115 closed

[2018-06-11 14:39] KFlash commented on #107
Will be fixed in v. 2.0

[2018-06-11 14:45] KFlash opened #117 "Optimization for tokenizing string literal."
We need to optimize the tokenizer, with string literals and templates.
Do some refactors, replace `String.fromCharCode` with string slices.

[2018-06-11 15:20] Aladdin-ADD commented on #117
代码在 2.0 分支上？

[2018-06-11 15:21] g-plane commented on #117
@Aladdin-ADD Sure.

[2018-06-12 09:18] g-plane opened #120 "Remove "cherow-linter" from this repo"
As we know, ESLint is mature and it has full eco-system. And Rome was not built in a day, so it's hard to build a full-featured module like ESLint. Also, we have `cherow-eslint` now, though it is still in progress and experimental.

Let me know your opinions if you disagree.

[2018-06-12 12:59] fkleuver commented on #120
Yes, it's not that we necessarily want to reinvent the wheel everywhere. `cherow-linter` was created here to set the basic structure and to make it easy to get started in case any of us got struck with a good idea.

At that point we didn't know yet whether it would be possible to integrate with an existing linter and use cherow as the underlying parser instead. We simply hadn't investigated that y

[2018-06-12 13:05] g-plane commented on #120
However there is no need to add everything to this repo, which will make the repo messy, though we are using lerna. Also, Babel is using lerna and monorepo as well, but their `babel-eslint` is still in a separated repo.

[2018-06-12 13:52] fkleuver commented on #120
Based on what rules / logic would you then determine whether something belongs here in the monorepo, or in a separate repo?

[2018-06-12 14:07] Aladdin-ADD commented on #120
For consistency, I am 👍 to in the monorepo.

[2018-06-12 14:09] g-plane commented on #120
So should I move it to this repo?

[2018-06-12 17:33] fkleuver commented on #120
Preferably, yes. Let me know if you run into any issues with that or need any help.

[2018-06-13 10:49] KFlash opened #123 "CI not running in PR, and no tests on 2.0 branch"
- The CI stopped working in PR's.

- Tests doesn't run on 2.0 branch (*they pass locale*)

- Travis CI doesn't run on 2.0 branch

@fkleuver Any ideas?

[2018-06-13 10:52] #120 closed

[2018-06-13 11:27] g-plane commented on #123
We can remove following:

https://github.com/cherow/cherow/blob/master/appveyor.yml#L9-L11

https://github.com/cherow/cherow/blob/master/.travis.yml#L14-L16

[2018-06-13 11:30] KFlash commented on #123
@g-plane Remove?

Nothing wrong with the tests itself, it is a workflow issue again.

![locale](https://user-images.githubusercontent.com/31855118/41348746-35faa478-6f40-11e8-89b5-a94d1e8314d8.png)

[2018-06-13 11:32] g-plane commented on #123
I mean, the settings of Travis CI and AppVeyor limit that tests can only be ran on master branch, except other branches.

[2018-06-13 12:45] KFlash commented on #123
Once again 2.0 branch failed. Just for the record. The tests doesn't fail on my computer

![again](https://user-images.githubusercontent.com/31855118/41351977-a3530c2c-6f4a-11e8-9342-2e38c8ca9edb.png)

The image shows all latest tests pass without any issues.

[2018-06-13 12:54] g-plane commented on #123
Possible reproduction steps:
- Run `rm -rf ./packages/cherow/node_modules`
- Run `yarn` and `lerna bootstrap`
- Run `lerna run test --scope=cherow`

However I found running below commands can work:
- Rename `cherow` to any other name in `packages/cherow/package.json` (I know it's impossible to do it in actual.)
- Run `yarn`
- Run `lerna run test --scope=cherow` (This may work.)

[2018-06-13 13:12] KFlash commented on #123
@fkleuver Ideas?

[2018-06-13 14:22] KFlash commented on #123
Closing. Seems like the workflow gets an allergic reaction when version number changes. Rolled back, and now it works fine.

[2018-06-13 14:22] #123 closed

[2018-06-13 14:40] fkleuver commented on #123
@KFlash Let's not jump to conclusions here, if you look at those CI files you can see that it only runs the tests on the master branch. I did that for a good reason - the master branch is where we develop. Bleeding/next could be added, but I didn't add them before because they only kept breaking and there was no stability.

When you publish a new version, you also create a new git tag for that ver

[2018-06-13 15:11] Aladdin-ADD commented on #123
agreed! when developing a new major version(e.g. 2.0), mostly we cut a new branch named `1.x`, but new features will be landed on master.
![image](https://user-images.githubusercontent.com/13050025/41359498-3398cd82-6f5d-11e8-9175-92c8d30a90e4.png)

[2018-06-14 00:39] KFlash opened #126 "Improved performance"
The main goal for v.2.0 of the Cherow parser is to improve it's performance.

Here is the most recent benchmark results.

**Note** v.2.0 has not been optimized yet so it's performance is still horrible comparing to Acorn and Esprima

![perf](https://user-images.githubusercontent.com/31855118/41385454-5644a2ba-6fae-11e8-8230-186948071712.png)

[2018-06-14 00:45] fkleuver commented on #126
Awesome job. And see, the new lookups weren't that bad an idea ;)

[2018-06-14 03:55] KFlash opened #129 "What do we do with the raw property?"
Cherow v. 1.6x offers raw property on the AST node through option. Esprima offers this by default.
Because performance has top priority in 2.0, we must think through this.

Current solution could and probably will cause an deoptimization because the raw property are set after the AST node have been created,

[code]
For 2.0, I may think the best solution to avoid a deopt is this

[code]

This will

[2018-06-14 05:30] g-plane opened #130 "Too many duplicated workflow-related files"
Looking at each package in `packages` directory, there are too many duplicated workflow-related files in each package, such as some test-related files.

Also, every `packages.json` contains many unused devDependencies.
For example, we just need to install `typescript` and `mocha` even other similar packages once in the root `package.json`, but these dependencies were specify in each `package.json`

[2018-06-14 07:16] KFlash commented on #129
Both numeric literals and now identifier scanning have a pending TODO when it comes to raw property. Are we choosing the `{ raw: undefined }` solution?

[2018-06-14 14:58] KFlash opened #132 "Investigate why tests fail in CLi"
CircleCI pass all tests. Travis and Appveyor fails.
No big changes done the last 3 hours. At that time all of them passed.

Also clicking on travis badge take you nowhere.

And locally I run around 6k tests. Something in the CLI blocking the tests so only 4k tests run and coverage fails. Locale coveragr is 89%.

Cc/ @fkleuver

[2018-06-14 15:12] g-plane commented on #132
There are no tests in CLI.

[2018-06-14 15:17] KFlash commented on #132
@g-plane In your end? CircleCi runs 4140 tests just fine.

I found out why only 4040 tests are running after checking CircleCI log. All tests in the `test/parser` folder are skipped! You see this if you try to investigate in CircleCi and compare.

[2018-06-14 15:21] g-plane commented on #132
You can see [here](https://github.com/cherow/cherow/tree/master/packages/cherow-cli), no any tests.

[2018-06-14 15:33] KFlash commented on #132
@g-plane I fixed some of this. My issue was that my computer love to cache everything I do so I can't see things in real time (*same if I buy a new computer*). I guess same as CircleCI does - it passed.

Can you try to figure out why the tests in the parser folder doesn't run?

I'm clocing this, feel free to open a new issue ticket for the non-running 1k tests.

[2018-06-14 15:33] #132 closed

[2018-06-14 16:06] fkleuver commented on #129
What do other parsers do with the raw property?

[2018-06-14 16:11] fkleuver commented on #130
Agree on the package.json, this could be cleaner. Thanks for looking into that.
We're 100% not going to use Jest though. Jest has a different purpose (like karma). Nice for tests that need a browser environment. For us it's only overhead and unneeded fluff.
We could add on a library like `chai` (and maybe `sinon` + `sinon-chai` if we need mocking) for the assertions. The tests can probably be clea

[2018-06-14 16:19] fkleuver opened #133 "Workflow improvements"
Couple points I'm going to address:

- [x] Remove dependency on nps, change to more flexible/efficient/clean custom scripts
- [ ] Make a bootstrap script for quickly setting up a new package with required configs/deps
- [ ] Automate the release workflow (build + version bump + tag + push + publish)
- [x] Enforce conventional changelog on commit messages for automatic changelog generation
- [ ] Fin

[2018-06-14 21:25] KFlash opened #134 "Investigate why CI not running all tests"
The tests in the `cherow/test/parser` folder doesn't run in the CI. Total amount of tests is 6k, but the CI only runs 4040 tests.

cc / @fkleuver

[2018-06-14 22:28] KFlash commented on #129
@fkleuver They are slicing from the start, and doesn't offer it as an option.

I'm closing this now. The "raw" are now set to undefined.

[2018-06-14 22:28] #129 closed

[2018-06-14 23:58] g-plane commented on #130
I know. However, those shared test-related files can be merged.

[2018-06-15 00:02] g-plane commented on #133
For the first point, I really agree.
For the third point, can we use something like `np`?

[2018-06-15 10:47] fkleuver commented on #130
Which shared test-related files? util.ts?

[2018-06-15 10:48] g-plane commented on #130
https://github.com/cherow/cherow/blob/master/packages/cherow/test/test-utils.ts

[2018-06-15 10:59] fkleuver commented on #130
What would you suggest? Put it in a separate package, put it in the root folder, or in a separate repository?

[2018-06-15 11:02] g-plane commented on #130
Create a directory called `test` in root directory, IMHO.

[2018-06-15 11:06] fkleuver commented on #133
Looks promising. What concerns me is 1) the overhead and 2) locking ourselves in to someone else's workflow (what if we need one little thing that they don't support?).

Looking at the source code of that package, it's not a lot of code. We could create a fork just to be sure, or even just copy-paste into our utils (with a big fat acknowledgement of course)

[2018-06-15 11:10] fkleuver commented on #130
Can do. Might be a good idea to also add a paths reference in the tsconfigs so we can just `import ... from 'test'` or something among those lines. Was also thinking of doing something similar for the rest. Get rid of those long relative paths.

[2018-06-15 11:14] g-plane commented on #133
One more thing, will we add those built files in the `dist` directory to `.gitignore`?

[2018-06-15 12:49] KFlash commented on #134
@fkleuver @g-plane  Could you try to look into why the coverage also dropped to 37? I guess it's because I added more tests locale that isn't run in the CLI?

Here is how it look like for me (*same files as online*)

![coverage](https://user-images.githubusercontent.com/31855118/41468767-9ee10524-70dd-11e8-8631-d45a96fa14a4.png)

[2018-06-15 13:05] g-plane commented on #134
TIP: You can use HTML coverage reporter to see what happened.

[2018-06-15 13:28] KFlash commented on #134
All tests with same coverage result runs smooth on 7 of my computers, but not in the CLI

[2018-06-15 13:55] fkleuver commented on #133
I think it's better if we have a proper and easily accessible versioned history of our build artifacts together with the corresponding source code for those artifacts. But they should not be checked in arbitrarily. Those commits need to be isolated with release commits which should be automated via a script. Then they can more easily be filtered and don't need to be reviewed.

[2018-06-15 13:59] fkleuver commented on #133
Ah right, I see why you're addressing this: https://github.com/cherow/cherow/commit/b2240a64ce267b96701de1ab874725209eb664cf

@KFlash only focuses on code, he doesn't remember stuff we talk about regarding build process :)

There are build tools that allow you to enforce these rules. I'll look into that so he gets a big red warning when he tries to commit build artifacts :)

[2018-06-15 14:02] g-plane commented on #133
How to prevent it? Once you committed and pushed, nothing can be changed.

[2018-06-15 14:05] KFlash commented on #133
Ups! 😮

[2018-06-15 14:18] KFlash opened #137 "Finishing the lexer code - PR's"
I'm now going to finish off the lexer code, and start on the parser code. Because of that, I'm opening some PR for review.

Regarding the PR's. Feel free to

1) Merge them if everyone is happy
2) Or Supply / change / improve current code yourself and push changes to that branch

start on 1) again

[2018-06-15 14:38] fkleuver commented on #133
A local hook that intercepts git commits and validates the commit against certain rules, then prevents the commit if those rules are broken :)

[2018-06-15 21:10] KFlash commented on #134
@fkleuver Could you look into this issue? I'm starting on the parser code now and it's kind of needed that the parser tests run in the CLI

[2018-06-15 21:10] #137 closed

[2018-06-16 00:05] KFlash commented on #134
Only 427 tests are running in the CLI now. Before it was at least 4040.

@g-plane @fkleuver How to solve this?  A quick look [here](https://github.com/cherow/cherow/tree/master/packages/cherow/test) and you see there exist a parser folder too with tests.

![circle](https://user-images.githubusercontent.com/31855118/41493643-e59ec4ac-713b-11e8-8cb9-72b87183a35d.png)

[2018-06-16 00:10] KFlash commented on #134
There also exist around 3000k tests inside a [sub folder of the lexer folder](https://github.com/cherow/cherow/tree/master/packages/cherow/test/lexer/regex) that the CLI doesn't run either.
My guess is the 4040 tests ran before because the regex tests was not an sub folder of the lexer folder

[2018-06-16 00:59] g-plane commented on #134
CI not CLI.

[2018-06-16 01:03] KFlash commented on #134
Agree. @g-plane Could you fix this?

[2018-06-16 05:21] Aladdin-ADD opened #140 "coverage/coveralls Expected — Waiting for status to be reported"
+ see #139
![image](https://user-images.githubusercontent.com/13050025/41496036-10ad9d0e-7168-11e8-9071-5e9b601f9c8c.png)

+ another issue is: sometimes coverage was leaving 2 comments. see #125

[2018-06-16 05:44] g-plane commented on #140
This is about the repo settings.

[2018-06-16 06:02] Aladdin-ADD commented on #134
fixed by #139

[2018-06-16 06:02] #134 closed

[2018-06-16 06:03] #140 closed

[2018-06-16 06:12] KFlash opened #141 "travis badge in readme broken"
Clicking on the Travis badge in the readme take you nowhere.

[2018-06-16 10:07] #141 closed

[2018-06-16 12:00] KFlash opened #145 "Broken watch task for tests"
The latest changes to the workflow have broken the `test:watch`

This is what I get

[code]

[2018-06-16 13:38] KFlash opened #146 "Head developer temporary inactive"
The head developer temporary inactive from now on until the parser are complete. If I get mentioned in an issue ticket, I will reply to it soon as I get active again.

All questions, issues or PR's are addressed to @fkleuver @g-plane @Aladdin-ADD

[2018-06-16 16:30] g-plane commented on #133
I don't agree to be back to npm, because we use lerna and Yarn's workspaces.

[2018-06-17 00:35] KFlash opened #147 "Add a contribute .md file"
There exist before a contribute.md file, but it seems to have vanished in thin air. Either add it back, or create a new one.

One important point is - not allowed to ditch other people work. It should be added if it's not exist already.  I feel bad for what I just did in my latest push.

[2018-06-17 01:00] g-plane commented on #147
See: https://github.com/cherow/cherow/blob/master/.github/CONTRIBUTING.md

[2018-06-17 01:00] #147 closed

[2018-06-17 02:51] fkleuver commented on #145
Fixed by https://github.com/cherow/cherow/commit/90231fde864c978ca2faaa799f1276fe0e98a7ca

[2018-06-17 02:51] #145 closed

[2018-06-17 03:32] g-plane commented on #145
@fkleuver Why add those packages again?

[2018-06-17 03:40] fkleuver commented on #145
I didn't review the PR properly as I was too busy, so I didn't test it locally. Otherwise I would have caught this beforehand.
But those devDependencies need to stay, otherwise tools can't be run from within the package folder. Looping tasks (like `test:watch`) don't work properly via lerna so they must be run from within the package folder. And it's generally more convenient if you're only develo

[2018-06-17 03:48] g-plane commented on #145
Ok, I see.

[2018-06-17 03:50] fkleuver commented on #133
@Aladdin-ADD

- I'm thinking about `commit-lint` but anything that does the job is fine ultimately.
- Lint config can probably be better, but it can't be too restrictive or it will give @KFlash a headache. If you can find autofix for those formatting issues that would be great though.
- We already have a microbenchmark with node highres timestamps for fairly fine-grained tests, I'll put it in the

[2018-06-17 03:53] g-plane commented on #133
However npm still doesn't contains some functions like Yarn's workspaces, which is that it will install the same packages many time into different directories.

[2018-06-17 04:07] fkleuver commented on #133
Lerna can do that via `--hoist`, but I did say looking into, not necessarily switch :) it will also depend on how typescript project system is going to be

[2018-06-17 04:10] Aladdin-ADD commented on #133
what do you think https://github.com/prettier/prettier?
we can do autofix in git precommit.

[2018-06-17 04:33] g-plane commented on #133
@fkleuver Not the typescript. If we use npm, it will install packages into different `node_modules` directoires, which cause too much spaces cost.

[2018-06-17 04:59] g-plane opened #148 "Too many invalid imports"
![image](https://user-images.githubusercontent.com/17216317/41504881-40687ec6-722e-11e8-9d41-c48c354fa947.png)

@KFlash Did you forget to export something?

[2018-06-17 05:00] fkleuver commented on #148
No that still needs to be fixed. Those are things that were made internal

[2018-06-17 05:02] g-plane commented on #148
Export those members in `cherow`?

[2018-06-17 05:05] fkleuver commented on #105
Closing in favor of #133

[2018-06-17 05:05] #105 closed

[2018-06-17 05:06] fkleuver commented on #130
Closing in favor of #133

[2018-06-17 05:06] #130 closed

[2018-06-17 05:07] fkleuver commented on #146
Yeah yeah :)

[2018-06-17 05:07] #146 closed

[2018-06-17 05:08] fkleuver commented on #148
They're marked as `@internal` and we have `stripInternal` enabled. We shouldn't import them anymore.

[2018-06-17 05:09] g-plane commented on #148
How can we do if we really need them?

[2018-06-17 05:14] fkleuver commented on #148
As much as I hate to say this: copy-paste. Flags are just numbers, and `const enum`s are inlined anyway, so it doesn't lead to a larger library size if the same one is defined multiple times.

[2018-06-17 05:31] g-plane commented on #148
It's better to export them.

[2018-06-17 06:49] KFlash opened #149 "Circle ci never finish"
See latest PR. Circle ci never finish.

[2018-06-17 08:21] KFlash opened #150 "Identifier scanning doesn't support chinese"
The identifier scanner code lack finale support for Supplementary Multilingual Plane (SMP).  This has to be added so we can support chinese and other languages.

[2018-06-17 12:14] KFlash opened #151 "build process broken"
Run `npm run build` inside  `packages/cherow`

[code]

cc / @fkleuver

[2018-06-17 12:29] Aladdin-ADD commented on #151
does reinstall deps solve it?
[code]

[2018-06-17 12:43] KFlash commented on #151
Nope. See L2049. It's a typo there. What other issues it is I don't know

[2018-06-17 12:50] Aladdin-ADD commented on #151
however I didn't see the error in my local(master) (o|o)
what branch are you working on? did you modified some configs?

[2018-06-17 13:03] Aladdin-ADD commented on #151
there is a related commit: https://github.com/cherow/cherow/commit/90231fde864c978ca2faaa799f1276fe0e98a7ca

 you might need to reinstall all the deps.

[2018-06-17 13:06] KFlash commented on #151
I'm on master branch and didn't modify anything

[2018-06-17 14:04] fkleuver commented on #151
Can you try `lerna run build --scope cherow` from project root?

[2018-06-17 14:14] KFlash commented on #151
On my way to hospital now, but from project root it worked. But not from cherow folder. Same files as online.

[2018-06-17 14:15] KFlash commented on #151
The funny thing here is `npm run minify` works from cherow folder, but not `npm run build`

[2018-06-17 14:28] fkleuver commented on #151
Well then just run it from the project root for now. [this commit](https://github.com/cherow/cherow/commit/d3def96ef4314176f932e5ea54341dbe440677e5) broke all the local scripts. That said, `test:watch` is the only one that you *need* to run locally anyway

[2018-06-17 16:45] fkleuver commented on #148
@g-plane Actually you're right. I didn't notice that all internals were no longer exported.

@KFlash You realize that removing the exports from `cherow/cherow.ts` broke every other package?

[2018-06-17 19:17] KFlash commented on #148
I noticed it now. But little to do with it now I guess

[2018-06-17 20:01] fkleuver opened #154 "microbenchmark"
I added a microbenchmark script which can be run with `node bench/bench.js`
It takes two arguments (by position).
- The first argument is `iterations` - this specifies how many times each individual expression is parsed for a single interval measurement (average is calculated from it).
- The second argument is `rotations` - this specifies how many times the whole benchmark is run, and calculates a

[2018-06-17 20:34] fkleuver commented on #151
I think this may be because you don't have the right version of tslint installed globally - it goes to your global version because it's not installed within the package. This is why the deps needed to stay @g-plane  :)
Should be fixed with https://github.com/cherow/cherow/commit/9f13383cfac9eb4644df47e10842ab5156c02ebb

[2018-06-17 20:34] #151 closed

[2018-06-18 07:45] KFlash commented on #107
This have been corrected in 2.0. So closing this for now.

[2018-06-18 07:45] #107 closed

[2018-06-18 12:00] KFlash commented on #126
Closing this now. We got a benchmark to handle this.

[2018-06-18 12:00] #126 closed

[2018-06-18 12:01] KFlash commented on #116
@g-plane Any progress on this one?

[2018-06-18 12:11] KFlash opened #155 "TODOs for 2.0"
Opened this issue to keep track of things that remain before 2.0.

- [x] Lexer

- [x] Directives

- [x] Statements

- [x] Public API

- [x] Modules

- [x] Expressions

- [x] Adress all open issues found in other parsers issue tracker.

- [x] Pass Test262 tests

- [ ] Optimization

[2018-06-18 12:17] g-plane commented on #116
I'm busy these days so I may be inactive for this in several days.

[2018-06-19 02:39] KFlash commented on #148
@g-plane @fkleuver I fixed this in d46d96aaa42045f2e9f55a42251f4251752141a3

[2018-06-20 13:17] KFlash opened #156 "nps error and tests not running"
The test stopped running, and everytime I try to run them again I'm getting this

[code]

[2018-06-21 13:05] Aladdin-ADD commented on #156
I'm working on this. I was not able to repro it on my local, could you post the full error log, thanks! @KFlash

[2018-06-21 15:28] #156 closed

[2018-06-21 23:12] KFlash opened #158 "API changes - expression parsing"
From v. 2.0 the API will change and offer expression parsing.

[code]

This is still WIP, and I'm playing around with it locale.

[2018-06-22 05:31] KFlash opened #159 "remove numeric separator support"
Numeric separators have been "down graded" to stage 2, meaning we have to remove support for it both in the upcoming 2.0  and existing v. 1.6.8.

[2018-06-22 05:31] KFlash commented on #159
@Aladdin-ADD Is this something you could take a look at?

[2018-06-22 05:55] Aladdin-ADD commented on #159
to follow [semantic versioning](https://semver.org/), I don't think we can remove it in 1.x.
we can remove it in 2.0(though it might stop users migrating from 1.x)

[2018-06-22 06:03] KFlash commented on #159
If that's the case, just hide it under the `experimental flag / option` if you think it can be removed from v. 2.0.

[2018-06-22 06:28] KFlash commented on #159
@Aladdin-ADD @g-plane I suggest that you two can [read this](https://github.com/tc39/proposal-numeric-separator#stage-3)

[2018-06-22 07:22] KFlash commented on #116
@Aladdin-ADD Want to implement this?

[2018-06-22 07:27] g-plane commented on #159
Still in stage 3?

[2018-06-22 07:54] KFlash commented on #159
It was stage 3, but because of potential conflict with a potential future feature it is now Stage 2. And Cherow only supports Stage 3

[2018-06-22 07:55] KFlash commented on #159
@g-plane You can see it [here](https://github.com/tc39/proposals)

[2018-06-22 07:58] g-plane commented on #159
So can we move to `experimental`?

[2018-06-22 08:05] KFlash commented on #159
That was what I suggested earlier yes, if you scroll up. Can you or @Aladdin-ADD make a PR for it?

[2018-06-22 08:55] Aladdin-ADD commented on #159
I can do it later. removing it in 2.0 might not be a bad idea -- we can always add it back when someday it reach stage-3.

[2018-06-22 09:04] KFlash commented on #159
@Aladdin-ADD Sounds great, and removing it now helps simplifying things too. At least 3 methods can be merged into one.

[2018-06-22 13:28] KFlash commented on #150
@g-plane

[2018-06-22 14:34] Aladdin-ADD opened #163 "parsing numeric bug"
**Code**

[code]

**Expected behavior:**
1e+234
**Actual behavior:**
1e234

[2018-06-22 23:03] KFlash commented on #155
Closing this because things have been done locale.

[2018-06-22 23:03] #155 closed

[2018-06-24 05:50] #159 closed

[2018-06-24 13:17] Aladdin-ADD commented on #133
is there some reasons to keep travis-ci and circle-ci? I believe one is enough.

[2018-06-24 13:29] KFlash commented on #133
See Esprima, Babylon, Acorn? So don't remove!

[2018-06-24 16:03] #148 closed

[2018-06-25 00:07] KFlash commented on #133
@fkleuver What's the progress on this improvements?

[2018-06-25 00:09] KFlash commented on #110
@Aladdin-ADD I guess this will not land in v. 2.0? If that's the case, can you deal with this issue?

[2018-06-25 14:28] KFlash commented on #158
I doubt it's any point to have this open now. This will be mentioned in the readme soon as the expression parsing is done. So closing. Re-open if I'm wrong.

[2018-06-25 14:28] #158 closed

[2018-06-25 14:31] KFlash commented on #96
I think this issue ticket contains too much chinese language so people will be confused. So I'm closing this now. It's also better to mention this in the docs somewhere rather than a issue ticket.

[2018-06-25 14:31] #96 closed

[2018-06-26 11:44] KFlash opened #171 "Unreliable benchmark"
I have my doubts that we can trust the benchmark in the root folder. It's result  varies from +421% to -319% when the same tests are running over and over again.

In the current Cherow the flow for parsing a false keyword is this

`statement > assignment expr > condital > binary > unary > upate expr > lefthand expr > primary > member expr `

It's a lot of branching happend too during this flow tha

[2018-06-26 11:59] KFlash commented on #171
As seen [in this code](https://github.com/cherow/cherow/blob/2.0-dev/packages/cherow/src/parser/expressions.ts#L80) I pushed you can see it jumps stright to primary expr and memory expr.

But I doubt this has something to do with the benchmark itself.

[2018-06-26 13:22] KFlash commented on #171
Here is another example- Jumping from -70 to +70. And it's only a simple call expression.

![call](https://user-images.githubusercontent.com/31855118/41914912-0960c914-7987-11e8-9360-4aca58ae794d.png)

@fkleuver Any ideas about this?

[2018-06-26 13:31] KFlash commented on #171
With call + rest element we got better results, before the benchmark goes crazy again

![rest](https://user-images.githubusercontent.com/31855118/41915445-508b2b8a-7988-11e8-8db6-5b0c5a24ba68.png)

[2018-06-27 11:50] KFlash commented on #171
I'm re-open this because I found out the issues has to be related to this benchmark alone.

See screenshot. Parsing out `({})` - empty obj literal - should be way faster than object literal with properties and values. But in the benchmark, a empty object literal is way slower.

![reopen](https://user-images.githubusercontent.com/31855118/41972088-3e0dee00-7a43-11e8-922a-57af61fb6454.png)

cc / @fk

[2018-06-27 11:59] KFlash commented on #171
I should add to the story that the Cherow 2.0 version on master branch have few validations (*something that should slow down the benchmark results*) My locale 2.0 version have all validations and still should be faster than master branch.

[2018-06-27 12:15] KFlash commented on #171
This screenshot should prove it all. Locale 2.0 with all valiations is way faster than current master branch. It's correct. But look at the empty obj literal, and obj literal with simple identifier. The latter values jumps as a pig.

![warm](https://user-images.githubusercontent.com/31855118/41973112-a35de2bc-7a46-11e8-9aba-e7f2309a2061.png)

[2018-06-27 12:17] fkleuver commented on #171
@KFlash We all know that no benchmark can ever be 100% reliable. The jumps have to do with V8 JIT.

The best thing to do here is try various iteration counts, run them a few times and see if any of them runs somewhat stable. There is no magic bullet.

If you look at the actual numbers (the microseconds per parse) they stay roughly within the same range but there are variations. You can analyze thi

[2018-06-27 12:28] KFlash commented on #171
Well. I now ran 668000 ops and empty object literal still slower. Even if I bail out early. Then tried again with empty array literal. Same thing.

Anyway. Closing this again.

[2018-06-27 12:28] #171 closed

[2018-06-29 03:37] #154 closed

[2018-06-29 13:03] KFlash opened #172 "Unexpected token } in JSON"
Running this command `ts-node` in the root folder on the command line give this result:

[code]

I looked at that file and noticed it doesn't contains 2000 lines.

cc /@fkleuver @Aladdin-ADD

[2018-06-29 21:40] KFlash opened #173 "API changes in v. 2.0"
Will be updated....

**Tokenizing**

[code]

**Comment collection and attachment**

4 Comment types now exist in Cherow - 'SingleLine', 'MultiLine', 'HTMLClose', and 'HTMLOpen'.

**Note:** No exported API for now, only internal.
[code]

[2018-06-30 00:04] fkleuver commented on #172
Not 2000 lines, but it does contain 2000 characters ;)
Why are you trying to run `ts-node`?

[2018-06-30 00:10] KFlash commented on #172
I converted the unicode compressor to a .ts file, and need to run it somehow to create the file. I changed how it worked locale based on your table lookup suggestion.

[2018-06-30 00:12] fkleuver commented on #172
Can't you just compile it with `tsc ./path-to-file.ts` and then run the js?

[2018-06-30 00:14] KFlash commented on #116
Closing this. See #173

[2018-06-30 00:14] #116 closed

[2018-06-30 00:14] KFlash commented on #102
Closing this. See #173

[2018-06-30 00:14] #102 closed

[2018-06-30 00:16] KFlash commented on #173
@g-plane I guess you can handle the `onComment` and `comment attachment` soon as I land latest changes? Everything have been lined out for you now.

[2018-06-30 00:17] KFlash commented on #172
Well. I got issues that way too. I may convert it back to js. Else others has to install ts-node global and not everyone does that.

[2018-06-30 01:23] KFlash opened #174 "Upcoming lexer code will not be compatible with Master branch"
A refactored lexer code will land as a PR within a few days. It will change it all, and it will not be
compatible with current Master branch.  There will be too many big changes to make that possible.

Features that will land soon:

- Comment collecting. (*comment attachment is a @g-plane *todo**)
- Tokenizing
- API changes
- Improved unicode scanning

cc / @fkleuver @g-plane @Aladdin-ADD

[2018-06-30 03:02] KFlash commented on #172
@fkleuver This was working before, but something is weird with this workflow. Compiling as you suggested results in

[code]

[2018-06-30 04:12] KFlash commented on #174
**Note:** The lexer will be incompatible mainly because there are no parser object anymore!!

[2018-06-30 07:43] KFlash commented on #117
I'm closing this as fixed.  It will land in my PR within a few days. 66 000 string literal tests will back up my words!

[2018-06-30 07:43] #117 closed

[2018-06-30 07:44] KFlash commented on #150
Closing this as it is on my TODO. And will land in my next PR.

[2018-06-30 07:44] #150 closed

[2018-06-30 07:44] KFlash commented on #163
Closing this as fixed. It will land in my next PR.

[2018-06-30 07:44] #163 closed

[2018-06-30 07:45] KFlash commented on #110
Closing this due to inactivity and lack of response from the author of this issue ticket. Please re-open if I'm wrong.

[2018-06-30 07:45] #110 closed

[2018-06-30 07:46] KFlash commented on #172
Closing this for two reasons 1) found a workaround 2) inactivity

[2018-06-30 07:46] #172 closed

[2018-06-30 08:04] g-plane commented on #110
Why not keep open to track it?

[2018-06-30 14:18] KFlash opened #176 "Template literal and tokenizing"
The new Idea for template literal implementation is that we are using a context flag to mark if we are inside a template or not. This also as an replacement for rewinding the lexer when we find a `}`.

Then in tokenizer, we only have to add the `Context.InTemplate` mask and the end-user wouldn't need to manually rewind.

cc / @fkleuver Any thoughts?

[2018-06-30 15:29] fkleuver commented on #172
You'd probably need to specify the tsconfig actually. Sounds like it doesn't have the standard `node` types which are normally specified in tsconfig. You generally can't just transform js to ts and expect it to transpile without errors, without looking at the tsconfig. I'll tackle this as well with the project system rework.

[2018-07-01 07:32] g-plane opened #178 "Use Prettier on partial files."
The code in this repository is really very messy and it's hard to read. The source code of cherow is worth learning, but I have trouble to read it because of the mess of the code.

I know there are some files which shouldn't be formatted by Prettier, such as https://github.com/cherow/cherow/blob/master/packages/cherow/src/common.ts . Thus, we can run Prettier on partial files, instead of all the s

[2018-07-01 13:36] KFlash commented on #163
@Aladdin-ADD Solved this just now

[2018-07-02 00:10] KFlash commented on #174
@g-plane The comment attachment / collecting should be easy to implement now. The comment types is `enum` and I packed the comments end value with `CommentType`, so if you need the comment type, you just shift like this `state.commentType >> 24` and it should works.

There exist tests for this in case you are in doubt.

You may consider to pack the comment start in the same way and rename  `state.

[2018-07-02 02:42] KFlash commented on #176
Closing due to lack of response. And it will be implemented like I described.

[2018-07-02 02:42] #176 closed

[2018-07-02 03:14] fkleuver commented on #178
I would suggest you try this on a separate branch so we can easily clone it and have a look through it. Reviewing 10.000 replaced lines via Github is impossible.

While I do agree there are a lot of issues with white space and indentation, the alignment is generally fine (and better than what a formatter would provide). I've eluded numerous times that you probably can't automate this. It's simply

[2018-07-02 11:56] KFlash commented on #173
Closing. This has to be documented somewhere. @Aladdin-ADD Something you can fix?

[2018-07-02 11:56] #173 closed

[2018-07-02 11:57] KFlash commented on #174
@fkleuver @Aladdin-ADD @g-plane I brought the lexer back to life now. It's not compatible with Master branch, but everything is back on track again.

Tokenizing and comments and all known issues have been taken care off.

I still need to optimize and tweaks this. That's my next TODO.

[2018-07-02 12:43] g-plane commented on #178
This is why I suggest using git `precommit` hook which can be done automatically without any manual operations. **Remember to use `.prettierignore`.**

Complexity is another hand, while the messy code is preventing me from reading and understanding the code.

[2018-07-02 22:33] KFlash opened #179 "Don't create PR if you can't finish them"
To avoid too much noise on this repo, don't open PR's if you can't or will finish them. At the moment we have 5 open PR. One of this PR have been inactive for the last 15 days - https://github.com/cherow/cherow/pull/153

We also have two PR - closed now - for string literals and `ecmaVersion` option. This also make up some noise on the repo.

Just be 100% sure before you open a PR. Also be sure th

[2018-07-02 22:36] KFlash commented on #133
I guess this is stall? Inactive for the last 8 days now, and no PR follows this issue or any signs of workflow improvements. This issue will be closed within a few days if no action taken.

cc / @fkleuver @Aladdin-ADD

[2018-07-02 22:37] KFlash commented on #98
Closing this. Will re-open again if needed in the future.

[2018-07-02 22:37] #98 closed

[2018-07-02 22:38] KFlash commented on #174
Closing this too. Kind of pointless to update a "wall" regarding my progress, and I'm pushing directly from now on. @g-plane knows what to do with the comments.

[2018-07-02 22:38] #174 closed

[2018-07-02 22:59] KFlash commented on #178
@g-plane Maybe follow up this issue with a separate branch as @fkleuver suggested?

[2018-07-03 00:37] KFlash opened #180 "devs involved in this project"
This list shows the devs involved in this project. I excluded myself from the list. This list will exist until documentation is fixed.

- [薛定谔的猫](https://github.com/Aladdin-ADD) **state:** active

* [g-plane](https://github.com/g-plane)  **state:**  Apparently inactive. Only replies on issues / PR

* [fkleuver](https://github.com/fkleuver)  **state:**  Apparently inactive

[2018-07-03 02:15] g-plane commented on #178
Well, I will work on a new branch.

[2018-07-03 03:10] g-plane commented on #179
I really don't recommend to push directly.

[2018-07-03 03:31] KFlash commented on #179
I have pushed directly from start. As long as I'm only dealing with src folder there is no issue.

[2018-07-03 03:38] g-plane commented on #179
I still recommend to open PR. Once you opened a PR and there are no any reviews **in several days**, you can merge by yourself.

[2018-07-03 03:38] #179 closed

[2018-07-03 03:54] KFlash commented on #179
The issue is that somneone open PR and 1) never finish them or 2) never merge them

[2018-07-03 10:00] g-plane commented on #133
DO NOT close it for tracking.

[2018-07-03 14:03] Aladdin-ADD commented on #180
acutally I'm not active due to RL job.   (;￢＿￢)   

[2018-07-03 14:10] KFlash commented on #180
Update the info or close the issue. I guess you finish a PR now so can add the info there.

[2018-07-04 04:33] KFlash commented on #149
@Aladdin-ADD I give you admin rights to fix this. I will remove the rights after 30 min.

[2018-07-04 08:08] KFlash opened #181 "Lexer performance"
I still need to optimize the lexer code,, but overall it performs at least average.

This illustrate the lexer performance compared to Acorn and Esprima. Please note that no parsing is involved. It's around 10 mill ops/sec in difference.

**Note:** The Babel parser doesn't support AnnexB, so can't add it to this list

[code]

[2018-07-04 08:16] KFlash commented on #181
@fkleuver I may think it's possible to perform around 15 mill ops/sec for WS and comments. Is it worth it?

[2018-07-04 09:05] KFlash commented on #181
No point to have this open? Closing.

[2018-07-04 09:05] #181 closed

[2018-07-05 00:16] KFlash opened #184 "Master branch code will soon change"
The lexer code will be merged into master branch within a day or two. When that happens the parser code will be removed.

This is considered as a major step forward to complete Cherow 2.0.

Be aware the entire code structure have changed so it's not possible to merge with current master.

Finishing the parser code is my next focus after this land.

**Key changes for lexer;**

- `onToken` for token

[2018-07-05 02:48] KFlash opened #185 "Finish `onToken`"
It's pretty straight forward ...

In `src/lexer/scan.ts` find the `nextToken` function. You will notice it uses two function calls.
Refactor it to use one function call, and return something like this:

[code]
The changes has to be done inside the `src/lexer/tokenizer.ts` file.

In same file use table lookup for token types. The table exist within the same file.

Last. Attach location tracking if

[2018-07-05 02:52] KFlash opened #186 "Copy & paste test values"
In `tests/lexer/identifier.ts`. Uncomment the code I commented out for `raw` property. if you now run the tests around 150 of them will break!

For each breaking test you simple look at each and one of them and copy the `value` and paste it in as `raw` property and the tests should run again.

If the test still not run, you have to notify me so I can fix it ASAP.

[2018-07-05 02:55] KFlash commented on #184
I'm sorry for this, but I'm merging to Master branch now, and will follow up with a few small PR's.

[2018-07-05 02:57] #184 closed

[2018-07-05 03:32] KFlash opened #188 "Parser code"
I'm going to develop the parser again within a few days. It's an easy task. The validation part will take a little longer time.

I'm not a computer even if it's feels like it sometimes. And I also have a RL that need my attention the next days.

[2018-07-05 14:19] Aladdin-ADD opened #190 "make a eslint-config disallowing some time-consuming functions"
based on http://incaseofstairs.com/six-speed/, we can figure out an eslint config. it can catch these usage while linting.
refs: https://www.npmjs.com/package/eslint-plugin-es

[2018-07-06 04:50] Aladdin-ADD opened #193 "cherow-eslint, cherow-ts tests failing"
version: master

repro:
+ `cd packages/cherow-esint`
+ `npm run test`

some tests failed:(cherow-ts was similar)
<details>

  ✖ convert › convert comments type Error thrown in test
  ✖ parse › when strict mode error occurs
  ✔ parse › throw an error when using the `y` regex flag
  ✔ parse › throw an error when using the `u` regex flag
  ✖ parse › reset lastToken on each parse Error thrown in test

[2018-07-06 05:08] KFlash commented on #193
cc/ @g-plane

[2018-07-06 05:12] Aladdin-ADD commented on #193
seems cherow-ts tests failed, too.

[2018-07-06 10:41] KFlash commented on #188
I'm closing this now. I will start on the parser code within 24h hours.

[2018-07-06 10:41] #188 closed

[2018-07-07 00:26] KFlash opened #197 "comment attachment"
Seems like we have got a challenge if we try to follow what's mentioned in https://github.com/cherow/cherow/issues/64.

Let's say we want to parse out an simple literal node. That node is wrapped inside a Expressionstatement node. So if we try to parse this `/* foo */ 123`. What node should we use?

The main point here is that we will trigger `onComment` in `finishNode`. Only way to do it if we sh

[2018-07-07 08:59] g-plane commented on #193
I assume that there are some breaking changes in the core of Cherow.

[2018-07-07 09:11] KFlash commented on #193
No breaking changes there my, friend. Everything up to date with the ECMAScript specs.

[2018-07-07 09:16] g-plane commented on #193
I will check it later.

[2018-07-07 09:17] g-plane commented on #197
Not only me but also everyone can do that because I'm not sure if I can finish it.

[2018-07-07 09:18] KFlash commented on #197
If you start on it, I'm sure someone else can continue on your PR in case you can't finish.

[2018-07-07 09:20] g-plane commented on #197
I haven't started to do anything.

[2018-07-07 09:32] KFlash commented on #197
Just take your time. If you can't do it because of RL stuff. We all understand that. But if that's the case I may suggest you close this issue, and open a new issue with a help wanted badge and a brief description of the problem and how it is thought to be resolved.

[2018-07-07 09:34] g-plane commented on #197
No need to close it and just add "help wanted".

[2018-07-07 19:30] coreybutler commented on #64
I wound up with a more complex solution than I'd hoped, but it works.

Remember, my use case is generating documentation of OOP-style code ([metadata-generator](https://github.com/ngnjs/documentation-metadata-generator)). I used a build process to extract comments separately from the AST, then combine the output. The effect: it generates metadata based on the AST, allowing inline comments to overr

[2018-07-12 12:14] KFlash commented on #190
@Aladdin-ADD do u plan to add a PR for this?

[2018-07-12 12:15] KFlash commented on #178
@g-plane created the new branch yet?

[2018-07-13 00:59] g-plane commented on #178
Not yet. I'm working on other projects sorry, but I will try in next few days.

[2018-07-14 09:46] KFlash opened #211 "Unnecessary field initialization. Field explicitly initialized to undefined:"
I get this message with TS now `Unnecessary field initialization. Field explicitly initialized to undefined:`

It's related to [this code](https://github.com/cherow/cherow/blob/master/packages/cherow/src/state.ts#L57)

cc / @fkleuver @Aladdin-ADD

[2018-07-15 00:33] KFlash opened #216 "v. 2.0 stress testing"
I brought Cherow 2.0 back to life, and it does basic parsing. However. It need to be stress tested so we can locate all bugs. I'm sure I missed a few at least !

It does not fail yet, but that will be in a separate PR.

If any bugs found, report them to me and I will fix it ASAP.

cc / @fkleuver @g-plane @Aladdin-ADD

[2018-07-15 17:05] KFlash commented on #216
Closing this. I'm solving it myself.

[2018-07-15 17:05] #216 closed

[2018-07-15 17:05] KFlash commented on #211
@fkleuver Closing. As I guess this is a non-issue? And the chinese seems to be on vacation.

[2018-07-15 17:05] #211 closed

[2018-07-21 05:08] Aladdin-ADD commented on #149
I'm going to close it, please feel free to reopen if it still happenes.

[2018-07-21 05:08] #149 closed

[2018-07-21 05:13] Aladdin-ADD commented on #190
sorry to be late!
it's related to #133 , I'd like to see @fkleuver's thoughts on this.

[2018-07-21 12:32] KFlash commented on #190
I see. I got some RL trouble to handle this day, but will be active within a few days

[2018-07-21 12:33] KFlash commented on #149
@Aladdin-ADD CircleCi didn't finish?

[2018-07-22 16:51] rilut opened #230 "Error while yielding variable named `module`"
**Code**

[code]

**Expected behavior:**

yielding a variable named `module` should not error

**Actual behavior:**

SyntaxError: Line 4, column 14: Unexpected token 'module'

[2018-07-22 17:06] KFlash commented on #230
Are you using the current Master branch? Or 1.6.8?  V. 2.0 is currently a WIP

[2018-07-22 17:11] rilut opened #231 "Error while declaring a function named `async`"
**Code**

[code]

**Expected behavior:**

Should not error while declaring a function named `async`

**Actual behavior:**

SyntaxError: Line 3, column 34: Unexpected token '.'

[2018-07-22 17:11] KFlash commented on #230
This works in v. 1.6.8. See [online demo](https://cherow.github.io/cherow/?code=c.parseScript(%60%0Aclass%20C%20%7B%0A%20%20%20%20*gen(id%2C%20module)%20%7B%0A%20%20%20%20%20%20%20%20yield%20module.mount(this)%0A%20%20%20%20%7D%0A%7D%60)%20%2F%2F%20errors&method=parse&range=true&loc=undefined&next=false&module=false&raw=false&jsx=undefined&directives=undefined&attachComment=undefined&early=false)

[2018-07-22 17:17] KFlash commented on #231
I can reproduce this one in 1.6.8..

[2018-07-22 17:19] rilut commented on #230
I'm using 1.6.8 on Node v9.8.0. Yes you're right, it works on the online demo.

I have no idea why it errors on my node:

[code]

[2018-07-24 04:34] mobljs opened #232 "cannot parse arrow function with parameters"
this without parameters can work :
cherow.parse(`
class Some {
		render=( )=>{
			return null;
		}
}`);

but this can not :
cherow.parse(`
class Some {
		render=(a,b)=>{
			return null;
		}
}`);

[2018-07-24 06:00] KFlash commented on #232
what's the error message you got?

[2018-07-26 13:25] Aladdin-ADD opened #233 "cherow v2.0.0"
this issue is to track cherow todo in v2.0.0.

- [ ]  new workflow
- [ ] pass all test262
- [ ] `cherow@2.0.0-alpha` release
- [ ] `cherow@2.0.0-beta` release
- [ ] `cherow@2.0.0` release

[2018-07-26 13:29] Aladdin-ADD commented on #231
is it still happen on master? I'm not sure we have enough manpower to maintain 2 release line.
/cc @KFlash

[2018-07-27 06:08] KFlash commented on #231
Confirmed. This will parse with v. 2.0 on Master

[2018-08-11 08:13] KFlash commented on #233
Delays in my end with current 2.0 version. I'm soon back on track

[2018-08-11 08:14] KFlash commented on #232
It will be solved in 2.0

[2018-08-26 14:59] davidbonnet opened #235 "Wrong comment line/column location"
Line/column locations of comments are off. In particular, end locations sometimes appear before start locations.

Furthermore, documentation should specify whether lines and columns are one- or zero-based.

**Code**

Tested on `cherow@1.6.8`.

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

[2018-11-01 21:54] calebboyd opened #237 "Await expression not allowed in formal parameter"
**Code**
https://github.com/GoogleChrome/puppeteer/blob/cd54ce388eec426034ae7b7ee5058e54b5ac5da8/lib/Launcher.js

**Expected behavior:**
Should parse the file
**Actual behavior:**
`SyntaxError: Line 104, column 29: Await expression not allowed in formal parameter`

[2018-11-21 22:01] joaomilho commented on #232
The same goes when you have the lambda in an export default:

[code]

[2018-11-28 06:18] KFlash opened #238 "Cherow 2.0 coming soon..."
After several month with offline issues I'm finally back! Still I will not be in active development mode before December 11. After I will finish Cherow 2.0.

@fkleuver can you look at the workflow and see of it can be ready?

@g-plane @Aladdin-ADD  you 2 still plan to help out?

[2018-11-28 06:20] KFlash commented on #237
Which version of cherow is this?

[2018-11-28 06:21] KFlash commented on #235
Thanx for the report. I may think this fixed I v.2.0? Latest version will be finished soon

[2018-11-28 07:40] g-plane commented on #238
I'm student so I can't have full time on it.

[2018-11-28 07:43] KFlash commented on #238
@g-plane I'm aware of that. Also me. Im Retired now.

[2018-11-28 09:10] davidbonnet commented on #235
Cool! Haven't checked v2 yet but will soon.

[2018-11-28 12:08] calebboyd commented on #237
1.6.8

[2018-11-28 12:16] KFlash commented on #237
OK. There will be no 1.6.8 fixes but should work in 2.0. No npm release of 2.0. Hopefully before December 24. Try bundle current 2.0

[2018-12-01 00:39] KFlash commented on #232
This is an 1.6.8 bug. Will be addressed in 2.0

[2018-12-01 08:03] Aladdin-ADD commented on #238
glad to see you back!
like @g-plane, I don't have full time on it

[2018-12-01 08:36] KFlash commented on #238
Progress? I'm starting to finish 2.0 by December 12. Waiting for my ISP to
install net and my new government issued ID.

When I start again I'm going to add back in all features needed and make
sure it parse according to the specs.

I'm also looking into the possibility to extend cherow with plugins. Ideas
how to implement solid plugin system?

On Sat, Dec 1, 2018, 4:27 PM Pig Fang <notifications@

[2018-12-01 09:09] g-plane commented on #238
Will the plugin system impact the performance?

[2018-12-01 09:30] KFlash commented on #238
It shouldn't. Just need to find a good way to implement it.

On Dec 1, 2018 5:09 PM, "Pig Fang" <notifications@github.com> wrote:

Will the plugin system impact the performance?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/cherow/cherow/issues/238#issuecomment-443412052>, or mute
the thread
<https://github.com/notifi

[2018-12-01 09:33] g-plane commented on #238
And I think we should publish 2.0 first. After that we can consider to implement it.

[2018-12-01 09:42] KFlash commented on #238
Agree. It could land in 2.1. But first of all I need the workflow fixed
before anything

On Dec 1, 2018 5:33 PM, "Pig Fang" <notifications@github.com> wrote:

And I think we should publish 2.0 first. After that we can consider to
implement it.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/cherow/cherow/issues/238#issu

[2018-12-01 09:51] Aladdin-ADD commented on #238
`workflow fixed` means ? the publish was blocked by it?

[2018-12-01 10:02] KFlash commented on #238
Fkleuver was working on setting up a new workflow

On Dec 1, 2018 5:51 PM, "薛定谔的猫" <notifications@github.com> wrote:

workflow fixed means ? the publish was blocked by it?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/cherow/cherow/issues/238#issuecomment-443414244>, or mute
the thread
<https://github.com/notification

[2018-12-01 22:14] fkleuver commented on #238
@KFlash Before we dig into the workflow, let's first decide what to do with the packages that are currently out of sync with cherow. I believe `cherow-ts` won't build. We constrained the workflow to build cherow only.

For this workflow to be proper, all packages should be released with the same versions. That means:
- All packages must be compatible with each other at all times (breaking cherow's

[2018-12-01 22:40] KFlash commented on #238
I get the point with the packages should be in sync and as it is now both the flow and ts packages can cause confusion for others. The main idea behind them was to support the same as Babel parser due to its popularity. But now as time has gone by and the main dev on this project went on a long journey there was no one to finish it. So for now I agree in your suggestions. Plus the fact that TypeSc

[2018-12-02 00:34] g-plane commented on #238
Can we let the users write their own TypeScript parser through the plugin system?

[2018-12-02 01:12] KFlash commented on #238
There will not be anything like a "normal" plugin system. See what
@fkleuver suggested. I also got several ideas, but that's for the future.
With my ideas it should be possible but also know we are using bitmasks for
various parts of the code. And you know the difficulties we ran into in the
past.

If a TS parser is an actual thing to do in the future and you will gain
best performance. Just use t

[2018-12-02 13:53] KFlash opened #240 "Need to update package.json"
Package.json need to be updated

Cc/ @fkleuver @Aladdin-ADD @g-plane

[2018-12-02 14:20] g-plane commented on #240
Can you state the details?

[2018-12-02 15:01] futagoza commented on #238
I like Cherow's speed, but if you put in a plugin system (for example, like Acorn's `Parser.extend`) this will encourage developers to use something that _will_ drop performance. Instead, don't add a plugin system, and write down a guide (or a few) that explains how to natively extend the parser without breaking stuff or losing performance (a guide on the bitmasks used should be added too)

[2018-12-02 15:05] KFlash commented on #240
Just bump version numbers

On Sun, Dec 2, 2018, 10:20 PM Pig Fang <notifications@github.com wrote:

[2018-12-02 16:07] KFlash commented on #238
Agree that a plugin system like in Acorn doesn't fit for cherow due to perf
regression. But I got a few other ideas for a future release.

Regarding the perf. 2.0 will be much faster than 1.6.8 and I'm going to
improve the perf even more soon as I can start to work on this again.

On Sun, Dec 2, 2018, 11:01 PM Futago-za Ryuu <notifications@github.com
wrote:

[2018-12-03 00:37] Aladdin-ADD commented on #240
the master is build failing. do you mean to try to fix it?

[2018-12-03 01:08] Aladdin-ADD commented on #240
I can take it.

[2018-12-03 02:42] KFlash commented on #238
See hitter Chanel for my latest state

[2018-12-03 05:31] #240 closed

[2018-12-03 05:40] Aladdin-ADD commented on #133
another thoughts: consider switching to [microbundle](https://github.com/developit/microbundle), so we can remove some dev deps like `rollup`, `rollup-plugin-*`.

[2018-12-03 05:43] Aladdin-ADD commented on #197
the eslint team have decided to remove `comment attachment` from espree. maybe we can reconsider the issue?

[2018-12-03 06:01] KFlash commented on #197
Agree. Just close this and I will clean up the code when I get to work
again. The comment code itself will change anyway soon

On Mon, Dec 3, 2018, 1:43 PM 薛定谔的猫 <notifications@github.com wrote:

[2018-12-03 06:50] g-plane commented on #238
Should we remove the `cherow-ts` and `cherow-flow` packages from this repo?

[2018-12-03 06:55] KFlash commented on #238
That's the idea but ping fkleuver for it. He is doing the workflow stuff

On Mon, Dec 3, 2018, 2:50 PM Pig Fang <notifications@github.com wrote:

[2018-12-03 06:57] g-plane commented on #238
Can I send a PR to remove them?

[2018-12-03 07:00] KFlash commented on #238
You can, but cc fkleuver

On Mon, Dec 3, 2018, 2:57 PM Pig Fang <notifications@github.com wrote:

[2018-12-03 07:03] g-plane commented on #238
Oh, it may be better that let him do this work.

[2018-12-03 07:09] KFlash commented on #238
Maybe. I'm going to start finishing this project in 7 days so I kind of
hoped the workflow was fixed by then

On Dec 3, 2018 3:03 PM, "Pig Fang" <notifications@github.com> wrote:

Oh, it may be better that let him do this work.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/cherow/cherow/issues/238#issuecomment-443608842>,

[2018-12-03 10:33] fkleuver commented on #133
Rollup is fine.

[2018-12-03 10:39] g-plane commented on #133
Microbundle uses Rollup internally, so microbundle is fine too.

[2018-12-03 11:10] fkleuver commented on #133
->

By adding another dep?

[2018-12-03 11:11] g-plane commented on #133
No, just microbundle.

[2018-12-03 11:16] fkleuver commented on #133
Looks a lot like parcel. I don't buy into zero-configuration bundlers, it's a lie. It's just no *bundler-specific* configuration, which still means configuration, but less control.

[2018-12-03 16:04] futagoza commented on #133
I just quickly looked through your Rollup configs, and unless you not only want to want to lose automatic version string replacement but also creating multiple outputs via one config, I'de advice against it.

What I would suggest is (and what I usually end up doing in monorepo's it seems), create a local private package (e.g. `tools/rollup`, adding `tools/*` to your `workspaces` field) which does

[2018-12-03 20:51] fkleuver commented on #133
Don't worry, I'm redoing the rollup config as well. In the process of doing everything that's called via nps from scratch :)
What I had in mind is a bit similar to what you're suggesting - a local script file that calls the rollup API programmatically directly.

[2018-12-06 00:09] KFlash commented on #133
@fkleuver what's the state of the workflow? 4 days now and I should be back again

[2018-12-06 01:07] KFlash commented on #235
I'm closing this as it will be permanent fix I 2.0

[2018-12-06 01:07] #235 closed

[2018-12-06 01:07] #197 closed

[2018-12-06 01:09] KFlash commented on #237
Closing as this will be fixed in 2.0

[2018-12-06 01:09] #237 closed

[2018-12-06 01:09] #232 closed

[2018-12-06 01:10] KFlash commented on #193
Closing as this will be fixed in new workflow

[2018-12-06 01:10] #193 closed

[2018-12-06 01:10] #186 closed

[2018-12-06 01:11] KFlash commented on #231
Will be fixed in 2.0. Closing

[2018-12-06 01:11] #231 closed

[2018-12-06 01:11] #185 closed

[2018-12-06 01:12] KFlash commented on #190
Cc @fkleuver

[2018-12-06 01:54] KFlash opened #245 "Roadmap v. 2.0"
This is just short info so I can keep track of what to fix.
Additional features or others things. Add an comment.

- [ ] improve lexer and get rid of lookahead as found in all parsers. In cherow its a perf killer.

- [ ] full scoping incl lexical scoping

- [ ] tokenization

- [ ] regex validator with dependency on lexer code for faster validation

- [ ] improved support for esnext through options

[2018-12-06 02:49] fkleuver commented on #190
@Aladdin-ADD what's the precise benefit of this?

[2018-12-06 02:51] fkleuver commented on #133
What are your short term needs with the workflow? You're mostly just interested in quick builds, quick tests and lots of green CI checkmarks right? Or do you want to start publishing asap as well?

[2018-12-06 02:54] fkleuver commented on #245
@KFlash Have you considered wasm? Its performance has improved a lot lately, and so has the tooling

[2018-12-06 03:10] KFlash commented on #133
When I work I only need the watch task working and the tests. But seems
like people was waiting 2.0 so if publishing nightly builds could be done
too. Plus a REPL

On Thu, Dec 6, 2018, 10:51 AM Fred Kleuver <notifications@github.com wrote:

[2018-12-06 03:13] g-plane commented on #133
A question: do we need a REPL like AST explorer (https://astexplorer.net) ?

[2018-12-06 03:15] KFlash commented on #245
I was thinking of it. Let see in v. 2.10. Need to get 2.0 finished first

On Thu, Dec 6, 2018, 10:54 AM Fred Kleuver <notifications@github.com wrote:

[2018-12-06 03:16] g-plane commented on #245
Can WASM be ran in Node.js?

[2018-12-06 03:17] KFlash commented on #133
I would need it in my work and cherow isn't on astexplorer. So sometimes I
need to see the last Cherow generate. Plus its OK to have a repl as demo
but also if people encounter a bug. They can use it to pinpoint the bugs

On Thu, Dec 6, 2018, 11:13 AM Pig Fang <notifications@github.com wrote:

[2018-12-06 03:18] KFlash commented on #245
Only browsers I think. Look at their homepage

On Thu, Dec 6, 2018, 11:16 AM Pig Fang <notifications@github.com wrote:

[2018-12-06 03:20] g-plane commented on #245
So it will confuse Node.js user.

[2018-12-06 03:29] KFlash commented on #245
@futagoza thanx for the info. Then I will try fix this if possible in later version and ship both a js version and one in wasm.

@fkleuver  the workflow can handle that? We need to be carefully so @g-plane don't get panic

[2018-12-06 03:33] futagoza commented on #245
@g-plane https://github.com/AssemblyScript/assemblyscript :sunglasses:

[2018-12-06 03:34] g-plane commented on #245
@futagoza I have really heard of this before.

[2018-12-06 15:44] Aladdin-ADD commented on #190
I've found some ES6+ features are not allowed in the repo(for performance issues), when I made the first contributing. It would be nice that these unexpected usage can be caught by the linter.

just my 2 cents, please feel free to close the issue if you don't think it's worth adding. :)

[2018-12-06 22:49] fkleuver commented on #190
@Aladdin-ADD Ah, I see. Sounds pretty interesting actually. Would we need to define custom rules by hand or is there some kind of external source that's kept up-to-date automatically that we can tap into? That would really help I think

[2018-12-07 01:07] KFlash commented on #238
@fkleuver @Aladdin-ADD @g-plane I have my license now and my return to this project is very near. Please note that I feel my time as a developer is soon to end but I want to give something back to ES community so I will focus 100% on this project and use all my 28 years of knowledge to finish it. I may do some crazy things and. I no longer expect that this code will be understandable for everyone.

[2018-12-07 03:43] fkleuver commented on #238
In other words, nothing changes ;)

Looking forward to it!

[2018-12-07 03:53] futagoza opened #246 "Clarify some parser options"
I was just adding the parser to my project, and setting the options, but came across some that I wasn't sure about. Can you please clarify the following:

- *loc* - are lines and columns calculated regardless of this option?
- *skipShebang* - what does the parser do if this is false? (e.g. does it return AST with raw string?)
- *node* - what do you mean 'bypass scoping when run in a NodejS environ

[2018-12-07 03:54] KFlash commented on #238
@fkleuver I'm ony way to buy computer now. I chooses to leave 6 months without. But I'm not back before Monday night your time.

[2018-12-07 04:03] KFlash commented on #246
*loc* will only set location on each last node if set. Its calculated in lexer always due to performance reasons. But works the same as in other parsers.

*skipShebang* only skip the hash on first line. Think Unix console and comments. Esprima doesn't do this but acorn does similar for comments

*node* isn't done yet. It will in future let you use the native regex validator in browsers and nodeJS

[2018-12-07 04:16] Aladdin-ADD commented on #190
there are some useful tools to achieve this:

+ [eslint-plugin-es](https://github.com/mysticatea/eslint-plugin-es) lets us disable each syntactic feature individually
+ [typescript-eslint-parser](https://github.com/eslint/typescript-eslint-parser) allow for ESLint to lint TypeScript source code
+ [eslint-plugin-typescript](https://github.com/bradzacher/eslint-plugin-typescript) TypeScript plugin f

[2018-12-07 04:30] g-plane commented on #190
The eco-system of TSLint is not good as ESLint, so there is no plugin like `eslint-plugin-es` in TSLint. Using both can be OK.

[2018-12-07 04:34] futagoza commented on #246
lol thanks for the explanation, but I know what a shebang is 🤣 was curious if cherow returns something otherwise it looks like I'm going to have to implement this in my project as I need to know if there's a shebang within the given source as well as it's raw string.

As for the _node_ option, I would suggest you do one of the following:

- update the description for the option (currently seems to

[2018-12-07 04:34] #246 closed

[2018-12-07 04:37] KFlash commented on #246
Raw string is possible through options. It will add a raw property on the
ast node.

I will consider it all soon as I'm back

On Fri, Dec 7, 2018, 12:34 PM Futago-za Ryuu <notifications@github.com
wrote:

[2018-12-08 00:06] KFlash commented on #238
@Aladdin-ADD @g-plane @fkleuver the time has come and I'm back now!! I did my first code 6 hours ago. For now nothing will be pushed before next week and when workflow is done. Anyway I'm going to send a PR on my changes. I'm doing this in 3 steps

- lexer
- regexp validator
- parser

[2018-12-08 02:13] KFlash opened #247 "New and changed options in 2.0"
In Cherow 2.0 the parser options have changed.

* next
* ecmaVersion
* loc
* disableWebCompat
* module
* ranges
* globalReturn
* native
* impliedStrict
* jsx
* source
* experimental
* tokenize
* collectComments
* raw

The `raw` option changed from 1.6.8 and merged with `RawIdentifier`.

`disableWebCompat` option added to make it optional to parse with or without web compat restrictions. It's set b

[2018-12-08 02:33] KFlash commented on #247
Note that both `AnnexB` is enabled by default to be compatible with other parsers, and the `ESVersion` is set to latest. If the `next` option is set. It will override the `ESVersion` option.

[2018-12-08 03:45] KFlash commented on #247
@g-plane @fkleuver @Aladdin-ADD there and will probably be another new option too `buildAST` and set to default. With this option off cherow can be used as pure validator e.g. in a IDE environment. And without AST building this will be super fast.
This also solve a problem both Acorn and Esprima have with tokenizing. With this option set to off it can do tokenizing without building AST

[2018-12-08 13:04] KFlash commented on #238
@g-plane @fkleuver @Aladdin-ADD what you think? Stick to the "traditional" way of writing a parser or flatten the expression parsing into a huge and complex infinite state machine? It will then be needed to use different bit sets and pass only 3 arguments. Benefits is the performance and we can use locale variables. The negative effect of this is the complexity

[2018-12-08 17:05] futagoza commented on #238
@KFlash How about benchmarking a written prototype of that on your local machine, and if the new parser's performance is comparatively good enough, then you can decide if you want to replace the current lexer/parser?

As long as performance is upped (even a few ms) I don't mind things getting complicated in a project, but then again that's the reason I keep stalling release's, so probally somethin

[2018-12-08 17:32] KFlash commented on #238
The suggested solution will be around 10% faster. I already checked it.

Regexp validator is part of a parsers task but all parsers except acorn use validator used in browsers and node.

I already added a new option `native` that will handle this.

See my latest issue for update on the new options

[2018-12-08 21:48] fkleuver commented on #238
@KFlash The state machine approach will require some trade-offs. If you build it statically, you'll increase library size. If you build it dynamically, you'll increase initial startup time.

I think the lexer is a fine candidate for a state machine (it already almost is), but in the parser you need to pick your fights carefully. Some pieces are just not worth it.

For example, hot paths like call-

[2018-12-08 23:43] KFlash commented on #238
@fkleuver infinite state machine was for exression parsing only. But I found the best way to solve this now? Remember we talked about a different precedence climbing before? For tokens? To flatten the expression parsing is needed that way and would require you modify token.ts later on to add the new precedence values. I'm not there yet.

My main goal now is to get rid of all lookaheads and zero ba

[2018-12-09 01:04] KFlash commented on #238
@fkleuver another benefit with my changes in lexer is that we no longer need to use `charCodeAt` for punctuators and some other places. We are using a cached value for this instead. This will speed up things.

[2018-12-09 02:07] fkleuver commented on #238
@KFlash Caching means you'll have an object lookup you need to check with a particular assumption about how big the expression will be - one way or the other it's more operations for every single lexing operation in order to *potentially* save a few lexing operations. I don't see how that can speed things up. For reading out a string char-by-char, nothing is faster than `charCodeAt` and for matchi

[2018-12-09 02:19] KFlash commented on #238
Use of wrong words..

Look at this and I guess you understand.

[code]
In the table lookup we don't need to do `,charCodeAt`. We already have the `t` value.

[2018-12-09 04:07] KFlash commented on #238
@fkleuver and fixing the lookahead and avoid backtracking is easy. Done on the parser level.

[code]
Update the token like above and  If no lookahead match use `currentToken` and move on coz we already invoked the lexer.

[2018-12-09 11:01] aladdin-add opened #248 "document need to be updated"
I've found some issues in the readme:

- [ ] some links in the readme seems broken.
![image](https://user-images.githubusercontent.com/13050025/49696421-91152f00-fbe4-11e8-8e7f-b7e66ec4bfd5.png)
![image](https://user-images.githubusercontent.com/13050025/49696437-b144ee00-fbe4-11e8-9dad-63cd64e0039a.png)

- [ ] default options not documented (https://github.com/cherow/cherow/tree/master/packages/c

[2018-12-09 11:04] Aladdin-ADD commented on #247
`ESVersion` => `ecmaVersion` (be the same as other parsers)?

docs need to be updated anyway. (related #248 )

[2018-12-09 11:05] Aladdin-ADD commented on #233
Duplicate of #245

[2018-12-09 11:05] #233 closed

[2018-12-09 11:08] KFlash commented on #247
Can use the same name but I wrote `ESVersion` because `es` is shorthand for
`EcmaScript`

Update my post on it if u want

On Sun, Dec 9, 2018, 7:04 PM 薛定谔的猫 <notifications@github.com wrote:

[2018-12-09 11:10] KFlash commented on #248
Do you want to correct it in a PR?
You can also remove help wanted in readme in root

On Sun, Dec 9, 2018, 7:01 PM 薛定谔的猫 <notifications@github.com wrote:

[2018-12-09 11:30] futagoza commented on #247
Agree with @Aladdin-ADD, should be `ecmaVersion` so as to align with other parsers and avoid confusion.

Also, if [top level await statements](https://github.com/tc39/proposal-top-level-await) aren't supported by `Experimental` (haven't checked yet), then how about another option: `GlobalAwait`?

[2018-12-09 11:36] KFlash commented on #247
The `experimental` option will in 2.0 support the same experimental
features as in NodeJS / V8. If it supported there I will make sure its
supported in 2.0.

Both NodeJS and V8 have experimental option

On Sun, Dec 9, 2018, 7:30 PM Futago-za Ryuu <notifications@github.com wrote:

[2018-12-09 12:41] KFlash commented on #238
My new computer just burned up. Something wrong with the PSU. So don't expect any PR from me before maybe Thursday. I saved some work on a USB stick

[2018-12-09 13:06] KFlash opened #249 "Refator cherow-eslint to typescript"
@g-plane cherow-eslint need to be refactored

[2018-12-10 08:52] KFlash commented on #247
Allow hashbang skipping was done automatically in 1.6.8 and has it's own option in current 2.0. This will be a BC now because skipping a hashbang will only be possible with the `next` option set. This because of the Stage 3 proposal "Hashbang Grammar".

[2018-12-10 08:53] g-plane commented on #247
Does 2.0 support BigInt?

[2018-12-10 08:54] KFlash commented on #247
Yes. Also 1.6.8 support that.

[2018-12-11 13:20] KFlash commented on #238
@g-plane @Aladdin-ADD @fkleuver The time have now come guys. I am now completely back and I am going to finish Cherow 2.0. I installing my software now and will clone this repo soon after.

[2018-12-13 09:23] KFlash opened #251 "Test runner doesn't show test cases"
cc / @fkleuver

In the old days it was possible to see wich tests was running. No more? I'm kind of blocked if something fail or pass

[code]

[2018-12-13 10:08] futagoza commented on #251
The `-R` flag [here](https://github.com/cherow/cherow/blob/master/package.json#L58) tells Mocha to use the [`progress` reporter](https://mochajs.org/#reporters). I don't know what was used before, but if the flag wasn't set before, then it was using the default reporter, `spec`

[2018-12-13 10:56] fkleuver commented on #251
@KFlash You will still get details about failing tests. I thought you'd prefer the test runner to be faster - it's 2-5x faster when it doesn't report each individual passing test.

[2018-12-13 12:48] fkleuver commented on #251
@KFlash A solution to what? There was no problem lol

[2018-12-13 13:03] KFlash commented on #251
To see wich test fail and pass

On Dec 13, 2018 8:48 PM, "Fred Kleuver" <notifications@github.com> wrote:

@KFlash <https://github.com/KFlash> A solution to what? There was no
problem lol

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/cherow/cherow/issues/251#issuecomment-446956716>, or mute
the thread
<https://github.com/n

[2018-12-13 22:13] fkleuver commented on #251
That was already working. If you just deliberately make a test fail, you'll see. There was no problem. I just made it faster for you >.>

[2018-12-13 22:22] futagoza commented on #251
@fkleuver I think he just wants to see the test names, _regardless of the result_

[2018-12-13 23:15] KFlash commented on #245
2.0 is in progress. Until now a lot of experiments to figure out the best moves...
Just now I only finished regex validator and started on refactoring the lexer.
Working on tests...

[2018-12-13 23:55] fkleuver commented on #251
Maybe, but I know for a fact he concluded that he couldn't see failing tests before actually trying to fail a test.

[2018-12-14 00:12] KFlash commented on #251
I got 735 failing tests here at the moment.....

On Fri, Dec 14, 2018, 7:55 AM Fred Kleuver <notifications@github.com wrote:

[2018-12-14 22:15] KFlash opened #253 "CircleCI failing"
Cc . @fkleuver

[2018-12-14 23:56] KFlash commented on #247
All new options have been added, so take a look at latest PR for update. `disableWebCompat` is a new one, and let you disable AnnexB support.

[2018-12-15 21:14] KFlash commented on #253
@fkleuver Look at the CircleCI badge on the master branch. It was green with previous workflow, but it is now red Meaning it fails

[2018-12-16 01:13] fkleuver commented on #253
That's not the CircleCI badge. I removed them since those CI's are redundant (and disabled)

[2018-12-17 02:55] KFlash commented on #247
The `native` option is kind of redundant. @fkleuver How we solve this? The only purpose with this option is to use the *existing* regexp validator and scoping in `NodeJS` & `V8`. But we also have the `disableWebCompat` option which have an impact on how the scoping and regular expression validation works as well.

[2018-12-17 23:31] huochunpeng opened #254 "npm package file `i18next/dist/es/defaults.js` throws SyntaxError"
**Code**
I found this issue when parsing `i18next/dist/es/defaults.js`.

Simplified reproducible error:
[code]

**Expected behavior:**
Define a function named after "get" is fine in either browser or nodejs environment.
Define an object with a property "get" is fine in either browser or nodejs environment.
The parser should allow it.
As a reference, esprima can parse the above code.

**Actual beha

[2018-12-17 23:47] KFlash commented on #254
Thanx for this info. This will be fixed in v. 2.0. We don't do changes to 1.6.8 anymore because we focus on finalizing.

[2018-12-18 03:52] huochunpeng commented on #245
An example: [mozilla/source-map](https://github.com/mozilla/source-map) is using wasm in Nodejs, it requires few lines of code to load a wasm file in browser.

[2018-12-18 05:02] fkleuver commented on #254
@KFlash If it's possible to roll out a fix for this (even if it's just quick-n-dirty) that would be preferred to pushing this to 2.0, since 2.0 will probably take a few weeks/months. This is blocking @huochunpeng from using it for critical use cases in a bundler he's working on. Please reconsider.

[2018-12-18 05:13] KFlash commented on #254
If I fix that bug what will the version become? I can try looking into it
soon......

No timeframe on when 2.0 is done. Scoping and lexical bindings plus
bindings in general will take most of my time. I'm soon done with scoping...

On Tue, Dec 18, 2018, 1:02 PM Fred Kleuver <notifications@github.com wrote:

[2018-12-18 05:16] fkleuver commented on #254
1.6.9 (bugfix = patch bump)

[2018-12-18 07:36] KFlash opened #255 "Workflow build mess"
@fkleuver Before when we build cherow with both previous workflows the Rollup bundled files ended up in dist folder. With previous workflow the TS types ended up in a sub folder.

If you try to bundle now a lot of files ending up in the dist folder. No structure.
And we also got two sub folders now - "lexer" and "parser" because it is build by TS itself. In previous workflows this kind of build wa

[2018-12-18 07:40] KFlash commented on #255
We also never had something like this before in the bundled output. It take too much space. How can we keep it small sized?

[code]

[2018-12-18 08:34] KFlash commented on #254
@huochunpeng A fix for this exist now. Waiting for @fkleuver to bundle it and push to NPM

[2018-12-18 08:48] huochunpeng commented on #254
Thx! Guys.

[2018-12-18 09:25] futagoza commented on #255
Isn't that a normal output for TypeScript enums with string values?

[2018-12-18 09:27] KFlash commented on #255
If we want to keep the values but we didn't do that before

On Tue, Dec 18, 2018, 5:25 PM Futago-za Ryuu <notifications@github.com
wrote:

[2018-12-18 09:29] Aladdin-ADD commented on #255
@KFlash have you tried `npm run bundle`?

[2018-12-18 09:32] KFlash commented on #255
Yes. Still messy

On Tue, Dec 18, 2018, 5:29 PM 薛定谔的猫 <notifications@github.com wrote:

[2018-12-18 14:30] fkleuver commented on #255
@KFlash You need to remove the const enums from the public api first. If you're exposing them in the public api then you need to preserve them, or people who try to use them will get `undefined` reference errors.

As for the structure, this one is simple:
Type definitions and mappings are kept as-is - their structure simply stays identical to the `src` folder structure. This is to prevent duplicat

[2018-12-18 16:06] KFlash commented on #255
@fkleuver Are we actually going to expose the const enums now? We did it before and ran into issues but this time around I thought we should avoid it? That's one of the reasons I'm now using more than two arguments too. Before we only passed `state` and `context`, but now also we got `scope` and probably soon we get a few more. And even more const enums to keep track of. E.g. passing `BindingOrigi

[2018-12-18 16:14] KFlash commented on #245
I'm closing this as I have noted elsewhere what to do. I will probably try to publish both a JS and WASM version when I get around to it.

[2018-12-18 16:14] #245 closed

[2018-12-18 16:15] KFlash commented on #249
Closing as this is non-existing atm. @fkleuver ??

[2018-12-18 16:15] #249 closed

[2018-12-18 16:30] fkleuver commented on #255
If you're sure that you're not exposing the const enums via the public API then we can disable the preservation and save quite a bit of size

[2018-12-18 16:35] KFlash commented on #248
@Aladdin-ADD can you try to document somewhere that cherow 2.0 have annexB support enabled by default but you can disable it. If you disable the code will behave differently. E.g. in block scoping and lexical bindings

[2018-12-18 16:37] KFlash commented on #255
That's my main goal not to expose it. Off topic. Can you merge the PR you requested earlier and push to npm?

[2018-12-18 23:53] KFlash commented on #254
@huochunpeng I'm not sure why @fkleuver haven't merged and published this yet, but just wait for him.

[2018-12-18 23:54] huochunpeng commented on #254
nvm, holiday mode I guess :)

[2018-12-19 01:36] fkleuver commented on #254
@KFlash Work, man :) I'm not retired yet :)

Published now.

[2018-12-19 01:36] #254 closed

[2018-12-19 02:08] #255 closed

[2018-12-19 04:12] huochunpeng commented on #254
It worked.

[2018-12-21 01:43] KFlash opened #261 "Cherow 2.0 - Beta release"
Cherow 2.0 is in progress and an expected beta release will be shipped around mid of january 2019.

[2018-12-21 18:14] KFlash opened #262 "Performance vs. Code size"
@Aladdin-ADD @fkleuver what do we prefer. Performance or small code size? If we prefer code size I need to merge several method which will cause performance regression and unwanted branching. E.g. merging func decl with func expr require a lot of if else to keep track of current state.

[2018-12-21 21:07] fkleuver commented on #262
Merging function declaration with function expression parsing sounds reasonable, but I I'd argue for leaving them separate for now. When 2.0 is truly near completion we can always go around trying to merge stuff as a final polishing step but doing that before even the test suites are complete seems rather risky

[2018-12-21 22:36] futagoza commented on #262
I prefer performance :)

[2018-12-21 23:12] KFlash commented on #262
@fkleuver Agree that we should optimize and tweak in the end. Doing that now can break more than it can heal :)
@futagoza I prefer performance too, and to archive that goal I sometimes have to create different code paths and walk down them separately to avoid branching bottlenecks. If I do so, the code size will increase. Within a few hours I hope I will push a code snippet for object literal pars

[2018-12-22 00:14] g-plane commented on #262
I prefer performance.

[2018-12-22 00:20] KFlash commented on #262
Ok, guys. I will increase performance in the most critical parts of the parsing with a perfect hash 👍

[2018-12-22 03:15] Aladdin-ADD commented on #262
performance +1

offtopic: we have a team: @cherow/cherow-team , so you can use it and  no need to mention everyone in the team.

[2018-12-22 06:02] axefrog opened #263 "FunctionExpression 'expression' property is deprecated"
Just noticed an unexplained `expression` property in `FunctionExpression` and upon further investigation it appears to be deprecated.

https://github.com/estree/estree/blob/master/deprecated.md#functions

[code]

Screenshot of my own console output produced by cherow, in this case as the value of a `Property` in an `ObjectExpression`:

![image](https://user-images.githubusercontent.com/298883/5037

[2018-12-22 06:57] axefrog opened #264 "'computed' property always false in async object expression methods"
**version: 1.6.8**

Test case:

[code]

Output:

[code]

As you can see, `computed` is false, but should be true. I've tried with generator methods, but the issue only seems to occur when the `async` keyword is present.

**Update:** Just noticed this one also produces an incorrect value for `computed`:

[code]

Perhaps it's something to do with property keys that are preceded by a keyword?

[2018-12-22 07:50] KFlash commented on #263
The expression property are used for 2 reasons. The first one is to be compatible with other parsers, and also the arrow function uses it to determine if it's an arrow with / without an block body.

I'm agree that there is an difference from the ESTree specs for function decl & expr as seen [here](https://github.com/estree/estree/blob/master/es5.md#functions) and the arrow ESTree specs seen [here]

[2018-12-22 07:55] axefrog commented on #263
All good, just reporting what I see :)

[2018-12-22 07:55] #263 closed

[2018-12-22 08:32] KFlash commented on #264
Added a fix for this to fix it in 1.6.x. It's non existing in upcoming 2.0.

[2018-12-22 12:32] KFlash commented on #262
@cherow/cherow-team Guys! If we all prefer performance over code size we need to expect to see code {like this](https://github.com/cherow/cherow/blob/cherow_2/src/parser/expressions.ts). Is that acceptable?

[2018-12-22 12:54] g-plane commented on #262
What's the problem of that file?

[2018-12-22 13:15] KFlash commented on #262
@g-plane Is there any problem? As you see of this tread the question was performance vs code size. So in case we prefer performance we need to see code like that I linked too. It's has many more code lines comparing to a "slow" version.

[2018-12-22 17:02] fkleuver commented on #262
@KFlash What would be the slow version of that?

[2018-12-22 21:40] axefrog commented on #264
Thanks for fixing that!

[2018-12-23 01:20] KFlash commented on #262
Look at the old code. You parse out async, get, set first etc. Then you
need to backtrack to do the rest and call 'parseAssignmentExpression'
before ending up in a huge switch statement. For validation you need global
masks and a lot more.

That's a short explanation. You can also look at acorn and esprima for a
slow version

On Sun, Dec 23, 2018, 1:02 AM Fred Kleuver <notifications@github.com wro

[2018-12-23 01:47] KFlash commented on #262
@fkleuver And also doing a "slow version" will do it much harder to make the parser fails on cases like `(a, {a:a}) => {}`, `(a, {a}) => {}`. Then I'm also forced to do a "slow" implementation of the scoping code.

[2018-12-24 04:13] KFlash opened #268 "Breaking changes"
Cherow 2.0 will not be backward compatible with 1.6.x.

* Different options

* Shebang skipping have been changed to match stage 3 proposal

* Strictly follow ESTree. The ast will differ from other parsers

* Block scoping added. This haven't been implemented in Acorn so some code that can parse in Acorn may not parse in Cherow. Everything after the ECMA specs.

* The raw option been merged with r

[2018-12-24 22:01] michaeldzjap opened #269 "Inconsistent results with ObjectExpression"
**Code**

Case 1:

[code]

Case 2:

[code]

**Expected behavior:**

I would expect both `ObjectExpression` entrees in the generated AST to be equal. They mostly are, but not completely. Their `Property` entrees use a slightly different naming convention.

**Actual behavior:**

The resulting `ObjectExpression` for case 1 has a `Property` that looks like

[code]

whereas case 2 has an `ObjectExpress

[2018-12-24 22:10] michaeldzjap commented on #269
Hmmm ok, my fault. Case 1 produces an `Identifier` type and case 2 a `Literal` type. Only noticing now... I guess that is due to `JSON.strinigfy()`. Would not be fair to expect it to produce identical results then I guess. Will close.

[2018-12-24 22:10] #269 closed

[2018-12-25 04:08] KFlash commented on #268
@cherow/cherow-team What you guys think? All parsers try to be "AnnexB" compatible, but fails many places. Should we activate AnnexB support in 2.0 by default, or let it be off by default?

Please note that I now designed Cherow 2.0 to parse with AnnexB support by default, but you can switch it off through options.

[2018-12-26 01:59] KFlash opened #270 "Implement Class decorators?"
Should I implement Class decorators in v. 2.0 of Cherow? It's still an early proposal and it keep changing all the time. I'm not sure the proposal is mature enough.

In any cases I have to hide it under the `experimental` option.

[2018-12-26 02:34] g-plane commented on #270
Maybe we can add it in 2.1?

[2018-12-26 03:08] KFlash commented on #270
Maybe. I put this on hold for now.

On Wed, Dec 26, 2018, 10:34 AM Pig Fang <notifications@github.com wrote:

[2018-12-27 14:55] KFlash commented on #254
@huochunpeng @fkleuver Just let you guys know that this is also fixed in upcoming 2.0, but the logic is very different.

In the example given by @huochunpeng `cherow.parseModule('export {get}; function get() {};');` it will throw an error if the function name is invalid because export will only throw if there is no exported binding.

Examples:

[code]

This is all after the ECMA specs, but Acorn f